<div id="dashboard" class="dashboard">
  <%= render partial: "/common/navigation_tab"%>
  <div class="rtPanel">
	  <div class="btnHolder">			
			<button type="button" name="addContact" class="addContact">Add Contact</button>
		</div>
			<div class="colRow">
				<% @contacts.each do |ct| %>
		     	<div class="col3">
		          <h2><%= ct.title.capitalize %></h2>
						<span class="contact-subhead">
							<%= ct.description %>
						</span>
		  			<div class="contact-container">
		      	<h3><%= ct.name.capitalize %></h3>
		          <h4><%= ct.designation.capitalize %></h4>
		          <span class="contact-item contact-email"><%= mail_to "#{ct.email}" %></span>
		          <span class="contact-item contact-phone"><%= ct.phone_number %></span>            
		          <span class="contact-item contact-fax"><%= ct.phone_number %></span>
		      	</div>
		      </div>
		     <% end %>	          
		  </div>
  </div>
 </div>

	<%= render "contact_people/form" %>


<script type="text/javascript">
$(document).ready(function($){			
		var addOverlayFullHeight = '<div class="overlayFullHeight"></div>';				   
	$('.addContact').click(function(){							 
		  $('body').append(addOverlayFullHeight);
		  $('.popupOuter').show();								
		  })				
	$('.popupOuter .btnClose').click(function(){														 
				$('.overlayFullHeight').remove();
				$('.popupOuter').hide();
								 });
		 }); 
</script>