<div class="content-wrapper adm-inr">
  <div id="container-main">
<div class="modal-body">
	<div class="new-contact-type">
		<div class="new-contact-form" style="display: block;">
			<legend>Contact Details</legend>
			<% @contacts.each do |ct| %>
				<p><%= ct.title %></p>
				<p><%= ct.description %></p>
				<p><%= ct.name %></p>
				<p><%= ct.designation %></p>
				<p><%= ct.email %></p>
				<p><%= ct.phone_number %></p>
				<p><%= ct.mobile_number %></p>
			<% end %>
			<%= form_for @contact do |f| %>
				<fieldset>
					<legend>Add Information:</legend>
					<div class="control-group ">
						<label class="control-label">Name</label>
						<div class="controls">
							<input type="text" maxlength="100" size="40" value="" name="name">
							<span class="help-inline"></span>
						</div>
						<label class="control-label">Title</label>
						<div class="controls">
							<input type="text" maxlength="100" size="40" value="" name="title">
							<span class="help-inline"></span>
						</div>
						<label class="control-label">Description</label>
						<div class="controls">
							<input type="text" maxlength="100" size="200" value="" name="description">
							<span class="help-inline"></span>
						</div>
					</div>
					<div class="control-group ">
						<label class="control-label">Position</label>
						<div class="controls">
							<%= f.select :name, options_for_select(Position.all.map{|s|[s.name, s.id]}) %>
							<span class="help-inline"></span>
						</div>
					</div>
					<div class="control-group ">
					<label class="control-label">Gender</label>
					<div class="controls">
					<select name="gender">
					<option value="">---</option>
					<option value="female">female</option>
					<option value="male">male</option>
					</select>
					<span class="help-inline"></span>
					</div>
					</div>
				</fieldset>

				<fieldset>
				<legend>Contact details</legend>
				<div class="control-group ">
				<label class="control-label">Email</label>
				<div class="controls">
				<input type="text" maxlength="100" value="" name="email">
				<span class="help-inline">(max. 100 chars) </span>
				</div>
				</div>
				<div class="control-group  ">
				<label>Phone number</label>
				<input type="text" maxlength="10" value="" name="telephone_1">
				</div>
				<div class="control-group  ">
				<label>Mobile Number</label>
				<input type="text" maxlength="10" value="" name="telephone_2">
				</div>
				</fieldset>
				<fieldset>
				<legend>Address details</legend>
				<div class="control-group ">
				<label class="control-label">Address</label>
				<div class="controls">
				<input type="text" maxlength="100" size="40" value="" name="address">
				<span class="help-inline"></span>
				</div>
				</div>
				<div class="control-group ">
				<label class="control-label">Postal code</label>
				<div class="controls">
				<input type="text" maxlength="15" value="" name="zipcode">
				<span class="help-inline"></span>
				</div>
				</div>
				<div class="control-group ">
				<label class="control-label">City</label>
				<div class="controls">
				<input type="text" maxlength="100" size="40" value="" name="city">
				<span class="help-inline"></span>
				</div>
				</div>
				<div class="control-group ">
				<label class="control-label">Country</label>
				<div class="controls">
				<%= f.country_select :country, priority: %w(US CA), prompt: 'Please select a country' %>
				<span class="help-inline"></span>
				</div>
				</div>
				</fieldset>
				<%= f.submit %>
			<% end %>
		</div>
	</div>
</div>
<div class="height350 overflow">&nbsp;</div>
</div>
</div>