<% content_for :title, "BestNights.com - Add Room Type" %>

<header>
	<h1 class="prop-title">Add Room Sub Type</h1>
</header>

<div id="container-main">
	<%= form_for @room_sub_type do |f| %>
		<fieldset>
		  <ul>
		  	<li>
		  		<%= f.label 'Name*' %>
		  		<%= f.text_field :name %>
		  	</li>
		  	<li>
		  		<%= f.label 'Room Type*' %>
					<%= f.collection_select :room_type_id, RoomType.where("status =?", "active"), :id, :room_type, :prompt => true %>
				</li>
				<li>
					<%= f.label 'Hotel*' %>
					<% unless current_user.admin? %>
						<%= f.collection_select :hotel_id, Hotel.where("status = ?", "active"), :id, :name, prompt: true %>
					<% else %>
						<%= f.collection_select :hotel_id, Hotel.where("status=? AND user_id=?", "active", current_user.id), :id, :name, prompt:true %>
					<% end %>
				</li>
		  </ul>	
		</fieldset>
		<fieldset class="formactions">
			<%= f.submit %>
		</fieldset>
	<% end %>
</div>

<%= javascript_include_tag :jquery_ujs %>