<div class="bookconfTab">
	<div class="arrival blocks">
	<div style="display:none;"><%= link_to "Home", dashboard_path, class: "links" %></div>
	<h2>Arrivals</h2>
	<ul id="links"><li class="active"><%= link_to "Today", arrivals_path(:day => "todays"), class: "" %></li><li><%= link_to "Yesterday", arrivals_path(:day => "yesterday"), class: "" %></li><li><%= link_to "Future", arrivals_path(:day => "future"), class: "" %></li></ul>
	<table class="bookconf" width="100%" border="0">
		<thead>
		<tr>
			<td align="center" valign="middle">Resrvation No</td>
			<td align="center" valign="middle">Booker Name</td>
		</tr>
	</thead>
	<tbody>
		<% if !@arrivals.blank? %>
		<% @arrivals.each do |arrival| %>
				<tr>
					<td align="center" valign="middle"><%= arrival.id %></td>
					<td align="center" valign="middle"><%= arrival.traveler.name %></td>
				</tr>
		<% end %>
		<% end %>
	</tbody>
	</table>
</div>
</div>

<script>
	$(document).ready(function(){
		//alert(window.location.params)
		var url = $.url(window.location.href)
		//alert(url.param('day'))
		if (url.param('day') == 'yesterday'){
			$("#links li:nth-child(2)").addClass('active');
			$("#links li:nth-child(2)").siblings("li").removeClass('active');
		}
		else if (url.param('day') == 'future'){
			$("#links li:nth-child(3)").addClass('active');
			$("#links li:nth-child(3)").siblings("li").removeClass('active');
		}
		else{
			$("#links li:nth-child(1)").addClass('active');
			$("#links li:nth-child(1)").siblings("li").removeClass('active');
		}
	})
</script>