<div class="bookconfTab">
	<div><%= link_to "Home", dashboard_path, class: "links" %></div>
	<div><h2>Arrivals</h2></div>
	<p>------------------------</p>
	<div id="links"><%= link_to "Today", arrivals_path(:day => "todays"), class: "links" %> | <%= link_to "Yesterday", arrivals_path(:day => "yesterday"), class: "links" %>| <%= link_to "Future", arrivals_path(:day => "future"), class: "links" %></div>
	<table class="bookconf">
		<tr>
			<td>Resrvation No</td>
			<td>Booker Name</td>
		</tr>
		<% if !@arrivals.blank? %>
			<% @arrivals.each do |arrival| %>
				<tr>
					<td><%= arrival.id %></td>
					<td><%= arrival.traveler.name %></td>
				</tr>
			<% end %>
		<% end %>
	</table>
	<%= will_paginate @arrivals %>
</div>
