<div class="content-wrapper adm-inr">
    <div id="container-main">
      <header>
        <h1 class="prop-title"><%= session[:hotel_name] %>(ID: <%= session[:hotel_id] %>)</h1>
      </header>
      <%= render partial: "/common/navigation_tab"%>
      <div class="rtSidebar">
        <div class="section">
          <h3 class="title-bcg">Bookings</h3>
          <div class="link-files">
						<%= link_to "Download as CSV", download_booking_data_path(format: "csv"),  class: "csv" %> | <%= link_to "Download as Excel", export_in_excel_path(format: "xls"),  class: "xls" %>
					</div>
          <div class="bookings blocks">
          <div class="scroll">
            <table class="bookconf" width="100%" border="0">
              <thead>
                <tr>
                  <td align="left" valign="middle">Status</td>
                  <td align="center" valign="middle">Reservation No</td>
                  <td align="center" valign="middle">Book Date</td>
                  <td align="center" valign="middle">Arrival</td>
                  <td align="center" valign="middle">Departure</td>
                  <td align="center" valign="middle">Total</td>
                  <td align="left" valign="middle">Booker Name</td>
                </tr>
              </thead>
              <tbody>
                <% if !@bookings.blank? %>
									<% @bookings.each do |book| %>
										<tr>
											<td>
                        <%= link_to "Download", booking_status_path(:id => book.id, :format => "pdf"), class: "links" %>
                      </td>
                      <td align="center" valign="middle"><%= book.id %></td>
											<td align="center" valign="middle"><%= book.created_at.strftime("%Y-%m-%d") %></td>
											<td align="center" valign="middle"><%= book.from_date  %></td>
											<td align="center" valign="middle"><%= book.to_date %></td>
											<td align="center" valign="middle">$<%= book.price %></td>
											<td align="left" valign="middle"><%= book.traveler.blank? ? "" : book.traveler.firstname.capitalize %>&nbsp;<%= book.traveler.blank? ? "" : book.traveler.lastname.capitalize %></td>
											<!-- <td><%#= @site_visitors.first["c"] %></td> -->
										</tr>
									<% end %>
								<% end %>
              </tbody>
            </table>
          </div>
          <%= will_paginate @bookings %>
          </div>
        </div>
      </div>
      <div class="height350 overflow">&nbsp;</div>
    </div>
  </div>
<!-- <div class="height100"></div> -->
