<div class="bookconfTab">
	<div><%= link_to "Home", dashboard_path, class: "links" %></div>
	<div><h2>Bookings</h2></div>
	<p>----------------------</p>
	<table class="bookconf">
		<tr>
			<td>Resrvation No</td>
			<td>Book Date</td>
			<td>Arrival</td>
			<td>Departure</td>
			<td>Total</td>
			<td>Booker Name</td>
		</tr>
		<% if !@bookings.blank? %>
			<% @bookings.each do |book| %>
				<tr>
					<td><%= book.id %></td>
					<td><%= book.created_at.strftime("%Y-%m-%d") %></td>
					<td><%= book.from_date  %></td>
					<td><%= book.to_date %></td>
					<td><%= book.price %></td>
					<td><%= book.traveler.name %></td>
					<!-- <td><%#= @site_visitors.first["c"] %></td> -->
				</tr>
			<% end %>
		<% end %>
	</table>
	<%= will_paginate @bookings %>
</div>