<ul id="dashboard">	
	<h5>Hotel Name: <%= session[:hotel_name] %>(Id: <%= session[:hotel_id] %>)</h5>
<li>
		<% if current_user.manager? || current_user.admin?  %>
		<img src="assets/ico-hotel-statistics.gif" width="48" height="48" border="0" />
		<%= link_to "Information", finance_info_path %>
	<% end %>
</li>
<li>
		<% if current_user.manager? || current_user.admin? %>
		<img src="assets/ico-hotel-arrival.gif" width="48" height="48" border="0" />
		<%= link_to "Reservation Statements", reservation_statements_path %>
	<% end %>
</li>
<li>
		<% if current_user.manager? || current_user.admin?  %>
		<img src="assets/ico-hotel-bookings.gif" width="48" height="48" border="0" />
		<%= link_to "Invoices", invoice_path %>
	<% end %>
</li>

</ul>
<div class="row back-link"><%= link_to "Back", dashboard_path , class: "link" %></div>
<div class="height100"></div>