<ul class="nav" id="navigation">
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>  
  <% end %>
</ul>

<p>This is the dashboard for authenticated user!</p>

<nav id="dashboard">	
	<% if current_user.admin? %>
		<%= link_to "Arrivals", arrivals_path %>
	<% end %>
	<% if can? :index, Promotion %>	
		<%= link_to "Bookings", bookings_path %>
	<% end %>
	<% if can? :index, Promotion %>	
		<%= link_to "Statistics", statistics_path %>
	<% end %>
	<% if can? :index, Room %>
		<%= link_to "Manage Rooms", rooms_path %>
	<% end %>
	<% if can? :index, Availability %>
		<%= link_to "Manage Rates", "#" %>
	<% end %>
	<% if current_user.admin? %>	
		<%= link_to "Rates and Availability", rates_path %>
	<% end %>
	<% if can? :index, Promotion %>	
		<%= link_to "Property Details", "#" %>
	<% end %>
</nav>


