<!-- <ul class="nav" id="navigation">
  <%# if user_signed_in? %>
    <li>
    <%#= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
    <li>
    <%#= link_to 'Edit account', edit_user_registration_path %>
    </li> 
    <li>
    	<%#= link_to 'Admin Panel', hotels_path %>
    </li> 
  <%# end %>
</ul>

<p>This is the dashboard for authenticated user!</p>
 -->
<ul id="dashboard">	
	<h5>Hotel Name: <%= session[:hotel_name] %></h5>
	<li><% if current_user.admin? || current_user.manager? %>
		<img src="assets/ico-hotel-arrival.gif" width="48" height="48" border="0" />
		<%= link_to "Arrivals", arrivals_path %>
	<% end %></li>
	<li><% if can? :index, Promotion %>
		<img src="assets/ico-hotel-bookings.gif" width="48" height="48" border="0" />
		<%= link_to "Bookings", bookings_path %>
	<% end %></li>
	<li><% if can? :index, Promotion %>
		<img src="assets/ico-hotel-statistics.gif" width="48" height="48" border="0" />
		<%= link_to "Statistics", statistics_path %>
	<% end %></li>
	<li><% if can? :index, Room %>
		<img src="assets/ico-manage-rooms.gif" width="48" height="48" border="0" />
		<%= link_to "Manage Rooms", rooms_path %>
	<% end %></li>
	<li><% if current_user.admin? || current_user.manager?  %>
		<img src="assets/ico-availability-rates.gif" width="48" height="48" border="0" />
		<%= link_to "Rates and Availability", rates_path %>
	<% end %></li>
	<li><% if current_user.admin? || current_user.manager?  %>
		<img src="assets/ico-availability-rates.gif" width="48" height="48" border="0" />
		<%= link_to "Overview", overview_path %>
	<% end %></li>
	<li><% if current_user.admin? || current_user.manager?  %>
		<img src="assets/ico-availability-rates.gif" width="48" height="48" border="0" />
		<%= link_to "Finance", finance_path %>
	<% end %></li>
</ul>