<div class="content-wrapper">
<%= render partial: "/common/navigation_tab"%>
<div class="bookconfTab">
	<h5>Hotel Name: <%= session[:hotel_name] %>(Id: <%= session[:hotel_id] %>)</h5>
	<div class="invoices blocks">
		<div style="display:none;">
			<%= link_to "Home", dashboard_path, class: "links" %>
		</div>
		<h2>Invoices</h2>
		<div class="scroll">
			<table class="bookconf" width="100%" border="0">
				<thead>
					<tr>
						<td align="left" valign="middle">Status</td>
						<td align="left" valign="middle">Invoice Number</td>
						<td align="center" valign="middle">Invoice Date</td>
						<td align="center" valign="middle">Due Date</td>
						<td align="center" valign="middle">Period</td>
						<td align="center" valign="middle">Invoice Amount</td>
						<td align="center" valign="middle">Amount Paid</td>
				</thead>
				<tbody>
					<% @bookings.each do |booking| %>
						<tr>
							<td>
								<%= link_to "Download", status_path(:id => booking.id, :format => "pdf"), class: "links" %>
							</td>
							<td>
								<%= booking.id %>
							</td>
							<td>
								<%= booking.from_date %>
							</td>
							<td>
								<%= booking.from_date.advance(:months => 1) %>
							</td>
							<td>
								<%= booking.from_date %> To <%= booking.from_date.advance(:months => 1) %>
							</td>
							<td>
								<%= booking.price %>
							</td>
							<td>
								<%= booking.price %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<%= will_paginate @bookings %>
	</div>
</div>
</div>
<div class="height100"></div>