<% content_for :title, "BestNights.com - Hotel" %>

<header>
	<h1 class="prop-title">My Hotels</h1>
</header>

<%= form_tag my_hotels_path, :id => "search_form", :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div id="container-main">
	<% if can? :add, Hotel %>
	<div class="formactions">
		<%= link_to "Additional Properties", new_hotel_path %>
  </div>
  <% end %>
  <% if !@hotels.blank? %>
		<table class="admintablelist tableAdmin">
			<tr>
				<th width="10%">Hotel ID</th>
				<th width="10%">Name</th>
				<th width="10%">City</th>
				<th width="10%">State</th>
				<th width="25%">Address</th>
				<th width="10%">Status</th>
				<% if current_user.admin? %>
					<th width="15%">User</th>
				<% end %>
			</tr>
			<% @hotels.sort_by(&:name).each do |hotel| %>
			  <tr class="show_hotel" hotelid="<%= hotel.id %>">
			  	<td><%= link_to "#{hotel.id}", dashboard_path(:hotel_id => hotel.id), class: "link_hotel" %></td>
			  	<% if current_user.manager? and current_user.new_signup? %>
			  		<td><%= link_to hotel.name, dashboard_path(:hotel_id => hotel.id) %></td>
			  	<% else %>
			  		<td><%= link_to hotel.name, dashboard_path(hotel_id: hotel.id), class: "link_hotel" %></td>
			  	<% end %>		  	
					<td><%= hotel.city.capitalize %></td>
					<td><%= hotel.state_id %></td>
					<td><%= hotel.address1.titleize %></td>
					<% if hotel.status == "active" %>
						<td class="active"><%= hotel.status.capitalize %></td>
					<% else %>
						<td><%= hotel.status.capitalize %></td>
					<% end %>
				</tr>
				<% @hotels.sort_by(&:name).each do |hotel| %>
				  <tr class="show_hotel" hotelid="<%= hotel.id %>"><%#= link_to "#{hotel.id}", dashboard_path(:hotel_id => hotel.id), class: "link_hotel" %>
				  	<td><%= link_to "#{hotel.id}", dashboard_path(:hotel_id => hotel.id), class: "link_hotel" %></td>
				  	<% if current_user.manager? and current_user.new_signup? %>
				  		<td><%= link_to hotel.name, dashboard_path(:hotel_id => hotel.id) %></td>
				  	<% else %>
				  		<td><%= link_to hotel.name, dashboard_path(hotel_id: hotel.id), class: "link_hotel" %></td>
				  	<% end %>		  	
						<td><%= hotel.city.capitalize %></td>
						<td><%= hotel.state_id %></td>
						<td><%= hotel.address1.titleize %></td>
						<% if hotel.status == "active" %>
							<td class="active"><%= hotel.status.capitalize %></td>
						<% else %>
							<td><%= hotel.status.capitalize %></td>
						<% end %>
						<% if current_user.admin? %>
						  <td><%= hotel.user.email %></td>
						<% end %>
				  </tr>
				<% end %>
			<% end %>
		</table>
	<% else %>
		<h5> No Record Found </h5>
	<% end %>
</div>

<%= javascript_include_tag :jquery_ujs %>
