<div class="content-wrapper adm-inr">
	<div id="container-main">
    <header>
      <h1 class="prop-title"><%= session[:hotel_name] %> (ID: <%= session[:hotel_id] %>)</h1>
    </header>
    <%= render partial: "/common/navigation_tab"%>
    <div class="rtSidebar">
      <div class="section overview">
        <h3 class="title-bcg">Rates &amp; Availability overview</h3>
        <div class="bookings blocks">
          <div style="margin-bottom:10px; clear:both; overflow:hidden;">
            <form action="/overview" method="post">
              <span>From Date: </span><%= text_field_tag 'from_date', "", :name => "from_date", :class => "datepicker1", :readonly => "readonly" %>
              <span>To Date: </span><%= text_field_tag 'to_date', "", :name => "to_date", :class => "datepicker1", :readonly => "readonly" %>
              <input type="submit" value="update" class="inpuUpdate">
              <div class="clear"></div>
            </form>
          </div>
          <div class="table-grid">
            <div class="scrollHor">
              <table class="grid-table">
                <thead>
                  <tr>
                    <td colspan="1"></td>
                    <% if @starting_date.strftime("%B %Y") == @starting_date.advance(days: @range).strftime("%B %Y") %>
                      <td colspan="<%= @range %>" class="grid-month-cell"> <%= @starting_date.strftime("%B %Y") %>\\<%= @starting_date.end_of_month.class %> </td>
                    <% else %>
                      <td colspan="<%= (@starting_date.end_of_month - @starting_date).to_i + 1 %>" class="grid-month-cell" ><%= @starting_date.strftime("%B %Y") %></td>
                      <td colspan="<%= @range - ((@starting_date.end_of_month - @starting_date).to_i + 1) %>" class="grid-month-cell" ><%= @starting_date.end_of_month.advance(days: 1).strftime("%B %Y") %></td>
                    <% end %>  
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="1"></td>
                    <% @range.times do |f| %>
                    	<td class="grid-header-weekday">
                        <% if !params[:from_date].blank? %>
                          <%= params[:from_date].to_date.advance(days: f).strftime("%d") %>
                        <% else %>
                    		  <%= Date.today.advance(days: f).strftime("%d") %>
                        <% end %>
                    	</td>
                    <% end %>
                  </tr>
                  <% @room_sub_types.each_with_index do |sub_type, index| %>
                    <tr>
                      <td class="grid-room-cell">
                        <%= sub_type.name %>
                      </td>
                      <% @range.times do |day| %>
                        <% @status_hash["#{sub_type.id}"].each do |date| %>
                          <% if date[0].to_date == @starting_date.advance(days: day) %>
                            <% if date[1] == "none" %>
                              <td class="status status-clickable status-none stat" date="<%= date[0] %>" subtype="<%= sub_type.id %>" type="<%= sub_type.room_type_id %>" status="bookable" ><span style="padding-left:0px;" class="status-label status-bookable">x</span></td>
                            <% elsif date[1] == "closed" %>
                              <% if @available_hash["#{sub_type.id}"]["#{date[0]}"] > 0 %>
                                <td class="status status-clickable status-<%= date[1] %> stat" date="<%= date[0] %>" subtype="<%= sub_type.id %>" type="<%= sub_type.room_type_id %>" status="closed" prevclass="status-<%= date[1] %>" nxtcls="status-bookable"><span class="status-label status-bookable"></span></td>
                              <% elsif @available_hash["#{sub_type.id}"]["#{date[0]}"] == 0 %>
                                <td class="status status-clickable status-<%= date[1] %> stat" date="<%= date[0] %>" subtype="<%= sub_type.id %>" type="<%= sub_type.room_type_id %>" status="closed" prevclass="status-none" nxtcls="status-none"><span class="status-label status-bookable"></span></td>
                              <% end %>
                            <% else %>
                              <% if @available_hash["#{sub_type.id}"]["#{date[0]}"] > 0 %>
                                <td class="status status-clickable status-<%= date[1] %> stat" date="<%= date[0] %>" subtype="<%= sub_type.id %>" type="<%= sub_type.room_type_id %>" status="closed" prevclass="status-<%= date[1] %>" nxtcls="status-bookable"><span class="status-label status-bookable"></span></td>
                              <% elsif @available_hash["#{sub_type.id}"]["#{date[0]}"] == 0 %>
                                <td class="status status-clickable status-none stat" date="<%= date[0] %>" subtype="<%= sub_type.id %>" type="<%= sub_type.room_type_id %>" status="closed" prevclass="status-none" nxtcls="status-none"><span style="padding-left:0px;" class="status-label status-bookable">x</span></td>
                              <% end %>
                            <% end %>
                          <% end %>
                        <% end %>
                      <% end %>
                      <% if @range > @status_hash["#{sub_type.id}"].length %>
                        <% (@range - @status_hash["#{sub_type.id}"].length).times do |day| %>
                          <td class="status status-clickable status-closed stat" date="<%= @starting_date.advance(days: day + @status_hash["#{sub_type.id}"].length) %>" subtype="<%= sub_type.id %>" type="<%= sub_type.room_type_id %>" status="closed"><span class="status-label status-bookable"></span></td>
                        <% end %>
                      <% end %>
                    </tr>
                    <tr>
                      <td class="grid-room-cell"><a href="#"> Rooms To Sell (Room Level) </a></td>
                      <% @available_hash["#{sub_type.id}"].each do |available| %>
                        <td><%= available[1] %></td>
                      <% end %>
                    </tr>
                    <tr id="price">
                      <td class="grid-rate-cell">
                        <a href="#" class="grid-rate-cell"> Standard Rate </a>
                      </td>
                      <% @range.times do |f| %>
                        <% @rates = RoomRate.where("room_sub_type_id=? AND hotel_id=?",sub_type.id, session[:hotel_id]) %>
                        <% unless @rates.blank? %>
                          <% @flag = 0 %>
                          <% @rates.each do |rate| %>
                            <% if (rate.from_date..rate.to_date).cover?(@starting_date.advance(days: f)) %>
                              <% @flag = 1 %>
                              <% unless @status_hash["#{sub_type.id}"]["#{@starting_date.advance(days: f)}"] == "closed" %>
                                <td class="status status-clickable status-bookable">
                                  <span class="status-label status-bookable" title= "CAD <%= rate.price %>" >
                                    &nbsp;
                                  </span>
                                </td>
                              <% else %>
                                <td class="status status-clickable status-closed">
                                  <span class="status-label status-bookable" title= "" >
                                    &nbsp;
                                  </span>
                                </td>
                              <% end %>
                            <% end %>
                          <% end %>
                          <% if @flag == 0 %>
                            <td class="status status-clickable status-none"></td>
                          <% end %>
                        <% else %>
                          <td class="status status-clickable status-none"></td>
                        <% end %>
                      <% end %>
                    </tr>
                    <tr>
                      <td  colspan="<%= @range + 1 %>"></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div class="clear"></div>
            <div class="table-instc">
              <h4>Legend</h4>
              <table class="grid-table">
                <tbody>
                  <tr>
                    <td class="status  status-bookable"><span class="status-label status-bookable"> </span></td>
                    <td>Bookable</td>
                  </tr>
                  <tr>
                    <td class="status status-closed"><span class="status-label status-closed"> </span></td>
                    <td>Closed</td>
                  </tr>
                  <tr>
                    <td class="status status-none"><span class="status-label status-none"> </span></td>
                    <td>Room inventory available, but no price set yet</td>
                  </tr>
                  <tr>
                    <td class="status status-none"><span style="padding-left:0px;" class="status-label status-none">X</span></td>
                    <td>Sold Out (No Inventory)</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="height350 overflow">&nbsp;</div>
  </div>
</div>