<div class="content-wrapper adm-inr">
	<div id="container-main">
    <header>
      <h1 class="prop-title"><%= session[:hotel_name] %>(Id: <%= session[:hotel_id] %>)</h1>
    </header>
    <%= render partial: "/common/navigation_tab"%>
    <div class="rtSidebar">
      <div class="section overview">
        <h3>Rates &amp; Availability overview</h3>
        <div class="bookings blocks">
          <div class="table-grid">
            <div class="scrollHor">
              <table class="grid-table">
                <thead>
                  <tr>
                    <td colspan="1"></td>
                    <td colspan="15" class="grid-month-cell"> <%= Date.today.strftime("%B %Y") %> </td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="1"></td>
                    <% 15.times do |f| %>
                    	<td class="grid-header-weekday">
                    		<%= Date.today.advance(days: f).strftime("%d") %>
                    	</td>
                    <% end %>
                  </tr>
                  <% @room_types.each_with_index do |type,index| %>
                    <% @room_count = Room.where("room_type_id=? AND hotel_id=?",type.id,session[:hotel_id]).count %>
                  	<tr>
                  		<td class="grid-room-cell"><%= type.room_type %></td>
                      <% @room_available = RoomAvailable.find_by_room_type_id(type.id) %>
                      <% if !@room_available.nil? %>
                        <% @days = @room_available.days.tr('-','').delete(' ').split("\n") %>
                      <% end %>
                  		<% 15.times do |f| %>
                        <% if @days.include?(Date.today.advance(days: f).strftime("%A").downcase) %>
                          <td class="status status-clickable status-closed"><span class="status-label status-bookable"></span></td>
                        <% else %>
                          <% @booked_rooms.each do |booked| %>
                            <% if booked.has_key?(type.id) %>
                              <% if booked[type.id][Date.today.advance(days: f).strftime("%u").to_i - 1] == 0 || @room_count == 0 %>
                                <td class="status status-clickable status-none"><span class="status-label status-bookable"></span></td>
                              <% else %>
                                <td class="status status-clickable status-bookable"><span class="status-label status-bookable"></span></td>
                              <% end %>
                            <% end %>
                          <% end %>
                        <% end %>
                  		<% end %>
                  	</tr>
                  	<tr>
                  		<td class="grid-room-cell"><a href="#"> Rooms To Sell (Room Level) </a></td>
                      <% 15.times do |f| %>
                        <% @booked_rooms.each do |booked| %>
                          <% if booked.has_key?(type.id) %>
                            <td>
                              <%= booked[type.id][Date.today.advance(days: f).strftime("%u").to_i - 1] %>
                            </td>
                          <% end %>
                        <% end %>
                      <% end %>
                  	</tr>
                  	<tr>
                  		<td class="grid-rate-cell">
                  			<a href="#" class="grid-rate-cell"> Standard Rate </a>
                  		</td>
                  		<% 15.times do |f| %>
                  			<% r = RoomRate.where("room_type_id=?",type.id) %>
                        <% if @room_count == 0 %>
                          <td class="status status-clickable status-none"></td>
                        <% else %>
                    			<td class="status status-clickable status-bookable">
                    				<% if !r.empty? %>
  	                  				<% if Date.today.advance(days: f).strftime("%A").downcase == "monday" %>
  		                  				<span class="status-label status-bookable" title= "CAD <%= r[0].rate_monday %>" >
  		                  						<%#= r[0].rate_monday %>&nbsp;
  		                  				</span>
  		                  			<% elsif Date.today.advance(days: f).strftime("%A").downcase == "tuesday" %>
  		                  				<span class="status-label status-bookable" title= "CAD <%= r[0].rate_tuesday %>">
  		                  						<%#= r[0].rate_tuesday %>
  		                  				</span>
  		                  			<% elsif Date.today.advance(days: f).strftime("%A").downcase == "wednesday" %>
  		                  				<span class="status-label status-bookable" title= "CAD <%= r[0].rate_wednesday %>">
  		                  						<%#= r[0].rate_wednesday %>
  		                  				</span>
  		                  			<% elsif Date.today.advance(days: f).strftime("%A").downcase == "thursday" %>
  		                  				<span class="status-label status-bookable" title= "CAD <%= r[0].rate_thursday %>">
  		                  						<%#= r[0].rate_thursday %>
  		                  				</span>
  		                  			<% elsif Date.today.advance(days: f).strftime("%A").downcase == "friday" %>
  		                  				<span class="status-label status-bookable" title= "CAD <%= r[0].rate_friday %>">
  		                  						<%#= r[0].rate_friday %>
  		                  				</span>
  		                  			<% elsif Date.today.advance(days: f).strftime("%A").downcase == "saturday" %>
  		                  				<span class="status-label status-bookable" title= "CAD <%= r[0].rate_saturday %>">
  		                  						<%#= r[0].rate_saturday %>
  		                  				</span>
  		                  			<% elsif Date.today.advance(days: f).strftime("%A").downcase == "sunday" %>
  		                  				<span class="status-label status-bookable" title= "CAD <%= r[0].rate_sunday %>">
  		                  						<%#= r[0].rate_sunday %>
  		                  				</span>
  	                  				<% end %>
                    				<% end %>
                    			</td>
                        <% end %>  
                  		<% end %>
                  	</tr>
                  	<tr>
                    	<td colspan="16"></td>
                  	</tr>
                    <% @days = [] %>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div class="clear"></div>
            <div class="table-instc">
              <h4>Legend</h4>
              <table class="grid-table">
                <tbody>
                  <tr>
                    <td class="status  status-bookable"><span class="status-label status-bookable"> </span></td>
                    <td>Bookable</td>
                  </tr>
                  <tr>
                    <td class="status status-closed"><span class="status-label status-closed"> </span></td>
                    <td>Closed</td>
                  </tr>
                  <tr>
                    <td class="status status-none"><span class="status-label status-none"> </span></td>
                    <td>No Rooms and/or No Price</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="height350 overflow">&nbsp;</div>
  </div>
</div>