<div class="content-wrapper adm-inr">
	<div id="container-main">
    <header>
      <h1 class="prop-title"><%= session[:hotel_name] %>(ID: <%= session[:hotel_id] %>)</h1>
    </header>
    <%= render partial: "/common/navigation_tab"%>
    <div class="rtSidebar">
      <div class="section overview">
        <h3 class="title-bcg">Rates &amp; Availability overview</h3>
        <div class="bookings blocks">
          <div style="margin-bottom:10px; clear:both; overflow:hidden;">
            <form action="/overview" method="post">
              <span>From Date: </span><%= text_field_tag 'from_date', "", :name => "from_date", :class => "datepicker1", :readonly => "readonly" %>
              <span>To Date: </span><%= text_field_tag 'to_date', "", :name => "to_date", :class => "datepicker1", :readonly => "readonly" %>
              <input type="submit" value="submit">
            </form>
          </div>
          <div class="table-grid">
            <div class="scrollHor">
              <table class="grid-table">
                <thead>
                  <tr>
                    <td colspan="1"></td>
                    <td colspan="<%= @range %>" class="grid-month-cell"> <%= Date.today.strftime("%B %Y") %> </td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="1"></td>
                    <% @range.times do |f| %>
                    	<td class="grid-header-weekday">
                        <% if params[:from_date] %>
                          <%= params[:from_date].to_date.advance(days: f).strftime("%d") %>
                        <% else %>
                    		  <%= Date.today.advance(days: f).strftime("%d") %>
                        <% end %>
                    	</td>
                    <% end %>
                  </tr>
                  <% @room_types.each_with_index do |type, index| %>
                    <tr>
                      <td class="grid-room-cell">
                        <%= type.room_type %>
                      </td>
                      <% @room_status = RoomStatus.find_by_room_type_id_and_hotel_id(type.id, session[:hotel_id]) %>
                      <% if @booking_hash.keys.include?(type.id.to_s) %>
                        <% @count = 0 %>
                        <% @booking_hash[type.id.to_s].each do |key,values| %>
                          <% if (@room_status.from_date..@room_status.to_date).cover?(@starting_date.advance(days: @count)) %>
                            <% if @room_status.status == false %>
                              <% @room_available = RoomAvailable.find_by_room_type_id_and_hotel_id(type.id, session[:hotel_id]) %>
                              <% if (@room_available.from_date..@room_available.to_date).cover?(@starting_date.advance(days: @count)) %>
                                <td class="status status-clickable status-bookable"><span class="status-label status-bookable"></span></td>
                              <% else %>
                                <td class="status status-clickable status-none"><span style="padding-left:0px;" class="status-label status-bookable">x</span></td>
                              <% end %>
                            <% else %>
                              <td class="status status-clickable status-closed"><span class="status-label status-bookable"></span></td>
                            <% end %>
                          <% else %>
                            <td class="status status-clickable status-closed"><span class="status-label status-bookable"></span></td>
                          <% end %>
                          <% @count += 1 %>
                        <% end %>
                      <% else %>
                        <% @range.times do |day| %>
                          <% if (@room_status.from_date..@room_status.to_date).cover?(Date.today.advance(days: day)) %>
                            <% if @room_status.status == false %>
                              <% @room_available = RoomAvailable.find_by_room_type_id_and_hotel_id(type.id, session[:hotel_id]) %>
                              <% if (@room_available.from_date..@room_available.to_date).cover?(Date.today.advance(days: day)) %>
                                <td class="status status-clickable status-bookable"><span class="status-label status-bookable"></span></td>
                              <% else %>
                                <td class="status status-clickable status-none"><span style="padding-left:0px;" class="status-label status-bookable">x</span></td>
                              <% end %>
                            <% else %>
                              <td class="status status-clickable status-closed"><span class="status-label status-bookable"></span></td>
                            <% end %>
                          <% else %>
                            <td class="status status-clickable status-closed"><span class="status-label status-bookable"></span></td>
                          <% end %>
                        <% end %>
                      <% end %>
                    </tr>
                    <tr>
                      <td class="grid-room-cell"><a href="#"> Rooms To Sell (Room Level) </a></td>
                      <% if @booking_hash.keys.include?(type.id.to_s) %>
                        <% @count = 0 %>
                        <% @booking_hash[type.id.to_s].each do |key,values| %>
                          <% if (@room_available.from_date..@room_available.to_date).cover?(key.to_date) %>
                            <% if values > 0 %>
                              <td><%= values %><%#= key %></td>
                            <% else %>
                              <td>0</td>
                            <% end %>
                          <% else %>
                            <td>0</td>
                          <% end %>
                        <% end %>
                      <% elsif @booking_hash.empty? %>
                        <% @range.times do |day| %>
                          <td>
                            <% unless @room_available.blank? %>
                              <%= @room_available.number %>
                            <% else %>
                              0
                            <% end %>
                          </td>
                        <% end %>
                      <% else %>
                        <% @range.times do |day| %>
                          <td>0</td>
                        <% end %>
                      <% end %>
                    </tr>
                    <tr>
                      <td class="grid-rate-cell">
                        <a href="#" class="grid-rate-cell"> Standard Rate </a>
                      </td>
                      <% @range.times do |f| %>
                        <% @rate = RoomRate.where("room_type_id=? AND hotel_id=?",type.id, session[:hotel_id]) %>
                        <% unless @rate.blank? %>
                            <% if (@rate[0].from_date..@rate[0].to_date).cover?(Date.today.advance(days: f)) %>
                              <td class="status status-clickable status-bookable">
                                <span class="status-label status-bookable" title= "CAD <%= @rate[0].price %>" >
                                    &nbsp;
                                </span>
                              </td>
                            <% else %>
                              <td class="status status-clickable status-none"></td>
                            <% end %>
                        <% else %>
                          <td class="status status-clickable status-none"></td>
                        <% end %>
                      <% end %>
                    </tr>
                    <tr>
                      <td  colspan="<%= @range + 1 %>"></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div class="clear"></div>
            <div class="table-instc">
              <h4>Legend</h4>
              <table class="grid-table">
                <tbody>
                  <tr>
                    <td class="status  status-bookable"><span class="status-label status-bookable"> </span></td>
                    <td>Bookable</td>
                  </tr>
                  <tr>
                    <td class="status status-closed"><span class="status-label status-closed"> </span></td>
                    <td>Closed</td>
                  </tr>
                  <tr>
                    <td class="status status-none"><span class="status-label status-none"> </span></td>
                    <td>Room inventory available, but no price set yet</td>
                  </tr>
                  <tr>
                    <td class="status status-none"><span style="padding-left:0px;" class="status-label status-none">X</span></td>
                    <td>Sold Out (No Inventory)</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="height350 overflow">&nbsp;</div>
  </div>
</div>