<div class="bookconfTab">
	<div><%= link_to "Home", dashboard_path, class: "links" %></div>
	<div><h2>Statistics</h2></div>
	<p>----------------------</p>
		<table style="width:300px">
			<tr>
		  <td>
				
		  </td>		
		  <td>Today</td>
		  <td>Month</td>
		  <td>Year</td>
		</tr>
		<tr>
		  <td>Visitors</td>
		  <td>
				<% if !@site_visitors.blank?  %>
					<%= @site_visitors.first["c"] %>
				<% end %>
		  </td>		
		  <td><% if !@site_visitors.blank?  %>
					<%= @site_visitors.first["c"] %>
				<% end %>
			</td>
		  <td><% if !@site_visitors.blank?  %>
					<%= @site_visitors.first["c"] %>
				<% end %>
			</td>
		</tr>
		<tr>
		  <td>Boking</td>
		  <td>
				<% if !@bookings_day_wise.blank?  %>
					<%= @bookings_day_wise.count %>
				<% end %>
			</td>		
		  <td><% if !@bookings_month_wise.blank?  %>
					<%= @bookings_month_wise.count %>
				<% end %>
			</td>
		  <td><% if !@bookings_year_wise.blank?  %>
					<%= @bookings_year_wise.first["b"] %>
				<% end %>
			</td>
		</tr>
		<tr>
		  <td>Total Nights Sold</td>
		  <td>
				<% if !@total_nights.blank?  %>
					<%= @total_nights %>
				<% end %>
			</td>		
		  <td><% if !@total_nights.blank?  %>
					<%= @total_nights %>
				<% end %>
			</td>
		  <td><% if !@total_nights.blank?  %>
					<%= @total_nights %>
				<% end %>
			</td>
		</tr>
</table>
</div>