<%= simple_form_for(@faq) do |f| %>
	<%= f.error_notification %>

	<div class="form-inputs">
		<%= f.label :category %>
		<%= f.select :category_id, options_for_select(@faq_categories.map{|s|[s.name, s.id]}) %><br />
		<%= f.label :question %>
		<%= f.text_area :question, class: 'ckeditor' %>
		<%= f.label :answer %>
		<%= f.text_area :answer, class: 'ckeditor' %>
	</div>
	<br />
	<div class="form-actions">
		<%= f.button :submit %>
	</div>
<% end %>