<div id="container-main">
<h1 class="prop-title">FAQs</h1> 
<table class="admintablelist">
  <tr>
    <th>Question</th>
    <th>Answer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @faqs.each do |faq| %>
  <tr>
    <td><%= faq.question.html_safe %></td>
    <td><%= faq.answer.html_safe %></td>
    <td><%= link_to 'Show', faq %></td>
    <td><%= link_to 'Edit', edit_faq_path(faq) %></td>
    <td><%= link_to 'Destroy', faq, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<% if @about_us.blank? %>
  <%= link_to 'New Faq', new_faq_path %>
<% end %>
</div>