<div id="container-main">
<h1 class="prop-title">About Us'</h1> 
<table class="admintablelist">
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @about_us.each do |about_u| %>
  <tr>
    <td><%= about_u.content.html_safe unless about_u.content.nil? %></td>
    <td><%= link_to 'Show', about_u %></td>
    <td><%= link_to 'Edit', edit_about_u_path(about_u) %></td>
    <td><%= link_to 'Destroy', about_u, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<% if @about_us.blank? %>
  <%= link_to 'New About Us', new_about_u_path %>
<% end %>
</div>

