<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>E-mail Template</title>
</head>
<body>
<table width="604" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#272727">
<tr>
  <td bgcolor="#272727" width="302">
    <a href="http://23.253.149.108">
      <img src="http://23.253.149.108/assets/e-mail-logo.jpg" alt="" title="" style="border: 0;">
    </a>
  </td>
  <td bgcolor="#272727" width="302">
    <h2 style="font-size: 14px ; color: #ef807f; margin:0; line-height: 17px; font-style: italic; padding-top: 5px; padding-left: 120px">1-888-494-BEST (2378) <br />
    info@bestnights.com
    </h2>
  </td>
</tr>
<tr>
  <td colspan="2">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF" style="font-family:Arial, Helvetica, sans-serif; border-width: 5px; border-color: #008000; border-bottom-width:0; border-style: solid; padding: 20px; font-size: 12px; color: #565656; font-weight: bold;">
  <tr><td colspan="2" style="font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:21px; color:#000000; font-weight:normal;">
    #4 - 715 Evans Ct , Kelowna, BC V1X 6G4<br />
        Toll Free: 1-800-494-BEST(2378)<br />
        Email: <a href="JavaScript:void(0);" style="color:#000000; text-decoration:none; cursor:text;">info@bestnights.com</a>
  </td>
  </tr>
  <tr>
    <td colspan="2">
      <h2 style="font-size: 22px ; color: #e73d3d; margin-top: 10px; margin-bottom: 20px;">Dear <%= @hotel.name.titleize %>,</h2>
    </td>
  </tr>
    <tr>
    <td colspan="2" style="font-size: 12px ; margin-top: 10px; margin-bottom: 20px;">Kindest Regards for choosing Bestnights.com, It is our pleasure to confirm your reservation as follows.</td>
  </tr>
   <tr>
    <td colspan="2">
      <h3 style="font-size: 16px ; color: #008000; margin-top: 4px; margin-bottom: 0;">GUEST DETAILS:</h3>
    </td>
  </tr>
  <tr style="line-height: 22px;">
    <td style="width: 176px;">Name</td>
    <td><%= @traveler.firstname.capitalize %>&nbsp;<%= @traveler.lastname.capitalize %></td>
  </tr>
  <tr style="line-height: 22px;">
    <td style="width: 176px;">Address:</td>  
    <td>#<%= @traveler.city.titleize %>, <%= @subregion.name %>, <%= @traveler.zip %></td>
  </tr>
  <tr style="line-height: 22px;">
    <td style="width: 176px;">Mobile:</td>
    <td><%= @traveler.phone_number %></td>
  </tr>
  <tr style="line-height: 22px;">
    <td style="width: 176px;">Email:</td>
    <td><%= @traveler.email %></td>
  </tr>
  <tr style="line-height: 22px;">
    <td style="width: 176px;">Credit Card Type:</td>
    <td><%= @cardtype %></td>
  </tr>
  <tr style="line-height: 22px;">
    <td style="width: 176px;">Credit Expiry Date:</td>
    <td><%= @expiry_date %></td>
  </tr>
  <tr style="line-height: 22px;">
    <td style="width: 176px;">Credit Card Number:</td>
    <td><%= @cardnumber %></td>
  </tr>
  <tr>
    <td colspan="2">
      <h3 style="font-size: 16px ; color: #008000; margin-top: 4px; margin-bottom: 4px;">BOOKING DETAILS:</h3>
    </td>
  </tr>
  <% @booking.each do |b| %>
    <tr style="line-height: 22px;">
      <td style="width: 176px;">Reservation No</td>
      <td><%= b.id %></td>
    </tr>
    <tr style="line-height: 22px;">
      <td style="width: 176px;">Arrival Date:</td>
      <td><%= b.from_date.strftime("%A,%d %B %Y") %></td>
    </tr>
    <tr style="line-height: 22px;">
      <td style="width: 176px;">Departure Date</td>
      <td><%= b.to_date.strftime("%A,%d %B %Y") %></td>
    </tr>
    <tr style="line-height: 22px;">
      <td style="width: 176px;">Number of Nights</td>
      <td><%= b.night_number %></td>
    </tr>
    <tr style="line-height: 22px;">
      <td style="width: 176px;">No. Of Adults / Child</td>
      <td><%= b.adults %></td>
    </tr>
    <tr style="line-height: 22px;">
      <td style="width: 176px;">Remarks:</td>
      <td><%= b.message %></td>
    </tr>
  <% end %>
  <tr style="line-height: 22px;">
      <td style="width: 176px;">total Price:</td>
      <td>$<%= number_with_precision(@amount, :precision => 2, :separator => '.') %></td>
    </tr>
  <tr style="line-height: 22px;">
    <td style="width: 176px;">RATE INFORMATION: </td>
    <td><span style="color:#000000; font-size:16px; text-transform:none;">taxes not included</span></td>
  </tr>
    </table>
  </td>
</tr>

  <tr>
    <td colspan="2">
          <table cellspacing="0" width="100%" cellpadding="0" align="center" style="text-align: center; font-size:16px; border-left: #008000 5px solid; border-right: #008000 5px solid;">
        <tr style="color:#fff;">
          <% @booking.each do |book| %>
            <% @nights.times do |night| %>
              <td style="background: #008000; height:40px;  border-right-width: 1px; border-right-color:#009400; border-right-style:solid;"><%= book.from_date.advance(days: night).strftime("%m") %>/<%= book.from_date.advance(days: night).strftime("%d") %></td>
            <% end %>
          <% end %>    
        </tr>
        <tr style="color:#4c4c4c; font-size: 12px;">
              <% @country = Carmen::Country.coded(@hotel.country_id ) %>
              <% @rates = RoomRate.where("room_sub_type_id=? AND hotel_id=?", @room_sub_type, @hotel.id) %>
              <% unless @rates.empty?%>
                <% @rates.each do |rate| %>
                  <% unless rate.blank? %>
                    <% ((@checkout.to_date - @checkin.to_date).to_i).times do |day| %>
                      <% if (rate.from_date..rate.to_date).cover?(@checkin.to_date.advance(days: day)) %>
                        <td style="background: #ef807f; height:40px;">
                          <%= number_with_precision(rate.price, :precision => 2, :separator => '.') %>
                          <% if !@country.blank? && @country.name == "Canada" %>
                            CAD
                          <% else %>
                            USD
                          <% end %>
                        </td>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </tr>
      </table>
    </td>
  </tr>
 <tr>
 <td colspan="2">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF" style="font-family:Arial, Helvetica, sans-serif; border-width: 5px; border-color: #008000; border-top-width:0; border-style: solid; padding: 20px; font-size: 12px; color: #565656; font-weight: bold;">
  <tr style="line-height: 22px;">
    <td style="width: 176px;">Room Type:</td>
    <td><%= @room.room_type.room_type %></td>
  </tr>
  <tr style="line-height: 22px;">
    <td style="width: 176px;">Total Stay Cost:</td>
    <td><%= number_with_precision(@amount, :precision => 2, :separator => '.') %></td>
  </tr>
  <td colspan="2">
      <h3 style="font-size: 16px ; color: #008000; margin-top: 20px; margin-bottom: 12px;">CANCELLATION POLICY:</h3>
    </td>
  <tr style="line-height: 22px;">
    <td style="width: 176px;">Guarantee Method:</td>
    <td>Credit Card (Mastercard, VISA, AMEX, Discover)</td>
  </tr>
  <tr style="line-height: 22px;">
    <td style="width: 176px;">Cancellation:</td>
    <td>Within 48 hours, unless specified by the individual hotel
  </td>
  </tr>
  <tr style="line-height: 22px;">
    <td colspan="2">
    <h3 style="font-size: 14px ; color: #008000; margin-top: 10px; margin-bottom: 3px;"></h3>
      <p style="color: #6d6d6d; font-size: 12px; line-height: 20px; margin: 0;">
        It is your duty, as the booking property, to safeguard this fax and the guests credit card info in a secure way that follows your company's security policies
      </p>
      <h3 style="font-size: 14px ; color: #008000; margin-top: 10px; margin-bottom: 3px;"></h3>
      <p style="color: #6d6d6d; font-size: 12px; line-height: 20px; margin: 0;">
        A confirmation has been sent to the guest with all of the booking details
      </p>
      <p style="color: #6d6d6d; font-size: 12px; line-height: 20px; margin: 0;">
        Please contact us if you have any further questions or comments.<br/>
        Toll Free: 1-800-494-BEST(2378)<br />
        Email: info@bestnights.com
      </p>
    </td>
  </tr>

    <td colspan="2">
      <table cellspacing="0" cellpadding="0" align="center" style="background: #e5e5e5 ; margin-top: 20px; width: 594px; margin-left: -20px; margin-right: -20px; margin-bottom:-20px; padding-left: 20px; padding-right: 20px; padding-top: 15px; padding-bottom: 15px;">
        <tr>
          <td colspan="2">
            <h4 style="font-size: 12px ; color: #707070; margin-top: 0; margin-bottom: 0;">
              Thank you,
              <br>
              The BestNights Team
            </h4>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
  </td>
</tr>
</table>
</body>
</html>