<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>E-mail Template</title>
</head>
<body>
<table width="604" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#272727">
<tr>
  <td bgcolor="#272727" width="302">
    <a href="http://23.253.149.108">
      <img src="http://23.253.149.108/assets/e-mail-logo.jpg" alt="" title="" style="border: 0;">
    </a>
  </td>
  <td bgcolor="#272727" width="302">
    <h2 style="font-size: 14px ; color: #ef807f; margin:0; line-height: 17px; font-style: italic; padding-top: 5px; padding-left: 120px">1-888-494-BEST (2378) <br />
    info@bestnights.com
    </h2>
  </td>
</tr>
<tr>
  <td colspan="2">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF" style="font-family:Arial, Helvetica, sans-serif; border-width: 5px; border-color: #008000; border-bottom-width:0; border-style: solid; padding: 20px; font-size: 12px; color: #565656; font-weight: bold;">
      <tr>
        <td colspan="2">
          <h2 style="font-size: 22px ; color: #e73d3d; margin-top: 4px; margin-bottom: 4px;">Dear <%= @traveler.firstname.capitalize %>&nbsp;<%= @traveler.lastname.capitalize %>,</h2>
          <h3 style="font-size: 16px ; color: #008000; margin-top: 10px; margin-bottom: 0;">BOOKING CONFIRMATION:</h3>
          <h4 style="font-size: 12px ; color: #cf4a4a; margin-top: 2px; margin-bottom: 10px;">Kindest Regards for your booking..</h4>
        </td>
      </tr>
      <tr style="line-height: 22px;">
        <td style="width: 176px;">Confirmation Number</td>
        <td>: 
          <% @booking.each do |b| %>
            <%= b.id %>
          <% end %>
        </td>
      </tr>
      <tr style="line-height: 22px;">
        <td style="width: 176px;">This booking is confirmed on</td>
        <td>:  
          <% @booking.each do |b| %>
            <%= b.created_at.strftime("%A, %B %d, %Y") %>
          <% end %>
        </td>
      </tr>
      <tr style="line-height: 22px;">
        <td style="width: 176px;">Your Name</td>
        <td>:  <%= @traveler.firstname.capitalize %>&nbsp;<%= @traveler.lastname.capitalize %></td>
      </tr>
      <tr style="line-height: 22px;">
        <td style="width: 176px;">Your E-mail</td>
        <td>:  <%= @traveler.email %></td>
      </tr>
      <tr>
        <td colspan="2">
          <h3 style="font-size: 16px ; color: #008000; margin-top: 4px; margin-bottom: 0;">YOUR BOOKING:</h3>
          <h4 style="font-size: 12px ; color: #cf4a4a; margin-top: 2px; margin-bottom: 10px;">Hotel Information</h4>
        </td>
      </tr>
      <tr style="line-height: 22px;">
        <td style="width: 176px;">Hotel</td>
        <td>:  <%= @hotel.name.titleize %></td>
      </tr>
      <tr style="line-height: 22px;">
        <td style="width: 176px;">Address</td>
          <% @country = Carmen::Country.coded(@hotel.country_id ) %>
          <% unless @country.blank? %>
            <% @subregion = @country.subregions.coded(@hotel.state_id) %>
          <% end %>
        <td>:<%= @hotel.city.capitalize %>, <%= @subregion.name %>, <%= @country.name %>, <%= @hotel.zip %></td>
      </tr>
      <tr style="line-height: 22px;">
        <td style="width: 176px;">Phone</td>
        <td>:  
          <% if @hotel.phone.blank? %>
            <%= @hotel.phone %>
          <% else %>
            <%= @hotel.fax %>
          <% end %>
        </td>
      </tr>
      <tr style="line-height: 22px;">
        <td style="width: 176px;">Fax</td>
        <td>:  <%= @hotel.fax %></td>
      </tr>
      <tr>
        <td colspan="2">
          <h3 style="font-size: 16px ; color: #008000; margin-top: 4px; margin-bottom: 4px;">YOUR BOOKING DETAILS:</h3>
        </td>
      </tr>
      <tr style="line-height: 22px;">
        <td style="width: 176px;">Arrival</td>
        <td>:  
          <% @booking.each do |b| %>
            <%= b.from_date.strftime("%A, %B %d, %Y") %>
          <% end %>
        </td>
      </tr>
      <tr style="line-height: 22px;">
        <td style="width: 176px;">Departure</td>
        <td>:  
          <% @booking.each do |b| %>
            <%= b.to_date.strftime("%A, %B %d, %Y") %>
          <% end %>
        </td>
      </tr>
      <tr style="line-height: 22px;">
        <td style="width: 176px;">Booking Details</td>
        <td>:<%= @nights %> nights <%= @room_numbers %> rooms</td>
      </tr>
      </table>
      </td>
    </tr>
      <tr>
        <td colspan="2">
          <table cellspacing="0" width="100%" cellpadding="0" align="center" style="text-align: center; font-size:16px; border-left: #008000 5px solid; border-right: #008000 5px solid;">
            <tr style="color:#fff;">
              <% @booking.each do |book| %>
                <% @nights.times do |night| %>
                  <td style="background: #008000; height:40px;  border-right-width: 1px; border-right-color:#009400; border-right-style:solid;"><%= book.from_date.advance(days: night).strftime("%m") %>/<%= book.from_date.advance(days: night).strftime("%d") %></td>
                <% end %>
              <% end %>    
            </tr>
            <tr style="color:#4c4c4c; font-size: 12px;">
              <% @country = Carmen::Country.coded(@hotel.country_id ) %>
              <% @rates = RoomRate.where("room_sub_type_id=? AND hotel_id=?", @room_sub_type, @hotel.id) %>
              <% unless @rates.empty?%>
                <% @rates.each do |rate| %>
                  <% unless rate.blank? %>
                    <% ((@checkout.to_date - @checkin.to_date).to_i).times do |day| %>
                      <% if (rate.from_date..rate.to_date).cover?(@checkin.to_date.advance(days: day)) %>
                        <td style="background: #ef807f; height:40px;">
                          <%= number_with_precision(rate.price, :precision => 2, :separator => '.') %>
                          <% if !@country.blank? && @country.name == "Canada" %>
                            CAD
                          <% else %>
                            USD
                          <% end %>
                        </td>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
      <td colspan="2">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFFFF" style="font-family:Arial, Helvetica, sans-serif; border-width: 5px; border-color: #008000; border-top-width:0; border-style: solid; padding: 20px; font-size: 12px; color: #565656; font-weight: bold;">
        <tr>
        <td colspan="2">
          <h2 style="font-size: 16px ; color: #272727; margin-top: 10px; margin-bottom: 25px;">Total Price : <span style="color: #cf4a4a;">
            <% @country = Carmen::Country.coded(@hotel.country_id ) %>
            <% if !@country.blank? && @country.name == "Canada" %>
              <% @currency = "CAD" %>
            <% else %>
              <% @currency = "USD" %>
            <% end %> 
            <%= @currency %><%= number_with_precision(@amount, :precision => 2, :separator => '.') %></span></h2>
          <h2 style="font-size: 14px ; color: #272727; margin-top: 0; margin-bottom: 0;">
            Room 1 - <%= @room.room_type.room_type %>
            <br />
            Room Description
          </h2>
          <h4 style="font-size: 12px ; color: #cf4a4a; margin-top: 7px; margin-bottom: 10px;">How to Cancel or Change Your booking</h4>
          <p style="color: #6d6d6d; font-size: 12px; line-height: 20px;">
            If you want to cancel or change your booking, please go to www.bestnights.com and login to your
    traveller account or call 1-800-494-BEST (2378)
          </p>
          <h4 style="font-size: 12px ; color: #cf4a4a; margin-top: 7px; margin-bottom: 20px;">Please check with the selected hotel for individual policies in regards to:</h4>
          
          <h3 style="font-size: 14px ; color: #008000; margin-top: 10px; margin-bottom: 3px;">Cancellation,Prepayment,Children,Parking,Pets</h3>
          <p style="color: #6d6d6d; font-size: 12px; line-height: 20px; margin-top: 0; margin-bottom:  5px;">Please check your hotel’s policy</p>
          
          <h3 style="font-size: 14px ; color: #008000; margin-top: 10px; margin-bottom: 3px;">Payment</h3>
          <p style="color: #6d6d6d; font-size: 12px; line-height: 20px; margin: 0;">You have now confirmed and guaranteed your booking by credit card.</p>
          
          <h3 style="font-size: 14px ; color: #008000; margin-top: 10px; margin-bottom: 3px;">Bestnights.com does not charge your credit card.</h3>
          <p style="color: #6d6d6d; font-size: 12px; line-height: 20px; margin: 0;">
            Your credit card is required to guarantee your booking. Please note that your credit card may be pre-authorized prior to your arrival.
          </p>
          
          <h3 style="font-size: 14px ; color: #008000; margin-top: 10px; margin-bottom: 3px;">This hotel accepts the following forms of payment:</h3>
          <p style="color: #6d6d6d; font-size: 12px; line-height: 20px; margin: 0;">Visa, Mastercard, Dinners Club, American Express, Discover</p>
          
          <h3 style="font-size: 14px ; color: #008000; margin-top: 10px; margin-bottom: 3px;">Customer Service</h3>
          <p style="color: #6d6d6d; font-size: 12px; line-height: 20px; margin: 0;">
            Wishing you a pleasant stay! 
            <br>
            Bestnights.com online hotel reservations
            <br>
            E-mail: <a href="mailto:info@bestnights.com" style="color: #6d6d6d">info@bestnights.com</a> 
            <br>
            Phone In-country: 1 800 494 BEST (2378) 
            <br>
            Phone International: 1 800 494 BEST (2378)
          </p>  
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <table cellspacing="0" cellpadding="0" align="center" style="background: #e5e5e5 ; margin-top: 20px; width: 594px; margin-left: -20px; margin-right: -20px; margin-bottom:-20px; padding-left: 20px; padding-right: 20px; padding-top: 15px; padding-bottom: 15px;">
            <tr>
              <td colspan="2">
                <h4 style="font-size: 12px ; color: #707070; margin-top: 0; margin-bottom: 0;">
                  Thank you,
                  <br>
                  The BestNights Team
                </h4>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
</table>
</body>
</html>