<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>E-mail Template</title>
<style type="text/css">
<!--
@media print {
body * {
  padding:0;
  margin:0;
}
}
-->
</style>
</head>
<body>
<div style="text-align:center; clear:both; overflow:hidden;">
<div style="width:600px; margin:0 auto; clear:both; overflow:hidden; padding:1px; border:1px solid #008000; display:block; outline:none; font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:normal; color:#000000;">
<div style="margin:0; clear:both; overflow:hidden; padding:1px; border:4px solid #008000; display:block; outline:none; font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:normal; color:#000000;">
<div style="margin:0; clear:both; overflow:hidden; padding:0px; border:1px solid #008000; display:block; outline:none; font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:normal; color:#000000;">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
  <td align="left" valign="top" style="padding:6px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" valign="top"><img src="/assets/e-mail-logo.gif" width="316" height="52" alt="" /></td>
    </table></td>
</tr>
<tr>
  <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; border-top:3px solid #000; padding:20px 0px 0px 0px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="2" align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; line-height:25px; color:#FF0000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:3px; padding-bottom:3px; text-transform:uppercase; border-top:1px solid #008000;">Booking Confirmation:</td>
            </tr>
            <tr>
              <td colspan="2" align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:1px solid #008000; border-bottom:none; border-left:none;">Thank you for your booking..</td>
            </tr>
            <tr>
              <td width="27%" align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:1px solid #008000; border-bottom:none; border-left:none;">Confirmation Number:</td>
              <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:normal; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:none; border-bottom:none; border-left:none;"><strong>
                <% @booking.each do |b| %>
                  <%= b.id %>
                <% end %>
              </strong></td>
            </tr>
            <tr>
              <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:1px solid #008000; border-bottom:none; border-left:none;">This booking is confirmed on:</td>
              <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:normal; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:none; border-bottom:none; border-left:none;"><strong>
                <% @booking.each do |b| %>
                  <%= b.created_at.strftime("%A, %B %d, %Y") %>
                <% end %>
              </strong></td>
            </tr>
            <tr>
              <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:1px solid #008000; border-bottom:none; border-left:none;">Your Name:</td>
              <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:normal; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:none; border-bottom:none; border-left:none;"><%= @traveler.firstname.capitalize %>&nbsp;<%= @traveler.lastname.capitalize %></td>
            </tr>
            <tr>
              <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:1px solid #008000; border-bottom:none; border-left:none;">Your E-mail:</td>
              <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:normal; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:none; border-bottom:none; border-left:none;"><a href="mailto:doroshka@gmail.com" style="color:#000000; text-decoration:underline;"><%= @traveler.email %></a></td>
            </tr>
            <tr>
              <td colspan="2" align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; line-height:25px; color:#FF0000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:3px; padding-bottom:3px; text-transform:uppercase; border-top:1px solid #008000;">Your booking:</td>
            </tr>
            <tr>
              <td colspan="2" align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:1px solid #008000; border-bottom:none; border-left:none;">Hotel Information</td>
            </tr>
            <tr>
              <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:1px solid #008000; border-bottom:none; border-left:none;">Hotel:</td>
              <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:none; border-bottom:none; border-left:none;"><%= @hotel.name %></td>
            </tr>
            <tr>
              <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:1px solid #008000; border-bottom:none; border-left:none;">Address:</td>
              <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:17px; color:#000000; font-weight:normal; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:none; border-bottom:none; border-left:none;">
                <%= @hotel.name %><br />
                <%= @hotel.city %><br />
                <%= @hotel.address1 %><br />
                <%= @hotel.zip %></td>
            </tr>
            <tr>
              <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:1px solid #008000; border-bottom:none; border-left:none;">Phone:</td>
              <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:normal; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:none; border-bottom:none; border-left:none;"><%= @hotel.fax %></td>
            </tr>
            <tr>
              <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:1px solid #008000; border-bottom:none; border-left:none;">Fax:</td>
              <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:normal; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:none; border-bottom:none; border-left:none;"><%= @hotel.fax %></td>
            </tr>
            <tr>
              <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:1px solid #008000; border-bottom:none; border-left:none;">E-mail:</td>
              <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:normal; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:none; border-bottom:none; border-left:none;">
              <%= mail_to "#{@hotel.email}" %>
              </td>
            </tr>
            <tr>
              <td colspan="2" align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; line-height:25px; color:#FF0000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:3px; padding-bottom:3px; text-transform:uppercase; border-top:1px solid #008000;">Your Reservation details:</td>
            </tr>
            <tr>
              <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:1px solid #008000; border-bottom:none; border-left:none;">Arrival:</td>
              <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:normal; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:none; border-bottom:none; border-left:none;"><% @booking.each do |b| %>
                  <%= b.from_date.strftime("%A, %B %d, %Y") %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:1px solid #008000; border-bottom:none; border-left:none;">Departure:</td>
              <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:normal; padding-left:6px; padding-right:6px; padding-top:3px; padding-bottom:3px; border-top:1px solid #008000; border-right:none; border-bottom:none; border-left:none;"><% @booking.each do |b| %>
                  <%= b.to_date.strftime("%A, %B %d, %Y") %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:1px solid #008000; border-bottom:none; border-left:none;">Quantity:</td>
              <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:normal; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:none; border-bottom:none; border-left:none;"><%= @room_numbers.size %></td>
            </tr>
            <tr>
              <td height="35" align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:18px; line-height:20px; color:#2B70FF; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:1px solid #008000; border-bottom:none; border-left:none;">Total Price</td>
              <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:18px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:none; border-bottom:none; border-left:none;">$<%= @amount %></td>
            </tr>
            <tr>
              <td colspan="2" align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:20px; color:#000000; font-weight:normal; padding-left:6px; padding-right:6px; padding-top:3px; padding-bottom:4px; border-top:1px solid #008000; border-right:none; border-bottom:1px solid #008000; border-left:none;"><strong>Room 1 - <%= @room.name %> - <%= @room.room_type.room_type %><br />
              </strong>                          <p style="margin:4px 0; padding:0 6px; display:block; clear:both; display:block; font-weight:normal;"><strong>Room Description</strong><br />
                  <%= @room.description  %></p></td>
            </tr>
        </table></td>
      </tr>
    </table></td>
</tr>
<tr>
  <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:10px; padding-bottom:10px;">
     Break Fast:
    <ul style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:16px; color:#000000; font-weight:normal; clear:both; display:block; overflow:hidden;">
      <li>
        Continental breakfast is included in the room rate. 
      </li>
    </ul>
    Taxes:
    <ul style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:16px; color:#000000; font-weight:normal; clear:both; display:block; overflow:hidden;">
      <li>
        Service Charge is not applicable.
      </li>
      <li>
        City/tourist tax is not applicable.
      </li>
    </ul>
    Prepayment:
    <ul style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:16px; color:#000000; font-weight:normal; clear:both; display:block; overflow:hidden;">
      <li>
        No deposit will be charged.
      </li>
    </ul>
    Cancellation Policy:
    <ul style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:16px; color:#000000; font-weight:normal; clear:both; display:block; overflow:hidden;">
      <li>
        If cancelled up to 2 days before date of arrival, no fee will be charged.
      </li>
      <li>
        If cancelled later or in case of no-show, the first night will be charged.
      </li>
    </ul>
  </td>
</tr>

<tr>
  <td>
  <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td width="27%" align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:18px; line-height:20px; color:#2B70FF; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:1px solid #008000; border-bottom:1px solid #008000; border-left:none;">Room Price</td>
      <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:18px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:2px; padding-bottom:3px; border-top:1px solid #008000; border-right:none; border-bottom:1px solid #008000; border-left:none;">
        $<%= @room.price %></td>
    </tr>
  </table>
</td>
</tr>
<tr>
<td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:10px; padding-bottom:10px;">How to Cancel or Change Your booking
</td>
</tr>
<tr>
  <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; padding-left:6px; padding-right:6px; padding-top:10px; padding-bottom:10px;">
    If you want to cancel or change your booking, please go to <a href="http://www.bestnights.com">www.bestnights.com</a> and login to your traveller account or call 1-800-494-BEST (2378)
  </td>
</tr>
<tr><td style="height:4px;"></td></tr>
<tr>
  <td>
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
      <td style="width:4px;"></td>
      <td style="border:1px solid #008000">
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
          <tr>
            <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:10px; padding-bottom:10px;">
              Hotel Policies
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:10px; padding-bottom:10px;">
              Cancellation & prepayment policy
              <ul style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:16px; color:#000000; font-weight:normal; clear:both; display:block; overflow:hidden;">
                <li>
                  Please check the specific policy of each room above
                </li>
              </ul>
              Children and extra bed policy
              <ul style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:16px; color:#000000; font-weight:normal; clear:both; display:block; overflow:hidden;">
                <li>
                  All children under 2 years are charged EUR 12.84 per night per person for cots.
                </li>
                <li>
                  Maximum capacity of babycots in a room is 2.
                </li>
              </ul>
              Guest Parking
              <ul style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:16px; color:#000000; font-weight:normal; clear:both; display:block; overflow:hidden;">
                <li>
                  Free public parking is possible on site.
                </li>
              </ul>
              Internet
              <ul style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:16px; color:#000000; font-weight:normal; clear:both; display:block; overflow:hidden;">
                <li>
                  No Internet Access available.
                </li>
              </ul>
              Pets
              <ul style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:16px; color:#000000; font-weight:normal; clear:both; display:block; overflow:hidden;">
                <li>
                  Pets are allowed. Charges may be applicable.
                </li>
              </ul>
            </td>
          </tr> 
        </table>
      </td>
      <td style="width:4px;"></td>
    </table>
  </td>
</tr>
<tr><td style="height:4px;"></td></tr>
<tr>
  <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:10px; padding-bottom:10px;"> Credit Card / Guarantee/ Payment Information</td>
</tr>  
<tr>
  <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:10px; padding-bottom:10px;"> Payment</td>
</tr>
<tr>
  <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; padding-left:6px; padding-right:6px; padding-top:10px; padding-bottom:10px;"> You have now confirmed and guaranteed your booking by credit card. <br />
    <strong>Bestnights.com does not charge your credit card.</strong><br />
    Your credit card is required to guarantee your booking. Please note that your credit card may be pre-authorised prior to your arrival. <br />
    <strong>This hotel accepts the following forms of payment:</strong><br />
    Visa, Mastercard, Dinners Club, American Express, Discover
  </td>
</tr> 
<tr>
  <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:10px; padding-bottom:10px;">Customer Service</td>
</tr>  
<tr>
  <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; padding-left:6px; padding-right:6px; padding-top:10px; padding-bottom:10px;">Wishing you a pleasant stay! <br />
    Bestnights.com online hotel reservations<br />
    E-mail: <%= mail_to "info@bestnights.com" %><br />
    Phone In-country: 1 800 494 BEST (2378) <br />
    Phone International:  1 800 494 BEST (2378)
  </td>
</tr>    
<tr>
<tr>
  <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:10px; padding-bottom:10px;">Thank you,</td>
</tr>
<tr>
  <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:0px; padding-bottom:0px;">The BestNights Team</td>
</tr>
<tr>
  <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#000000; font-weight:bold; padding-left:6px; padding-right:6px; padding-top:0px; padding-bottom:0;">&nbsp;</td>
</tr>
</table>
</div>
</div>
</div>
</div>
</body>
</html>
