<p>Hi <%= @hotel.name %>,</p>
<p>The booking <%= @booking %> has been canceled by <%= @traveler.firstname %>&nbsp;<%= @traveler.lastname %> on <%= Time.now.strftime("%d-%m-%Y") %> at <%= Time.now("%H:%M:%S") %></p>