<% content_for :title, "BestNights.com - Edit User" %>

<header>
	<h1>Edit User</h1>
</header>

<div id="container-main">
	<%= form_for @user do |f| %>
		<fieldset>
		  <ul>
		  	<li>
		  		<%= f.label :email %>
		  		<%= f.text_field :email %>
		  	</li>
		  	<% if current_user == @user %>
		  		<li>
			  		<%= f.label "Old Password" %>
			  		<%= password_field_tag "old_password" %>
			  	</li>
			  	<li>
			  		<%= f.label :password %>
			  		<%= f.password_field :password %>
			  	</li>
			  	<li>
			  		<%= f.label :password_confirmation %>
			  		<%= f.password_field :password_confirmation %>
			  	</li>
			  <% elsif current_user.admin? %>
			  	<li>
			  		<%= f.label :status %>
			  		<select id="user_status" name="user[status]">
							<% ["active", "pending"].each do |status| %>
							  <option value=<%= status %> <%= "selected" if @user.status == status %>  ><%= status %></option>
							<% end %>
						</select>
			  	</li>	
		  	<% end %>
		  	
		  	<li>
		  		<%= f.label :role %>
		  		<select id="user_role" name="user[role]">
						<% ["admin", "manager", "front-desk"].each do |role| %>
						  <option value=<%= role %> <%= "selected" if @user.role == role %>  ><%= role %></option>
						<% end %>
					</select>
		  	</li>		  	
		  </ul>	
		</fieldset>
		<fieldset class="formactions">
			<%= f.submit %>
		</fieldset>
	<% end %>
</div>

<%= javascript_include_tag :jquery_ujs %>