<% content_for :title, "BestNights.com - Edit User" %>

<header>
	<h1>Edit User</h1>
</header>

<div id="container-main">
	<%= form_for @user do |f| %>
		<fieldset>
		  <ul>
		  	<li>
	  			<%= f.label 'First Name*' %>
			  	<%= f.text_field :firstname, :autofocus => true %>
			  </li>
			  <li>
			  	<%= f.label 'Last Name*' %>
			  	<%= f.text_field :lastname, :autofocus => true %>
			  </li>
		  	<li>
		  		<%= f.label :email %>
		  		<%= f.text_field :email %>
		  	</li>
		  	<% if current_user == @user %>
		  		<li>
			  		<%= f.label "Old Password" %>
			  		<%= password_field_tag "old_password" %>
			  	</li>
			  	<li>
			  		<%= f.label :password %>
			  		<%= f.password_field :password %>
			  	</li>
			  	<li>
			  		<%= f.label :password_confirmation %>
			  		<%= f.password_field :password_confirmation %>
			  	</li>
			  <% elsif current_user.admin? %>
			  	<li>
			  		<%= f.label :status %>
			  		<select id="user_status" name="user[status]">
							<% ["active", "pending"].each do |status| %>
							  <option value=<%= status %> <%= "selected" if @user.status == status %>  ><%= status %></option>
							<% end %>
						</select>
			  	</li>	
		  	<% end %>
		  	<li>
			  	<%= f.label 'Address*' %>
			  	<%= f.text_field :address1, :autofocus => true %>
				</li>
			  <li>
			  	<%= f.label 'City*' %>
			  	<%= f.text_field :city, :autofocus => true %>
				</li>
			  <li class="state">
			  	<%= f.label :state %>
			  	<% if @user.country %>
			  		<%= f.select :state_id, options_for_select(@user.country.states.map{|s|[s.state_province, s.id]}, @user.state.id) %>
			  	<% else %>
			  		<%= f.select :state_id, options_for_select(State.all.map{|s|[s.state_province, s.id]}) %>
			  	<% end %>
			  </li>
			  <li class="country">
			  	<%= f.label "Country" %>
			  	<% if @user.country %>
			  		<%= f.select :country_id, options_for_select(Country.all.map{|s|[s.country, s.id]}, @user.country_id) %>
			  	<% else %>
			  		<%= f.select :country_id, options_for_select(Country.all.map{|s|[s.country, s.id]}) %>
			  	<% end %>
					
			  </li>
		  	<li>
		  		<%= f.label :role %>
		  		<select id="user_role" name="user[role]">
						<% ["admin", "manager", "front-desk"].each do |role| %>
						  <option value=<%= role %> <%= "selected" if @user.role == role %>  ><%= role %></option>
						<% end %>
					</select>
		  	</li>		  	
		  </ul>	
		</fieldset>
		<fieldset class="formactions">
			<%= f.submit %>
		</fieldset>
	<% end %>
</div>

<%= javascript_include_tag :jquery_ujs %>