<% content_for :title, "BestNights.com - User" %>

<header>
	<h1 class="prop-title">User</h1>
</header>

<%= form_tag users_path, :id => "search_form", :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div id="container-main">
	<div class="formactions">
		<%= link_to "Add", new_user_path %>
  </div>
	<table class="admintablelist">
		<tr>
			<th>Email</th>
			<th>Role</th>
			<th>Status</th>
			<th>Hotel Name</th>
			<th>Hotel ID</th>
			<th>Action</th>
			<th></th>
		</tr>
		<% @users.each do |user| %>
		  <tr>
		  	<td><%= user.email %></td>
				<td><%= user.role %></td>
				<td><%= user.status %></td>
				<td>
					<% if user.role == "manager" && !user.hotels.empty? %>
						<%= user.hotels[0].name.titleize %>
					<% end %>
				</td>
				<td>
					<% if user.role == "manager" && !user.hotels.empty? %>
						<%= user.hotels[0].id %>
					<% end %>
				</td>
				<td>
					<% if can? :show, user %>
						<%= link_to "Show", user_path(user) %>
					<% end %>
					<% if can? :edit, user %>
						<%= link_to "Edit", edit_user_path(user) %>
					<% end %>
				</td>
		  </tr>
		<% end %>
	</table>
</div>

<%= javascript_include_tag :jquery_ujs %>