<div id="wrapper" class="bookingdetail">
	<div id="eyebrow">
		<%= render :partial => "common/home_nav_tab" %>
	</div>
	
	<header>
		<div class="headdetails">
			<span class="starrating">
				<% @hotel.star.to_i.times do %>
		  		&#10029;
		  	<% end %>
		  </span><br>
		</div>
		<h1 class="prop-title"><%= @hotel.name %></h1><br/>
		<address style="padding:0 15px"><%= @hotel.address1 %></address>
	</header>	
	
	<section id="gallery">
		<div class="album" data-jgallery-album-title="Hotel Name">
			<% @hotel.hotel_photos.each do |photo| %>
				<a href=<%= photo.picture.url %>><img src=<%= photo.picture.url %> size="75x75" alt=""  data-jgallery-bg-color="#d1d2c3" data-jgallery-text-color="#272727" /></a>
			<% end %>
			<% @hotel.rooms.each do |room| %>
				<% room.room_photos.each do |photo| %>
					<a href=<%= photo.picture.url %>><img src=<%= photo.picture.url %> size="75x75" alt=""  data-jgallery-bg-color="#d1d2c3" data-jgallery-text-color="#272727" /></a>
				<% end %>
			<% end %>
		</div>
	</section>
	<section class="description">
		<p><%= @hotel.description %></p>
		<div class="details">
			<h6>Room Features</h6>
			<p>
				<% @room_attrs.each do |room_attr| %>
					<%= room_attr.first + ', ' %>
				<% end %>
			</p>
			<h6>Hotel Features</h6>
			<p>
				<% @hotel.hotel_attributes.each do |ha| %>
				  <%= ha.attr + ', ' %>
				<% end %>
			</p>
			<h6>Description</h6>
			<p><%= @hotel.description %></p>
			<h6>Cancellation Policy:</h6> 
			<p><%= @hotel.cancellation_policy.blank? ? "" : @hotel.cancellation_policy.titleize %></p>		
			<h6>Deposit Policy:</h6> 
			<p><%= @hotel.deposit_policy.blank? ? "" : @hotel.deposit_policy.titleize %></p>	
			<h6>Children Policy:</h6> 
			<p><%= @hotel.children_policy.blank? ? "" : @hotel.children_policy.titleize %></p>
			<h6>Groups Policy:</h6> 
			<p><%= @hotel.groups_policy.blank? ? "" : @hotel.groups_policy.titleize %></p>	
			<h6>Internet Policy:</h6> 
			<p><%= @hotel.internet_policy.blank? ? "" : @hotel.internet_policy.titleize %></p>	
			<h6>Parking Policy:</h6> 
			<p><%= @hotel.parking_policy.blank? ? "" : @hotel.parking_policy.titleize %></p>	
			<h6>Pets Policy:</h6> 
			<p><%= @hotel.pets_policy.blank? ? "" : @hotel.pets_policy.titleize %></p>		
		</div>
	</section>

	<div style="overflow:hidden;">
		<a href="#bookingoptions" class="button5" onclick="scrollToAnchor('book');" id="booking_hotel">Book Now</a><br />
		<span id="rate" class="rateUI">Total : <strong>$<%= number_with_precision(get_lowest_price(@hotel.id,session[:checkin],session[:checkout]), :precision => 2, :separator => '.') %></strong></span>  
  </div>
	
	<div id="searchdates">
		<h4 class="check_availability" style="cursor: pointer;">Check Availability</h4>
		<form method="get" action="/hotels/search" accept-charset="UTF-8">
			<input type="hidden" id="checkindate" name="date[checkin]" value=<%= session[:checkin] %> >
			<input type="hidden" id="checkoutdate" name="date[checkout]" value=<%= session[:checkout] %> >
			<input type="hidden" id="roomtype" name="roomtype">
			<div id="checkin"></div>
			<div id="checkout"></div>
			<!--<div id="checkin"><span>Check in</span><span>Wednesday, 26th<br>February 2014</span></div>-->
			<!--<div id="checkout"><span>Check out</span><span>Friday, 28th<br>February 2014</span></div>-->
			<div id="jrange" class="dates">
				<input>
				<div></div>
			</div>
			<ul id="roomtypes">
				<li value="1"><a>Single Room</a></li>
				<li value="2"><a>Double Room</a></li>
				<li value="3"><a>Groups</a></li>
			</ul>
			<div id="groupopts">
				<label for="roomqty">Number of Rooms</label>
				<input name="group[roomqty]" id="roomqty" type="number" min="1" value="1">
				<ul>
					<li>
						<h5>Room 1</h5>
						<ul>
							<li>
								<label>Adults</label>
								<input name="group[beds][1][adultqty]" type="number" min="0" value="1">
							</li>
							<li>
								<label>Children</label>
								<input name="group[beds][1][childqty]" type="number" min="0" value="0">
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</form>
	</div>
	
	<h5 id="available_notification"></h5>	
	<div id="bookingoptions">
		<table>
			<tr>
				<th scope="col">Room Type</th>
				<th scope="col">Description</th>
				<th scope="col">Max People</th>
				<th scope="col">Room Available</th>
				<th scope="col">BestNights.com Price</th>
				<th scope="col">Number of Rooms</th>
				<th scope="col">Reservation</th>
			</tr>
						
			<form action="/checkout" method="post">
				<% @hotel.rooms.each_with_index do |room, index| %>
					<% @flag = 0 %>
					<% @statuses = RoomStatus.where("room_type_id=? AND hotel_id=?",room.room_type.id, @hotel.id) %>
					<% @statuses.each do |status| %>
						<% if !status.blank? && @flag == 0 %>
							<% @flag = 1 %>
							<tr style="background: #eef6e0; color: #628a1e;">								
								<td><%= room.room_sub_type.name %></td>
								<td>
									<div class="room-available type">
										<table class="data-tbl">
											<tr>
												<td>
													<%= room.description %>
												</td>
											</tr>
										</table>
									</div>
								</td>
								<td><%= room.max_people %></td>
								<td class="room_available">
								<% @availables = RoomAvailable.where("room_sub_type_id=? AND hotel_id=?",room.room_sub_type_id, @hotel.id ).order("from_date") %>
								<div class="room-available">
									<table class="data-tbl">										
										<% @availables.each do |available| %>
											<% if !available.blank? %>
													<% ((session[:checkout].to_date - session[:checkin].to_date).to_i + 1).times do |day| %>
														<% if (available.from_date..available.to_date).cover?(session[:checkin].to_date.advance(days: day)) %>
															<tr>	
																<td>
																<%= session[:checkin].to_date.advance(days: day).strftime('%b %d, %G') %> : <span><%= available.number %></span>
																</td>	
															</tr>													
														<% end %>
													<% end %>										
											<% end %>
										<% end %>										
									</table>
								</div>
							</td>

							<td class="price">
								<div class="room-available">
									<table class="data-tbl">	
										
										<% @rates = RoomRate.where("room_sub_type_id=? AND hotel_id=?", room.room_sub_type_id, @hotel.id).order("from_date") %>
										<% unless @rates.empty? %>
											<% @rates.each do |rate| %>
												<% if !rate.blank? %>											
													<% ((session[:checkout].to_date - session[:checkin].to_date).to_i + 1).times do |day| %>
														<% if (rate.from_date..rate.to_date).cover?(session[:checkin].to_date.advance(days: day)) %>
																<tr>
																<td>	
																	<%= session[:checkin].to_date.advance(days: day).strftime('%b %d, %G') %> : $<%= number_with_precision(rate.price, precision: 2) %>
																</td>
																<tr>
														<% end %>
													<% end %>											
												<% else %>
													<% @price_flag = 0 %>
												<% end %>
											<% end %>
										<% else %>
											<% @price_flag = 0 %>
										<% end %>										
									</table>
								</div>
							</td>

									<td class="room_number vertical-m"><% @free.each do |fr| %>
										<% if fr.has_key?(room.room_type.id) %>
											<%# if fr[room.room_type.id] != 0 %>
												<input type="number" min="0" max=<%= room.available_max(@from_date, @to_date) %> value="" name="number[<%= room.id %>]" id="room_number">
											<%# end %>
										<% end %>
									<% end %>
								</td>
								<td align="center">
									<%  @availables.each do |available| %>
										<% if !available.blank? %>
											<% if available.number > 0 %>
												<% @flag = 1 %>
											<% else %>
												<% @flag = 1 %>
											<% end %>
										<% end %>
									<% end %>
									<% if @flag == 1 && @price_flag != 0 %>
										<%= link_to "Book Now", checkout_path(:hotel_id => @hotel.id, :room_type_id => room.room_sub_type.id) , class: "link_style", id: "link_style" %><br />
										<span>$<%= number_with_precision(session[:room_rate][index], precision: 2) %></span>
									<% else %>
										<p class="red">Sold Out</p>
									<% end %>
								</td>
							</tr>
						<% end %>
					<% end %>
				<% end %>			
			</form>
		</table>
	<!-- </form> -->
	</div>
	
	<%= render :partial => "common/home_footer" %>
	
</div>

<script>
	var kept_prv = (new Date("<%= session[:checkin] %>")).getTime(); // kept date
	var kept_cur = (new Date("<%= session[:checkout] %>")).getTime(); // kept date
	var kept_roomtype = "<%= session[:roomtype] %>";
	var kept_group = gon.group;
</script>

<script type="text/javascript">
 //room_number
 $(".link_style").click(function(e){
 	e.preventDefault();
 	$.cookie("rate", parseInt($(this).siblings("span").html().substring(1)))

 	var room_needed = $(this).parent().siblings(".room_number").children("#room_number").val();
 	var room_avail = parseInt($(this).parent().siblings(".room_available").children(".room-available").children(".data-tbl").children("tbody").children("tr").children("td").children("span").html());
 	if (room_needed <= room_avail && room_needed != '') {
 		//var room_available = parseInt($(this).parent().siblings(".room_available").html()) - room_needed;
 		link = $(this).attr('href');
 		link = link + '&room_number='+room_needed + '&total_room=' + room_avail;
 		window.location.href = link;
 		return true;
 	}
 	else if (room_needed > 0) {
 		alert(room_needed + " " + "rooms are not available");
 		return false;
 	}
 	else {
 		return false;
 	}

 })
</script>
