<div id="wrapper" class="register">
	<div id="eyebrow">
		<%= render :partial => "common/home_nav_tab" %>		
	</div>
	<div id="container-main">
		<h5>Payment Information</h5>
		<%= form_for @traveler, :url => checkout_confirm_path, :method => :post do |f| %>
		<fieldset>
			<ul>
				<li>
					<label for="cardtype">Credit Card Type</label>
					<select id="cardtype" name="cardtype">
						<optgroup label="Credit Card Type">
							<option value="visa">Visa</option>
							<option value="mc">Mastercard</option>
							<option value="diners">Diners Club</option>
							<option value="amex">American Express</option>
							<option value="discover">Discover</option>
						</optgroup>
					</select>
				</li>
				<li>
					<label for="ccnumber">Credit Card Number</label>
					<input id="ccnumber" name="ccnumber" size="30" type="text">
					<%= f.hidden_field :email, :value => @traveler.email %>
					<input id="emailconfirm" name="emailconfirm" size="20" type="hidden" value="<%= @traveler.email %>">
				</li>
				<li>
					<label for="ccv">CCV</label>
					<input id="ccv" name="ccv" size="3" type="text" maxlength="3">
				</li>
				<li>
					<label for="ccexpiry">Credit Card Expiration Date</label>
					<select id="ccexpirym" name="ccexpirym">
						<optgroup label="Month">
							<% (1..12).each do |v| %>
								<option value=<%= v.to_s.rjust(2, '0') %> ><%= v.to_s.rjust(2, '0') %></option>
							<% end %>
						</optgroup>
					</select>
					/
					<select id="ccexpiryy" name="ccexpiryy">
						<optgroup label="Year">
							<% (14..25).each do |v| %>
								<option value=<%= v.to_s %> ><%= v %></option>
							<% end %>
						</optgroup>
					</select>
				</li>
			</ul>
		</fieldset>
		<%= f.submit "Continue Booking", :class => "button4" %>
		<% end %>
	</div>
	<%= render :partial => "common/home_footer" %>
</div>