<div id="wrapper" class="register">
 	<div id="container-main">
 		<h1 class="prop-title">Traveler Payment Information</h1> 
 		<div class="link-sec"><%= link_to "Book History", traveler_booking_history_path(@traveler ) %> <%= link_to "Edit Profile", edit_traveler_traveler_path(@traveler) %> <%= link_to "Payment Information", book_hotel_path %>
 			<%= link_to "Change Password", change_password_traveler_path(@traveler) %>
 		</div>
 		<div class="info blockinfo">
 			<ul>
 				<li>
	 				<label>Credit Card Type:</label>
	 				<%= @traveler.try(:credit_card_type).capitalize if @traveler.credit_card_type  %>
 				</li>
 				<li>
	 				<label>Credit Card Number:</label>
					<%= @traveler.try(:credit_card_number) %>
				</li>
				<li>
					<label>CCV:</label>
					<%= @traveler.try(:ccv) %>
				</li>
				<li>
					<label>Credit Card Expiration Date:</label>
					<%= @traveler.credit_card_expiry_date.strftime('%m/%y') if @traveler && @traveler.credit_card_expiry_date %>
				</li>
			</ul>

			
		</div>
		<div class="link-sec">
		<% if !session[:hotel_id].blank? %>
			<%= link_to  "Continue Booking",checkout_confirm_path, style: "margin-left:-350px;" %>		
		<% end %>
	</div>
			<%= render :partial => "common/home_footer" %>
 	</div>




