<div id="wrapper" class="checkout_confirm">
	<header>
		<h1>Your Booking is Complete</h1>
	</header>
	<section>
		<div id="userdetails">
			<h5>Your Details</h5>
			<div>
				<ul>
					<li><strong>Name:</strong> <%= @traveler.firstname.capitalize %>&nbsp;<%= @traveler.lastname.capitalize %></li>
					<li><strong>Email:</strong><%= @traveler.email %></li>
					<li>&nbsp;</li>
					<li><strong>Address:</strong><%= @traveler.address1 %></li>
					<li><%= @traveler.city %>, <%= @subregion.blank? ? "" : @subregion.name %> <%= @traveler.zip %> <%= @country.name %></li>  
					<li>&nbsp;</li>
					<li><strong>Phone Number:</strong><%= @traveler.phone_number %></li>
						<li>&nbsp;</li>
			</ul>
			</div>
		</div>
		<div class="checkoutContHolder">
		<p>To modify your booking, please log into your account, call us, or send us an email <a href="http://www.bestnights.com">www.bestnights.com</a></p>
<table width="100%"  border="0" cellpadding="0" cellspacing="0" class="chectoutTable">
	<tr>
		<td colspan="2"><h5>Your Booking</h5></td>
	</tr>
	<tr>
		<td colspan="2"><h6 class="checkout">Hotel Information:</h6></td>
	</tr>
	<tr>
		<td><strong>Hotel:</strong></td>
		<td><%= @hotel.name.titleize %></td>
	</tr>
	<tr>
		<td><strong>Address:</strong></td>
		<% @country = Carmen::Country.coded(@hotel.country_id ) %>
		<% unless @country.blank? %>
			<% @subregion = @country.subregions.coded(@hotel.state_id) %>
			<td><%= @hotel.city.titleize %>, <%= @subregion.name %>, <%= @country.name %></td>
		<% else %>
			<td><%= @hotel.city.titleize %></td>
		<% end %>
	</tr>
	<tr>
		<td><strong>Email:</strong></td>
		<td><%= @hotel.email %></td>
	</tr>
	<tr>
		<td><strong>Phone:</strong></td>
		<td><%= @hotel.phone %></td>
	</tr>
	<tr>
		<td><strong>Fax:</strong></td>
		<td><%= @hotel.fax %></td>
	</tr>
	<tr>
		<td colspan="2"><h6 class="checkout">Your Reservation details:</h6></td>
	</tr>
	<% @latest_booked.each do |book| %>	
	<tr>		
		<td><strong>Arrival:</strong></td>
		<td><%= book.from_date.strftime("%A,%d %B %Y") %></td>
	</tr>
	<tr>
		<td><strong>Departure:</strong></td>
		<td><%= book.to_date.strftime("%A,%d %B %Y") %></td>
	</tr>
	<tr>
		<td><strong>Rooms Booked:</strong></td>
		<td><%= session[:room_needed] %></td>
		</tr>
	<% end %>
	<tr>
		<td><strong>Total:</strong></td>
		<td><%= number_with_precision(@amount, :precision => 2, :separator => '.') %></td>
	</tr>
	<% @room = Room.find_by_hotel_id_and_room_sub_type_id(session[:hotel_id],session[:room_type_id]) %>
	<tr>
		<td><strong>Room:</strong></td>
		<td><%= @room.room_sub_type.name.titleize %>, <%= @room.room_type.room_type.titleize %></td>
	</tr>
	<tr>
		<td><strong>Room Price:</strong></td>
		<td>
			<div class="horScrol">
			<table>
				<tr>
					<% @number_nights.times do |night| %>
						<td>
							<%= session[:checkin].to_date.advance(days: night).strftime("%m") %>/<%= session[:checkin].to_date.advance(days: night).strftime("%d") %>
						</td>
					<% end %>
				</tr>
				<tr>
					<% @number_nights.times do |night| %>
						<td><%= number_with_precision(session[:price]["#{session[:roomtype]}"] / @number_nights, :precision => 2, :separator => '.') %>
							<% if !@country.blank? && @country.name == "Canada" %>
								CAD
							<% else %>
							  USD
							<% end %>
						</td>
					<% end %>
				</tr>
			</table>
			</div>
		</td>
	</tr>
		<tr>
		<td><strong>Taxes:</strong></td>
		<td>
			<ul>
			   <li> Taxes excluded from booking,</li>
			   <li> Taxes will be charged by the hotel.</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td><strong>Prepayment:</strong></td>
		<td>
			The Hotel May Pre-Authorize Your Card
		</td>
	</tr>
	<tr>
		<td><strong>Cancellation Policy:</strong>
			<ul>
				<li>Dependent on Hotel</li>
			</ul>
		</td>
		<td>
			<ul>
		    <li>If cancelled up to 2 days before date of arrival, no fee will be charged.</li>
		    <li>If cancelled later or in case of no-show, the first night will be charged.</li>
		</ul>
		</td>
	</tr>
	<tr>
		<td><strong>How to Cancel or Change Your Booking:</strong></td>
		<td>
			<ul>
				<li>If you want to cancel or change your booking, please go to <a href="http://www.bestnights.com">www.bestnights.com</a></li>
			</ul>
		</td>
	</tr>
	<tr>
		<td><strong>Payment:</strong></td>
		<td>You have now confirmed and guaranteed your booking by credit card.</td>
	</tr>
</table>
<br />
<h6 class="checkout">Bestnights.com does not charge your credit card.</h3>
Your credit card is required to guarantee your booking. Please note that your credit card may be pre-authorized prior to your arrival.

<h6 class="checkout">This hotel accepts the following forms of payment:</h6>

<p>Visa, Mastercard, Dinners Club, American Express, Discover</p> 

    <p>An email confirmation has been sent to your provided email</p>
    <p>Please check your email spam or junk folder and remove best nights from your spam/junk list.</p>
  </div>
		<h3>Where You&rsquo;ll Be Staying</h3>
		
		<section id="roomlist">		
			<h5>
					<% unless @hotel.hotel_photos.first.nil? %>
						<img src=<%= @hotel.hotel_photos.first.picture.url %> size="97x97" alt=""  data-jgallery-bg-color="#d1d2c3" data-jgallery-text-color="#272727" style="width:97px;height:97px;"/>
					<% end %>
					<b><%= @hotel.name %></b><br>
					<span class="starrating">
						<% @hotel.star.to_i.times do %>
				  		&#10029;
				  	<% end %>
				  </span><br>
				  <%= @hotel.city %>, <%= @subregion.name  %>
				
				<div class="roomdetail fLeft chkinout">
					<b>Room:</b> 
					<% @hotel.rooms.each do |room| %>
					  <%= room.room_sub_type.name %>,
					<% end %>
					<br>
					<b>Check in:</b> 
					<span style="background:#FACC2E; color: #CC504A; margin-right:4px; padding: 0 4px;">
						<%= session[:checkin].to_date.strftime('%A, %B %d, %G') %> &bull; 
					</span>
					<div class="clear"></div>
					<b>Check out:</b>
					<span style="background:#FACC2E; color: #CC504A; padding: 0 4px;">
						<%= session[:checkout].to_date.strftime('%A, %B %d, %G') %>
					</span>
				</div>
			</h5>
		</section>
	</section>
	<div id="bookingtotal" class="sidesticky">
		<h3>Reservation Total</h3>
		<% @country = Carmen::Country.coded(@hotel.country_id ) %>
				<% if !@country.blank? &&  @country.name == "Canada" %>
        	<% @currency = "CAD" %> 
     	 	<% else %>
        	<%  @currency = "USD" %>
      	<% end %>
		<table>
			<tr>
				<td>BestNights.com Rate</td>
				<td><%= @currency %><%= number_with_precision(@amount, :precision => 2, :separator => '.') %> </td>
			</tr>
			<tr>
				<td>Tax</td>
				<td>Taxes not included</td>
			</tr>
			<tr>
				<td>Total Price</td>
				<td><%= @currency %><%= number_with_precision(@amount, :precision => 2, :separator => '.') %></td>
			</tr>
		</table>
		
		<h5>We Guarantee</h5>
		<ul>
			<li>Upon check-in, photo identification and credit card are required. Special requests are subject to availability and may incur additional charges</li>
			<li>Booking is safe. When you book with us your details are protected by a secure connection.</li>
			<li>Your privacy is protected. Your details will only be used to guarantee your booking.</li>
			<li>No booking fees. Booking.com services are always free, so you save money.</li>
			<li>Best Price Guarantee. Found your room online at a lower price? We'll match it.</li>
		</ul>			
		
	</div>
	
	<%= render :partial => "common/home_footer" %>
	
</div>