<div id="wrapper" class="checkout_confirm">
	<div id="eyebrow">
		<div class="logo">
			<%= link_to image_tag("logo.png"), root_path %>
		</div>
		<%#= render :partial => "common/home_nav_tab" %>
	</div>
	
	<header>
		<h1>Your Booking is Complete</h1>
	</header>
	<section>
		<div id="userdetails">
			<h5>Your Details</h5>
			<div>
				<ul>
					<li><%= @traveler.name %></li>
					<li><%= @traveler.email %></li>
					<li>&nbsp;</li>
					<li><%= @traveler.address1 %></li>
					<li><%= @traveler.city %>, <%= @traveler.state.state_province %> <%= @traveler.zip %> <%= @traveler.country.country %></li>
					<li>&nbsp;</li>
					<li><%= @traveler.phone_number %></li>
						<li>&nbsp;</li>
			</ul>
			</div>
		</div>
		
		<h3>Where You&rsquo;ll Be Staying</h3>
		
		<section id="roomlist">		
			<h5>
				<div class="resultoptions">
					<a href="#" class="button">More Info</a>
				</div>
				<a href="#">
					<img src=<%= @hotel.hotel_photos.first.picture.url %> size="97x97" alt=""  data-jgallery-bg-color="#d1d2c3" data-jgallery-text-color="#272727" style="width:97px;height:97px;"/>
					<b><%= @hotel.name %></b><br>
					<span class="starrating">
						<% @hotel.star.to_i.times do %>
				  		&#10029;
				  	<% end %>
				  </span><br>
				  <%= @hotel.city %>, <%= @hotel.state.abbreviation %>
				</a>
				<div class="roomdetail">
					<b>Room:</b> 
					<% @hotel.rooms.each do |room| %>
					  <%= room.name %>,
					<% end %>
					<br>
					<b>Check in:</b> <%= session[:checkin].to_date.strftime('%A, %B %c, %G') %> &bull; 
					<b>Check out:</b> <%= session[:checkout].to_date.strftime('%A, %B %c, %G') %></div>
			</h5>
			<div>
				<h6>Contact</h6>
				<p><%= @hotel.address1 %>, <%= @hotel.city %>, <%= @hotel.state.abbreviation %> <%= @hotel.zip %></p>
				
				<h6>Hotel Amenities</h6>
				<!-- TODO hotel ammenties -->
				<% @hotel.attributes.each do |attr| %>
						<%#= attr.attr %>, 
				<% end %>
				<h6>Description</h6>
				<p><%= @hotel.description %></p>
				<div><label for="specialrequests">Special Requests</label><textarea></textarea></div>
			</div>
		</section>
	</section>
	<div id="bookingtotal" class="sidesticky">
		<h3>Reservation Total</h3>
		<table>
			<tr>
				<td>BestNights.com Rate</td>
				<td><%= session[:subtotal] %> /td>
			</tr>
			<tr>
				<td>Tax (included)</td>
				<td><%= @hotel.tax1.to_f * session[:subtotal] %> </td>
			</tr>
			<tr>
				<td>Total Price</td>
				<td><%= session[:subtotal] + (@hotel.tax1.to_f * session[:subtotal] )%></td>
			</tr>
		</table>
		
		<h5>We Guarantee</h5>
		<ul>
			<li>Upon check-in, photo identification and credit card are required. Special requests are subject to availability and may incur additional charges</li>
			<li>Booking is safe. When you book with us your details are protected by a secure connection.</li>
			<li>Your privacy is protected. Your details will only be used to guarantee your booking.</li>
			<li>No booking fees. Booking.com services are always free, so you save money.</li>
			<li>Best Price Guarantee. Found your room online at a lower price? We'll match it.</li>
		</ul>			
		
	</div>
	
	<%= render :partial => "common/home_footer" %>
	
</div>