<div id="wrapper" class="checkout_confirm">
	<header>
		<h1>Your Booking is Complete</h1>
	</header>
	<section>
		<div id="userdetails">
			<p>Our Contact : 1 800 494 BEST (2378)</p>
			<h5>Your Details</h5>
			<div>
				<ul>
					<li><strong>Name:</strong> <%= @traveler.firstname.capitalize %>&nbsp;<%= @traveler.lastname.capitalize %></li>
					<li><strong>Email:</strong><%= @traveler.email %></li>
					<li>&nbsp;</li>
					<li><strong>Address:</strong><%= @traveler.address1 %></li>
					<li><%= @traveler.city %>, <%= @subregion.name %> <%= @traveler.zip %> <%= @country.name %></li>  
					<li>&nbsp;</li>
					<li><strong>Phone Number:</strong><%= @traveler.phone_number %></li>
						<li>&nbsp;</li>
			</ul>
			</div>
		</div>
		<div class="checkoutContHolder">
		<p>To change, cancel or send us a message using our online self service tool bestnights. <a href="http://www.bestnights.com">www.bestnights.com</a></p>
<table width="100%"  border="0" cellpadding="0" cellspacing="0" class="chectoutTable">
	<tr>
		<td colspan="2"><h5>Your Booking</h5></td>
	</tr>
	<tr>
		<td colspan="2"><h6 class="checkout">Hotel Information:</h6></td>
	</tr>
	<tr>
		<td><strong>Hotel:</strong></td>
		<td><%= @hotel.name.capitalize %></td>
	</tr>
	<tr>
		<td><strong>Address:</strong></td>
		<td><%= @hotel.address1.titleize %></td>
	</tr>
	<tr>
		<td><strong>Phone:</strong></td>
		<td><%= @hotel.fax %></td>
	</tr>
	<tr>
		<td><strong>Fax:</strong></td>
		<td><%= @hotel.fax %></td>
	</tr>
	<tr>
		<td><strong>Email:</strong></td>
		<td><%= @hotel.email %></td>
	</tr>
	<tr>
		<td colspan="2"><h6 class="checkout">Your Reservation details:</h6></td>
	</tr>
	<% @latest_booked.each do |book| %>	
	<tr>		
		<td><strong>Arrival:</strong></td>
		<td><%= book.from_date %></td>
	</tr>
	<tr>
		<td><strong>Departure:</strong></td>
		<td><%= book.to_date %></td>
	</tr>
	<tr>
		<td><strong>Quantity:</strong></td>
		<td><%= @latest_booked.size %></td>
		</tr>
	<% end %>
	<tr>
		<td><strong>Total:</strong></td>
		<td><%= number_with_precision(@amount, :precision => 2, :separator => '.') %></td>
	</tr>
	<% @room = Room.find_by_hotel_id_and_id(session[:hotel_id],session[:room_id]) %>
	<tr>
		<td><strong>Room:</strong></td>
		<td><%= @room.name.capitalize %>, <%= @room.room_type.room_type.capitalize %></td>
	</tr>
	<tr>
		<td><strong>Room Price:</strong></td>
		<td><%= number_with_precision(@room.price, :precision => 2, :separator => '.') %></td>  
	</tr>
	<tr>
		<td><strong>Break Fast:</strong></td>
		<td>Continental breakfast is included in the room rate.</td>
	</tr>
		<tr>
		<td><strong>Taxes:</strong></td>
		<td>
			<ul>
			   <li> Service Charge is not applicable.</li>
			   <li> City/tourist tax is not applicable.</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td><strong>Prepayment:</strong></td>
		<td>
			No deposit will be charged.
		</td>
	</tr>
	<tr>
		<td><strong>Cancellation Policy:</strong></td>
		<td>
			<ul>
		    <li>If cancelled up to 2 days before date of arrival, no fee will be charged.</li>
		    <li>If cancelled later or in case of no-show, the first night will be charged.</li>
		</ul>
		</td>
	</tr>
	<tr>
		<td><strong>Hotel Policies:</strong></td>
		<td>
			<ul>
				<li>If you want to cancel or change your booking, please go to <a href="http://www.bestnights.com">www.bestnights.com</a></li>
				<li>How to Cancel or Change Your booking</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td><strong>Cancellation & prepayment policy:</strong></td>
		<td>
			Please check the specific policy of each room above.
		</td>
	</tr>
	<tr>
		<td><strong>Children and extra bed policy:</strong></td>
		<td>
			<ul>
				<li>All children under 2 years are charged EUR 12.84 per night per person for cots.</li>
				<li>Maximum capacity of babycots in a room is 2.</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td><strong>Guest Parking:</strong></td>
		<td>
			Free public parking is possible on site
		</td>
	</tr>
		<tr>
		<td><strong>Internet:</strong></td>
		<td>
			No Internet Access available.
		</td>
	</tr>
	<tr>
		<td><strong>Pets:</strong></td>
		<td>
    Pets are allowed. Charges may be applicable.
		</td>
	</tr>
	<tr>
		<td><strong>Credit Card / Guarantee/ Payment Information:</strong></td>
		<td></td>
	</tr>
	<tr>
		<td><strong>Payment:</strong></td>
		<td>You have now confirmed and guaranteed your booking by credit card.</td>
	</tr>
</table>
<br />
<h6 class="checkout">Bestnights.com does not charge your credit card.</h3>
Your credit card is required to guarantee your booking. Please note that your credit card may be pre-authorized prior to your arrival.

<h6 class="checkout">This hotel accepts the following forms of payment:</h6>

<p>Visa, Mastercard, Dinners Club, American Express, Discover</p> 

    <p>An email confirmation has been sent to your provided email</p>
    <p>Please check your email spam or junk folder and remove best nights from your spam/junk list.</p>
  </div>
		<h3>Where You&rsquo;ll Be Staying</h3>
		
		<section id="roomlist">		
			<h5>
				<div class="resultoptions">
					<a href="#" class="button">More Info</a>
				</div>
				<a href="#">
					<img src=<%= @hotel.hotel_photos.first.picture.url %> size="97x97" alt=""  data-jgallery-bg-color="#d1d2c3" data-jgallery-text-color="#272727" style="width:97px;height:97px;"/>
					<b><%= @hotel.name %></b><br>
					<span class="starrating">
						<% @hotel.star.to_i.times do %>
				  		&#10029;
				  	<% end %>
				  </span><br>
				  <%= @hotel.city %>, <%= @hotel.state.abbreviation if @hotel && @hotel.state %>
				</a>
				<div class="roomdetail">
					<b>Room:</b> 
					<% @hotel.rooms.each do |room| %>
					  <%= room.name %>,
					<% end %>
					<br>
					<b>Check in:</b> <%= session[:checkin].to_date.strftime('%A, %B %c, %G') %> &bull; 
					<b>Check out:</b> <%= session[:checkout].to_date.strftime('%A, %B %c, %G') %></div>
			</h5>
			<div>
				<h6>Contact</h6>
				<p><%= @hotel.address1 %>, <%= @hotel.city %>, <%= @hotel.state.abbreviation if @hotel && @hotel.state %> <%= @hotel.zip %></p>
				
				<h6>Hotel Amenities</h6>
				<!-- TODO hotel ammenties -->
				<% @hotel.attributes.each do |attr| %>
						<%#= attr.attr %>, 
				<% end %>
				<h6>Description</h6>
				<p><%= @hotel.description %></p>
				<div><label for="specialrequests">Special Requests</label><textarea></textarea></div>
			</div>
		</section>
	</section>
	<div id="bookingtotal" class="sidesticky">
		<h3>Reservation Total</h3>
		<table>
			<tr>
				<td>BestNights.com Rate</td>
				<td><%= session[:subtotal] %> </td>
			</tr>
			<tr>
				<td>Tax (included)</td>
				<td>Taxes not included</td>
			</tr>
			<tr>
				<td>Total Price</td>
				<td><%= session[:subtotal] %></td>
			</tr>
		</table>
		
		<h5>We Guarantee</h5>
		<ul>
			<li>Upon check-in, photo identification and credit card are required. Special requests are subject to availability and may incur additional charges</li>
			<li>Booking is safe. When you book with us your details are protected by a secure connection.</li>
			<li>Your privacy is protected. Your details will only be used to guarantee your booking.</li>
			<li>No booking fees. Booking.com services are always free, so you save money.</li>
			<li>Best Price Guarantee. Found your room online at a lower price? We'll match it.</li>
		</ul>			
		
	</div>
	
	<%= render :partial => "common/home_footer" %>
	
</div>