<div id="wrapper" class="checkout_confirm">
	<div id="eyebrow">
		<div class="logo">
			<%= image_tag("logo.png") %>
		</div>
		<%= render :partial => "common/home_nav_tab" %>
	</div>
	
	<header>
		<h1>Your Booking is Complete</h1>
	</header>
	<section>
		<div id="userdetails">
			<h5>Your Details</h5>
			<div>
				<ul>
					<li><%= @traveler.name %></li>
					<li><%= @traveler.email %></li>
					<li>&nbsp;</li>
					<li><%= @traveler.address1 %></li>
					<li><%= @traveler.city %>, <%= @traveler.state.state_province %> <%= @traveler.zip %> <%= @traveler.country.country %></li>
					<li>&nbsp;</li>
					<li><%= @traveler.phone_number %></li>
						<li>&nbsp;</li>
			</ul>
			</div>
		</div>
		
		<h3>Where You&rsquo;ll Be Staying</h3>
		
		<section id="roomlist">		
			<h5>
				<div class="resultoptions">
					<a href="#" class="button">More Info</a>
				</div>
				<a href="#">
					<img src=<%= @hotel.hotel_photos.first.picture.url %> size="97x97" alt=""  data-jgallery-bg-color="#d1d2c3" data-jgallery-text-color="#272727" style="width:97px;height:97px;"/>
					<b><%= @hotel.name %></b><br>
					<span class="starrating">
						<% @hotel.star.to_i.times do %>
				  		&#10029;
				  	<% end %>
				  </span><br>
				  <%= @hotel.city %>, <%= @hotel.state.abbreviation %>
				</a>
				<div class="roomdetail">
					<b>Room:</b> 
					<% @hotel.rooms.each do |room| %>
					  <%= room.name %>,
					<% end %>
					<br>
					<b>Check in:</b> <%= session[:checkin].to_date.strftime('%A, %B %C, %G') %> &bull; 
					<b>Check out:</b> <%= session[:checkout].to_date.strftime('%A, %B %C, %G') %></div>
			</h5>
			<div>
				<h6>Contact</h6>
				<p>Contact information should be added here from the hotel listing in the database. <!-- TODO contact info from the database for the hotel --></p>
				<h6>Room Features</h6>
				<!-- TODO room ammenties -->
				<p>Bathroom with bathtub, Bathroom with shower, Television, Hairdryer, Central heating, Tea/ coffeemaker, Air conditioning, Soundproof windows, Minibar, Pay-TV, Radio, Desk, Small lounge, Telephone, Room safe, DVD player/ Video recorder, Stereo system/ CD player, Computer games, Cable TV, Internet, WiFi in the rooms</p>
				<h6>Hotel Features</h6>
				<!-- TODO hotel ammenties -->
				<p>Beauty Salon, Stage for shows, Business center, Cafe, Steam room, Disco/ Nightclub, Entrance hall/ lobby, Express check-in/ out, Elevator, TV lounge, Gym, Hairdresser, Parking lot, Terrace,   Porter service, Hotel bar, Hotel bar with a view, Pool bar, Outdoor swimming pool, Hotel safe, Child/ Baby Cot, Conference rooms, Massage, Non-smoking rooms, PC with Internet, Casino, Restaurant, 24-hour reception, Wheelchair accessible, Sauna, Shops on site, Snack bar, Beach umbrellas, Deck chairs/ Sun loungers, Laundry service, Wellness Center/ Spa, Whirlpool/ Jacuzzi/ Spa tub, WiFi in Lobby, Room Service, 24-hour Room Service, Shoe cleaning service, Organized activities, Car rental at the hotel, Concierge</p>
				<h6>Description</h6>
				<p><%= @hotel.descrription %></p>
				<div><label for="specialrequests">Special Requests</label><textarea></textarea></div>
			</div>
		</section>
	</section>
	<div id="bookingtotal" class="sidesticky">
		<h3>Your BestNights.com Total</h3>
		<table>
			<tr>
				<td>BestNights.com Rate</td>
				<!--TODO room rate -->
				<td>157.50 <span class="currency">US$</span></td>
			</tr>
			<tr>
				<td>Tax (included)</td>
				<!--TODO tax rate -->
				<td>19.69 <span class="currency">US$</span></td>
			</tr>
			<tr>
				<td>Total Price</td>
				<!-- TODO total for stay -->
				<td>177.19 <span class="currency">US$</span></td>
			</tr>
		</table>
		
		<h5>We Guarantee</h5>
		<ul>
			<li>Upon check-in, photo identification and credit card are required. Special requests are subject to availability and may incur additional charges</li>
			<li>Booking is safe. When you book with us your details are protected by a secure connection.</li>
			<li>Your privacy is protected. Your details will only be used to guarantee your booking.</li>
			<li>No booking fees. Booking.com services are always free, so you save money.</li>
			<li>Best Price Guarantee. Found your room online at a lower price? We'll match it.</li>
		</ul>			
		
	</div>
	
	<%= render :partial => "common/home_footer" %>
	
</div>