<div id="wrapper" class="checkout_confirm">
	<div id="eyebrow">
		<div class="logo">
			<%= link_to image_tag("logo.png"), root_path %>
		</div>
		<%#= render :partial => "common/home_nav_tab" %>
	</div>
	
	<header>
		<h1>Your Booking is Complete</h1>
	</header>
	<section>
		<div id="userdetails">
			<p>Our Contact : 1 800 494 BEST (2378)</p>
			<h5>Your Details</h5>
			<div>
				<ul>
					<li><%= @traveler.firstname.capitalize %>&nbsp;<%= @traveler.lastname.capitalize %></li>
					<li><%= @traveler.email %></li>
					<li>&nbsp;</li>
					<li><%= @traveler.address1 %></li>
					<li><%= @traveler.city %>, <%= @subregion.name %> <%= @traveler.zip %> <%= @country.name %></li>  
					<li>&nbsp;</li>
					<li><%= @traveler.phone_number %></li>
						<li>&nbsp;</li>
			</ul>
			</div>
		</div>
		<p>To change, cancel or send us a message using our online self service tool bestnights. <a href="http://www.bestnights.com">www.bestnights.com</a></p>

		<h5>Your Booking</h5>
		<div>Hotel Information:</div>
		<p>Hote: <%= @hotel.name %></p>
		<p>Address: <%= @hotel.address1 %></p>
		<p>Phone: <%= @hotel.fax %></p>
		<p>Fax: <%= @hotel.fax %></p>
		<p>Email: <%= @hotel.email %></p>
		<h5>Your Reservation details:</h5>
		<% @latest_booked.each do |book| %>
			<p>Arrival: <%= book.from_date %></p>
			<p>Departure: <%= book.to_date %></p>
			<p>Quantity: <%= @latest_booked.size %></p>
		<% end %>
		<p>Total: <%= @amount %></p>
		<% @room = Room.find_by_hotel_id(session[:hotel_id]) %>
		<p>Room: <%= @room.name %>, <%= @room.room_type.room_type %></p>
		<p>Room Price: <%= @room.price %></p>
		<ul>Break Fast:
		<li>Continental breakfast is included in the room rate.</li>
		</ul>
		<ul>Taxes:
		   <li> Service Charge is not applicable.</li>
		   <li> City/tourist tax is not applicable.</li>
		</ul>
		<ul>Prepayment:
		    <li>No deposit will be charged.</li>
		</ul>
		<ul>Cancellation Policy:
		    <li>If cancelled up to 2 days before date of arrival, no fee will be charged.</li>
		    <li>If cancelled later or in case of no-show, the first night will be charged.</li>
		</ul>
		<ul>Hotel Policies:
<li>If you want to cancel or change your booking, please go to <a href="http://www.bestnights.com">www.bestnights.com</a></li>
<li>How to Cancel or Change Your booking</li>
</ul>
<ul>Cancellation & prepayment policy:
    <li>Please check the specific policy of each room above</li>
</ul>
<ul>Children and extra bed policy
    <li>All children under 2 years are charged EUR 12.84 per night per person for cots.</li>
    <li>Maximum capacity of babycots in a room is 2.</li>
</ul>
<ul>Guest Parking:
    <li>Free public parking is possible on site.</li>
</ul>
<ul>Internet:
    <li>No Internet Access available.</li>
</ul>
<ul>Pets:
    <li>Pets are allowed. Charges may be applicable.</li>
</ul>
<p>Credit Card / Guarantee/ Payment Information</p>
<p>Payment</p>
<p>You have now confirmed and guaranteed your booking by credit card.</p>
<p>Bestnights.com does not charge your credit card.
<p>Your credit card is required to guarantee your booking. Please note that your credit card may be pre-authorised prior to your arrival.</p>
<p>This hotel accepts the following forms of payment:</p>
<p>Visa, Mastercard, Dinners Club, American Express, Discover </p>
    <p>An email confirmation has been sent to your provided email</p>
    <p>Please check your email spam or junk folder and remove best nights from your spam/junk list.</p>
		<h3>Where You&rsquo;ll Be Staying</h3>
		
		<section id="roomlist">		
			<h5>
				<div class="resultoptions">
					<a href="#" class="button">More Info</a>
				</div>
				<a href="#">
					<img src=<%= @hotel.hotel_photos.first.picture.url %> size="97x97" alt=""  data-jgallery-bg-color="#d1d2c3" data-jgallery-text-color="#272727" style="width:97px;height:97px;"/>
					<b><%= @hotel.name %></b><br>
					<span class="starrating">
						<% @hotel.star.to_i.times do %>
				  		&#10029;
				  	<% end %>
				  </span><br>
				  <%= @hotel.city %>, <%= @hotel.state.abbreviation %>
				</a>
				<div class="roomdetail">
					<b>Room:</b> 
					<% @hotel.rooms.each do |room| %>
					  <%= room.name %>,
					<% end %>
					<br>
					<b>Check in:</b> <%= session[:checkin].to_date.strftime('%A, %B %c, %G') %> &bull; 
					<b>Check out:</b> <%= session[:checkout].to_date.strftime('%A, %B %c, %G') %></div>
			</h5>
			<div>
				<h6>Contact</h6>
				<p><%= @hotel.address1 %>, <%= @hotel.city %>, <%= @hotel.state.abbreviation %> <%= @hotel.zip %></p>
				
				<h6>Hotel Amenities</h6>
				<!-- TODO hotel ammenties -->
				<% @hotel.attributes.each do |attr| %>
						<%#= attr.attr %>, 
				<% end %>
				<h6>Description</h6>
				<p><%= @hotel.description %></p>
				<div><label for="specialrequests">Special Requests</label><textarea></textarea></div>
			</div>
		</section>
	</section>
	<div id="bookingtotal" class="sidesticky">
		<h3>Reservation Total</h3>
		<table>
			<tr>
				<td>BestNights.com Rate</td>
				<td><%= session[:subtotal] %> </td>
			</tr>
			<tr>
				<td>Tax (included)</td>
				<td>Taxes not included</td>
			</tr>
			<tr>
				<td>Total Price</td>
				<td><%= session[:subtotal] %></td>
			</tr>
		</table>
		
		<h5>We Guarantee</h5>
		<ul>
			<li>Upon check-in, photo identification and credit card are required. Special requests are subject to availability and may incur additional charges</li>
			<li>Booking is safe. When you book with us your details are protected by a secure connection.</li>
			<li>Your privacy is protected. Your details will only be used to guarantee your booking.</li>
			<li>No booking fees. Booking.com services are always free, so you save money.</li>
			<li>Best Price Guarantee. Found your room online at a lower price? We'll match it.</li>
		</ul>			
		
	</div>
	
	<%= render :partial => "common/home_footer" %>
	
</div>