<div id="wrapper" class="checkout">
	<div id="eyebrow">
		<%= render :partial => "common/home_nav_tab" %>
	</div>
	
	<header>
		<h1>Complete Your Booking</h1>
	</header>
	
	<%= link_to "Edit Your Booking Options", booking_detail_path(:hotel_id => session[:hotel_id]) %>
    
	<section>
		<div id="userdetails">
		
			<h5>Book Faster by Signing In  Click Here</h5>
			<div>
				<form id="traveler_sign_in_booking" action="/traveler_signin_book" method= "POST">
					<ul>
						<li>
							<label for="email">Email Address</label>
							<input type="text" name="email" placeholder="email address" >
						</li>
						<li>
							<label for="password">Password</label>
							<input type="password" name="password" placeholder="password">
						</li>
					</ul>
					<input id="" type="submit" value="sign in" class="button4">
				</form>
			</div>
				
			<h5>Your Details</h5>
			<div>
				<%= form_for @traveler, :url => checkout_confirm_path, :method => :post do |f| %>
					<ul>
						<li>
							<label for="First Name">First Name</label>
		  				<%= f.text_field :firstname, required: true %>
						</li>
						<li>
							<label for="Last Name">Last Name</label>
		  				<%= f.text_field :lastname, required: true %>
						</li>
						<li>
							<%= f.label :email %>
		  				<%= f.text_field :email, required: true, email: true %>
						</li>
				
						<li>
				  		<%= f.label :password %>
				  		<%= f.password_field :password, required: true, minlength: 6 , :placeholder => "Minimum 6 Characters" %>
				  	</li>

				  	<li>
				  		<%= f.label :password_confirmation %>
				  		<%= f.password_field :password_confirmation, required: true, minlength: 6,equalTo: "#traveler_password", :placeholder => "Minimum 6 Characters" %>
				  	</li>
						<li>
							<label for="address">Address</label>
							<%= f.text_field :address1, required: true %>
						</li>
						<li>
							<%= f.label :city %>
		  				<%= f.text_field :city, required: true %>
						</li>
						<% if session[:traveler_signin]
							state_id = @traveler.state.id
							country_id = @traveler.country.id
						else
							state_id = nil
							country_id = nil
						end
						%>
						<li>
				  		<%= f.label :country_id %>
							<%= f.country_select :country_id, {priority: %w(US CA), prompt: 'Please select a country'} ,{required: true}%>
				  	</li>						
						<li>
							<label for="State/Province" style="float:left; width:204px;">State/Province</label>
							<%= render partial: 'home/test', locals: {parent_region: f.object.country_id} %>
						</li>
						<li>
							<label for="zip">Zip/Postal Code</label>
							<%= f.text_field :zip , required: true%>
						</li>
						<li>
							<label for="phone">Phone</label>
							<%= f.text_field :phone_number, required: true %>
						</li>
					</ul>
					<h5>Payment Information</h5>
					<fieldset>
						<ul>
							<li>
								<label for="cardtype">Credit Card Type</label>
								<%= f.select :credit_card_type, options_for_select([['Visa','visa'],['Mastercard','mc'],['Diners Club','diners'],['American Express','amex'],['Discover','discover']]),{},{id: 'cardtype',required: true} %>
							</li>
							<li><label for="ccnumber">Credit Card Number</label>
								<%= f.text_field :credit_card_number,:size => "30", id: 'ccnumber', required: true%>
							</li>
							<li>
								<label for="ccv">CCV</label>
								<%= f.text_field :ccv,:maxlength => "3", :size=>"3" , required: true%>
							</li>
							<li>
								<label for="ccexpiry">Credit Card Expiration Date</label>
<span class="date-select">
								<%= f.date_select("credit_card_expiry_date", :start_year => Time.now.year,
                       :use_month_numbers => true,
                       :discard_day => true,
                       :date_separator => '/',
                       :order => [:month,:year],
                       :html=>{:class => "date-select"} , required: true) %>
					</span>			
							</li>
						</ul>
					</fieldset>
					<%= f.submit "Continue Booking", :class => "button4", :id => "card_validation_check" %>
				<% end %>	
			</div>
		</div>			
		
		<h3>Where You&rsquo;ll Be Staying</h3>
		
		<section id="roomlist">		
			<h5>
				<div class="resultoptions">
					<a href="#" class="button">More Info</a>
				</div>
				<a href="#">
					<% unless @hotel.hotel_photos.empty? %>
						<img src=<%= @hotel.hotel_photos.first.picture.url %> size="97x97" alt=""  data-jgallery-bg-color="#d1d2c3" data-jgallery-text-color="#272727" style="width:97px;height:97px;"/>
					<% end %>	
					<b><%= @hotel.name %></b><br>
					<span class="starrating">
						<% @hotel.star.to_i.times do %>
				  		&#10029;
				  	<% end %>
				  </span><br>
				  <%= @hotel.city %>, <%= @hotel.state.abbreviation if @hotel && @hotel.state%>
				</a>
				<div class="roomdetail">
					<b>Room:</b> 
					<% @hotel.rooms.each do |room| %>
					  <%= room.name %>,
					<% end %>
					<br>
					<b>Check in:</b> 
					<span style="background:#FACC2E; color: #CC504A; margin-right:4px; padding: 0 4px;">
						<% if !cookies[:intime].blank? %>
							<%= cookies[:intime].to_date.strftime('%A, %B %d, %G') %>
						<% else %>
						 <%= Date.today %>
						<% end %>
					</span>
					<b>Check out:</b>
					<span style="background:#FACC2E; color: #CC504A; padding: 0 4px;">
						<% if !cookies[:outtime].blank? %>
							<%= cookies[:outtime].to_date.strftime('%A, %B %d, %G') %>  
						<% else %>
						 <%= Date.today %>
						<% end %>
					</span>
					</div>
			</h5>
			<div>
				<p><%= @hotel.description %></p>
				<div><label for="specialrequests">Special Requests</label><textarea class="spl-req"></textarea></div>
			</div>
		</section>
	</section>
		
	<div id="bookingtotal" class="sidesticky">
		<h3>Reservation Total</h3>
		<table>
			<tr>
				<td>BestNights.com Rate</td>
				<td>USD <%= number_with_precision(@amount, :precision => 2, :separator => '.') %> </td>				
			</tr>
			<tr>
				<td>Tax (NOT included)</td>
				<td>0.00</td>				
			</tr>
			<tr>
				<td>Total Price</td>
				<td>USD <%= number_with_precision(@amount, :precision => 2, :separator => '.') %> </td>

			</tr>
		</table>
		
		<h5>We Guarantee</h5>
		<ul>
			<li>Upon check-in, photo identification and credit card are required. Special requests are subject to availability and may incur additional charges</li>
			<li>Booking is safe. When you book with us your details are protected by a secure connection.</li>
			<li>Your privacy is protected. Your details will only be used to guarantee your booking.</li>
			<li>No booking fees. BestNights.com services are always free, so you save money.</li>
			<li>Best Price Guarantee. Found your room online at a lower price? We'll match it.</li>
		</ul>	
	</div>
	
	<%= render :partial => "common/home_footer" %>
	
</div>

<style type='text/css'>
.date-select select:nth-child(2) {
  width: 50px;
  text-indent: 5px;
}

.date-select select:nth-child(3) {
  width: 80px;  
  text-indent: 5px;
}
}
</style>

<script type="text/javascript">
$("#card_validation_check").click(function(){
   ccnum = $("#ccnumber").val();
   cardtype= $("#cardtype").val();
   if (ccnum.match("^4[0-9]{12}(?:[0-9]{3})?$") && ccnum.length == 16 && cardtype == "visa") {
   		//alert("VISA");
   }
   else if (ccnum.match("^5[1-5][0-9]{14}$") && ccnum.length == 16 && cardtype == "mc"){
   	  //alert("MASTERCARD");
   }
   else if(ccnum.match("^3[47][0-9]{13}$") && ccnum.length == 15 && cardtype == "amex") {
   	   //alert("AMERICAN EXPRESS");
   }
   else if (ccnum.match("^3(?:0[0-5]|[68][0-9])[0-9]{11}$") && ccnum.length == 14 && cardtype == "diners") {
   	   //alert("DINERS CLUB");
   }
   else if (ccnum.match("^6(?:011|5[0-9]{2})[0-9]{12}$") && ccnum.length == 16 && cardtype == "discover") {
   		//alert("DISCOVER");
   }
   else {
   	   alert("Please enter a valid card number and card type");
   	   return false;
   }
})
</script>