<link rel="stylesheet" href="/assets/jquery.remodal.css">
<script src="/assets/jquery.remodal.js"></script>
<div class="remodal-bg">
<div id="wrapper" class="home">
	<div id="eyebrow">
		<%= render :partial => "common/home_nav_tab" %>
	</div>	
	<div id="searchpane" class="calbg">
		<!-- <form id="searchform"> -->
		<form id="searchform" method="get" action="/hotels/search" accept-charset="UTF-8" >	
			<div style="margin-bottom:6px;"> Click Check-in and Check-out Dates to Search Availability </div>
			<input type="hidden" id="checkindate" name="date[checkin]" value=<%= session[:checkin] %> >
			<input type="hidden" id="checkoutdate" name="date[checkout]" value=<%= session[:checkout] %> >
			<input type="hidden" id="roomtype" name="roomtype" value="">
			<span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
			<input type="text" placeholder="Enter Destination..." value="<%= session[:search] %>" data-autocomplete="/home/autocomplete_hotel_name" id="hotel_name" name="search" class="ui-autocomplete-input inputCText" autocomplete="off">
			<input type="submit" class="demo_button_submit" style="visibility: hidden;position: absolute;"/>
				
			<!-- if blank, use this
			<span class="checkindate"><span>Check in</span><span></span><span></span><br><span></span></span>
			<span class="checkoutdate"><span>Check out</span><span></span><span></span><br><span></span></span>
			 -->
			
			<!-- else, prepopulated -->
			<span class="checkindate" id="check-in"><span>Check in</span><input type="text" value="<%= Date.today.strftime("%A, %-d") %><%= Date.today.strftime("%B %Y") %>" class="intime inputCheck" readonly /></span>
			<span class="checkoutdate" id="check-out"><span>Check out</span><input type="text" value="<%= Date.today.strftime("%A, %-d") %><%= Date.today.strftime("%B %Y") %>" class="outtime inputCheck" readonly/></span>
			
				
				
			<div style="display:inline-block;">
			<div class="bookingdates">
				<div class="searchpicker"><input class="datepicker1"></div>
			</div>
			<div id="searchpaneui" class="calClose">
				<input type="submit" value="Search" name="submit" class="searchButton">
				<a class="button4" href="#">Close</a>
			</div>
			</div>
			<div id="searchresults">
				<h5>Top Results</h5>
				<ul>
					<!-- #TODO We need to make this show dynamic search results via JavaScript --> 
					<% unless Hotel.top5.blank? %>
						<% Hotel.top5.each do |hotel| %>
							<%# @availables = RoomAvailable.where("hotel_id = ?", hotel.id) %>
							<%# @rates = RoomRate.where("hotel_id = ?", hotel.id) %>
							<%# @statuses = RoomStatus.where("hotel_id = ?", hotel.id) %>
							<%# if !@availables.blank? && !@rates.blank? && !@statuses.blank? %>
								<li>
									
									<%= link_to booking_detail_path(:hotel_id => hotel.id) do %>
									  <% unless hotel.hotel_photos.empty? %>
									  	<img src=<%= hotel.hotel_photos.first.picture.url %> alt="" style="width:97px;height:74px;" />
									  <% end %>
										<!-- <img src=<%= hotel.hotel_photos.first.picture.url unless hotel.hotel_photos.empty? %> size="97x74" alt="" /> -->
										<b><%= hotel.name %></b><br>
										<span class="starrating">
											<% unless hotel.star.blank? %>
												<% hotel.star.to_i.times do %>
									  			&#10029;
									  			<% end %>
									  		<% end %>
									  </span><br><%= hotel.city %>, <% unless hotel.state.blank? %><%= hotel.state.state_province %><% end %>
									<% end %>
								</li>
							<%# end %>
						<% end %>
					<% end %>
				</ul>
				<p><a class="button4" href="#">See More Results</a></p>
			</div>
		</form>
	</div>
	<div id="features">
		<ul>
			<li data-row="1" data-col="1" data-sizex="2" data-sizey="1" style="background:url(assets/siteimages/grid-1_1.jpg) no-repeat top left;"></li>
			<li data-row="2" data-col="1" data-sizex="2" data-sizey="1"><span>Save with <br>every stay</span></li>
			<li data-row="3" data-col="1" data-sizex="1" data-sizey="1" style="background:url(assets/siteimages/grid-1_3.jpg) no-repeat top left;"></li>
			<li data-row="4" data-col="1" data-sizex="1" data-sizey="1" style="background:url(assets/siteimages/grid-1_4.jpg) no-repeat top left;"></li>
	 
			<li data-row="3" data-col="2" data-sizex="1" data-sizey="2" style="background:url(assets/siteimages/grid-2_3.jpg) no-repeat top left;"></li>
	 
			<li data-row="1" data-col="3" data-sizex="3" data-sizey="3" style="background:url(assets/siteimages/grid-3_1.jpg) no-repeat top left;"><span>Your night just got better<br />with BestNights.com</span></li>
			<li data-row="4" data-col="3" data-sizex="1" data-sizey="1" style="background:url(assets/siteimages/grid-3_4.jpg) no-repeat top left;"></li>
	 
			<li data-row="4" data-col="4" data-sizex="1" data-sizey="1" style="background:url(assets/siteimages/grid-4_4.jpg) no-repeat top left;"></li>
	 
			<li data-row="4" data-col="5" data-sizex="2" data-sizey="1"><span>Last Minute Deals<br>Don&rsquo;t Wait to Get Away</span></li>
	 
			<li data-row="1" data-col="6" data-sizex="1" data-sizey="1" style="background:url(assets/siteimages/grid-6_1.jpg) no-repeat top left;"></li>
			<li data-row="2" data-col="6" data-sizex="1" data-sizey="1" style="background:url(assets/siteimages/grid-6_2.jpg) no-repeat top left;"></li>
			<li data-row="3" data-col="6" data-sizex="1" data-sizey="1" style="background:url(assets/siteimages/grid-6_3.jpg) no-repeat top left;"></li>
	 
		</ul>
	</div>
	<header>
		<h1>Discover<br>the Latest Hotel Deals</h1>
		<ul id="latestdeals">
			<% @hotels.each do |hotel| %>
			  <li>
					<h4><%= hotel.city.titleize %></h4>
					<!--<p> #TODO Need  #count  Deals are available today</p>-->
					<ul>
						  <li>
						  	<%= link_to hotel.name, booking_detail_path(:hotel_id => hotel.id) %><br>
						  	<% hotel.star.to_i.times do %>
						  		&#10029;
						  	<% end %>							  	
						  </li>
					</ul>
				</li>
			<% end %>
			
		</ul>
	</header>
	
	<section id="latesthotels">
		<p class="options"><a href="#">Newest</a> &bull; <a href="#">Popular</a> <!-- Most booked hotel list --></p>
		<h3>Take a look at the latest hotels who just joined.</h3>
		<p>
			<% @latest_joined_hotels.each do |hotel| %>
				<% unless hotel.hotel_photos.empty? %>
				<%= link_to image_tag(hotel.hotel_photos.first.picture.url, style: "width:72px;height:72px;"), "#" %>
					<!-- <a><%= image_tag hotel.hotel_photos.first.picture.url , size: "72x72" %></a> -->
				<% end %>
				
			<% end %>
		</p>
		<!-- <a href="#">View all new hotels</a> -->
	</section>
	<!--
		<section class="callout">
		<h3>Get the latest deals on your hotel bookings.</h3>
		<p>Registering will keep you up-to-date with the latest deals available!</p>
		<a class="button3" href="/users/sign_up">Register Now, It&rsquo;s Free!</a>
	</section>
	-->
	
	<%= render :partial => "common/home_footer" %>
	
</div>
	<div class="remodal" data-remodal-id="modal">
       <div class="modal-top">
       		<h2 class="text-top">We’re Here!   We’re New!</h2>
       		<h3 class="text-mid">We’re Adding <span> New Hotels </span> Everyday!</h3>
       		<h2 class="text-bot left">Check Back Soon</h2>
       		<h2 class="text-bot right">for Great Deals!</h2>
       </div>
       <div class="modal-bot">
       		Your Night just got Better with bestnights.com
       </div>
    </div>
</div>
<script>
$(document).ready(function(){
	
	 $('[data-remodal-id=modal]').remodal().open();
}); 
</script>

<script>
	var kept_prv = (new Date("<%= session[:checkin] %>")).getTime(); // kept date
	var kept_cur = (new Date("<%= session[:checkout] %>")).getTime(); // kept date
	var kept_roomtype = "<%= session[:roomtype] %>";
	var kept_group = gon.group;	
	
	console.log(kept_roomtype);
	console.log(kept_group);
</script>

<script>
	$(document).ready(function(){
		$("#searchform").find('input').keypress(function(e){
			if(e.which == 13){
				return false;
			}
		})
	})
</script>

