<div id="wrapper" class="home">
	<div id="eyebrow">
		<%= render :partial => "common/home_nav_tab" %>
	</div>	
	<div id="searchpane">
		<!-- <form id="searchform"> -->
		<form id="searchform" method="get" action="/hotels/search" accept-charset="UTF-8" >	
			<div style="margin-bottom:6px;"> Click Check-in and Check-out Dates to Search Availability </div>
			<input type="hidden" id="checkindate" name="date[checkin]" value=<%= session[:checkin] %> >
			<input type="hidden" id="checkoutdate" name="date[checkout]" value=<%= session[:checkout] %> >
			<input type="hidden" id="roomtype" name="roomtype" value="2">
			<span class="title">Hotel Search</span>
			<span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
			<input type="text" placeholder="Enter Destination..." value="<%= session[:search] %>" data-autocomplete="/home/autocomplete_hotel_name" id="hotel_name" name="search" class="ui-autocomplete-input" autocomplete="off">
			<input type="submit" class="demo_button_submit" style="visibility: hidden;position: absolute;"/>
				
			<!-- if blank, use this
			<span class="checkindate"><span>Check in</span><span></span><span></span><br><span></span></span>
			<span class="checkoutdate"><span>Check out</span><span></span><span></span><br><span></span></span>
			 -->
			
			<!-- else, prepopulated -->
			<span class="checkindate" id="check-in"><span>Check in</span><!-- <span>Tuesday, </span><span>1st</span><br><span>April 2014</span> --><span><%= Date.today.strftime("%A, %-d") %></span><br/><span><%= Date.today.strftime("%B %Y") %></span></span>
			<span class="checkoutdate" id="check-in"><span>Check out</span><span></span><span></span><br><span></span></span>
			<!-- <span class="checkoutdate"><span>Check out</span><span>Saturday, </span><span>5th</span><br><span>April 2014</span></span> -->
				
				
				
			<div class="bookingdates">
				<div class="searchpicker"><input class="datepicker1"></div>
				<div>Luggage number: <span id="night-number"></span></div>
				<ul id="roomtypes" class="roomtypes">
					<li value="1"><a>Guests: <br />Single Room (1 or 2 people)</a></li>
					<li value="2" class="selected"><a>Guests: <br /> Double Room (1 to 4 people)</a></li>
					<li value="3"><a>Guests: <br /> Groups</a></li>
				</ul>
				<div class="groupopts">
					<label for="roomqty">Number of Rooms</label>
					<!-- <input name="roomqty[0]" class="roomqty" type="number" min="1" value="1"> -->
					<input name="group[roomqty]" id="roomqty" class="roomqty" type="number" min="1" value="1">
					<ul>
						<li>
							<h5>Room 1</h5>
							<ul>
								<li>
									<label>Adults</label>
									<!-- <input name="adultqty[1]" type="number" min="0" value="1"> -->
									<input name="group[beds][1][adultqty]" type="number" min="0" value="1">
								</li>
								<li>
									<label>Children</label>
									<!-- <input name="childqty[1]" type="number" min="0" value="0"> -->
									<input name="group[beds][1][childqty]" type="number" min="0" value="0">
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			
			<div id="searchresults">
				<h5>Top Results</h5>
				<ul>
					<!-- #TODO We need to make this show dynamic search results via JavaScript --> 
					<% Hotel.top5.each do |hotel| %>
						<li>
							
							<%= link_to booking_detail_path(:hotel_id => hotel.id) do %>
							  <% unless hotel.hotel_photos.empty? %>
							  	<img src=<%= hotel.hotel_photos.first.picture.url %> alt="" style="width:97px;height:74px;" />
							  <% end %>
								<!-- <img src=<%= hotel.hotel_photos.first.picture.url unless hotel.hotel_photos.empty? %> size="97x74" alt="" /> -->
								<b><%= hotel.name %></b><br>
								<span class="starrating">
									<% unless hotel.star.blank? %>
										<% hotel.star.to_i.times do %>
							  			&#10029;
							  			<% end %>
							  		<% end %>
							  </span><br><%= hotel.city %>, <% unless hotel.state.blank? %><%= hotel.state.abbreviation %><% end %>
							<% end %>
						</li>
					<% end %>
				</ul>
				<p><a class="button4" href="#">See More Results</a></p>
			</div>
			<div id="searchpaneui"><a href="#" class="button4">Close</a></div>
		</form>
	</div>
	<div id="features">
		<ul>
			<li data-row="1" data-col="1" data-sizex="2" data-sizey="1" style="background:url(assets/siteimages/grid-1_1.jpg) no-repeat top left;"></li>
			<li data-row="2" data-col="1" data-sizex="2" data-sizey="1"><span>Save with <br>every stay</span></li>
			<li data-row="3" data-col="1" data-sizex="1" data-sizey="1" style="background:url(assets/siteimages/grid-1_3.jpg) no-repeat top left;"></li>
			<li data-row="4" data-col="1" data-sizex="1" data-sizey="1" style="background:url(assets/siteimages/grid-1_4.jpg) no-repeat top left;"></li>
	 
			<li data-row="3" data-col="2" data-sizex="1" data-sizey="2" style="background:url(assets/siteimages/grid-2_3.jpg) no-repeat top left;"></li>
	 
			<li data-row="1" data-col="3" data-sizex="3" data-sizey="3" style="background:url(assets/siteimages/grid-3_1.jpg) no-repeat top left;"><span>Your night just got better<br />with BestNights.com</span></li>
			<li data-row="4" data-col="3" data-sizex="1" data-sizey="1" style="background:url(assets/siteimages/grid-3_4.jpg) no-repeat top left;"></li>
	 
			<li data-row="4" data-col="4" data-sizex="1" data-sizey="1" style="background:url(assets/siteimages/grid-4_4.jpg) no-repeat top left;"></li>
	 
			<li data-row="4" data-col="5" data-sizex="2" data-sizey="1"><span>Last Minute Deals<br>Don&rsquo;t Wait to Get Away</span></li>
	 
			<li data-row="1" data-col="6" data-sizex="1" data-sizey="1" style="background:url(assets/siteimages/grid-6_1.jpg) no-repeat top left;"></li>
			<li data-row="2" data-col="6" data-sizex="1" data-sizey="1" style="background:url(assets/siteimages/grid-6_2.jpg) no-repeat top left;"></li>
			<li data-row="3" data-col="6" data-sizex="1" data-sizey="1" style="background:url(assets/siteimages/grid-6_3.jpg) no-repeat top left;"></li>
	 
		</ul>
	</div>
	<header>
		<h1>Discover<br>the Latest Hotel Deals</h1>
		<ul id="latestdeals">
			<% @grouped_hotels.first(4).each do |group_hotel| %>
			  <% city = group_hotel.first %>
			  <% hotels = group_hotel.last %>
			  <li>
					<h4><%= city %></h4>
					<!--<p> #TODO Need  #count  Deals are available today</p>-->
					<ul>
						<% hotels.each do |hotel| %>
						  <li>
						  	<%= link_to hotel.name, booking_detail_path(:hotel_id => hotel.id) %><br>
						  	<% hotel.star.to_i.times do %>
						  		&#10029;
						  	<% end %>							  	
						  </li>
						<% end %>
					</ul>
				</li>
			<% end %>
			
		</ul>
	</header>
	
	<section id="latesthotels">
		<p class="options"><a href="#">Newest</a> &bull; <a href="#">Popular</a> <!-- Most booked hotel list --></p>
		<h3>Take a look at the latest hotels who just joined.</h3>
		<p>
			<% @latest_joined_hotels.each do |hotel| %>
				<% unless hotel.hotel_photos.empty? %>
				<%= link_to image_tag(hotel.hotel_photos.first.picture.url, style: "width:72px;height:72px;"), booking_detail_path(:hotel_id => hotel.id) %>
					<!-- <a><%= image_tag hotel.hotel_photos.first.picture.url , size: "72x72" %></a> -->
				<% end %>
				
			<% end %>
		</p>
		<!-- <a href="#">View all new hotels</a> -->
	</section>
	<!--
		<section class="callout">
		<h3>Get the latest deals on your hotel bookings.</h3>
		<p>Registering will keep you up-to-date with the latest deals available!</p>
		<a class="button3" href="/users/sign_up">Register Now, It&rsquo;s Free!</a>
	</section>
	-->
	
	<%= render :partial => "common/home_footer" %>
	
</div>

<script>
	var kept_prv = (new Date("<%= session[:checkin] %>")).getTime(); // kept date
	var kept_cur = (new Date("<%= session[:checkout] %>")).getTime(); // kept date
	var kept_roomtype = "<%= session[:roomtype] %>";
	var kept_group = gon.group;	
	
	console.log(kept_roomtype);
	console.log(kept_group);
</script>
