<div id="wrapper" class="home">
	<div id="eyebrow">
		<%= render :partial => "common/home_nav_tab" %>
	</div>	
	<div id="features" class="ready">
		<div class="landing-img">
			<img src="/assets/landing-bg.jpg">
		</div>
		<div class="landing-form">
			<h2 class="form-header">
				Register your property and
				<br>
				enter to win an iPad
			</h2>
			<form  method="post" action="/create_contact" accept-charset="UTF-8" >	
			  <div class="form-group">
			  	<% if @contact.errors.any? %>
	        <div id="error_explanation" class="error">
	          <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact us form from being saved:</h2>

	          <ul>
	          <% @contact.errors.full_messages.each do |msg| %>
	            <li><%= msg %></li>
	          <% end %>
	          </ul>
	        </div>
	      	<% end %>
			    <label for="">Name</label>
			    <input autofocus="autofocus" id="name" name="contact[name]" type="text" class="input-text">
			  </div>
			  <div class="form-group">
			    <label for="">Tel No.</label>
			    <input autofocus="autofocus" id="phone_number" name="contact[phone_number]" type="text" class="input-text">
			  </div>
			  <div class="form-group">
			    <label for="">Email address</label>
			    <input autofocus="autofocus" id="email" name="contact[email]" type="text" class="input-text">
			  </div>
			  
			  <button type="submit" class="landing-form-submit">Submit Now</button>
			  <%= link_to "Register Your Property", addproperty_path , class: "landing-form-submit" %>
			</form>
		</div>
		<div class="clear"></div>
	</div>
	<section class="landing">
		<h2 class="landingHead">We’re new and we’re here for you!
		<span>We make booking easier and save your money! 
		</h2>
		<p class="landingText">
			Our mission is to provide hotel guests with the best deals, the easiest online booking experience, and the best client care in the industry. We offer hoteliers an easy to use interface, an efficient and organized booking service, as well as increased exposure for marketing. Our goal is to make online hotel booking as easy and convenient for both hotel guests and hoteliers alike.
		</p>
		<p class="landingText">
			We are committed to:
			<ul class="landingList">
				<li>Providing a first-class online hotel booking experience for travellers and hoteliers alike</li>
				<li>Great customer service as recognized by our clients</li>
				<li>The best deals for travellers</li>
				<li>A feature rich experience to enhance business for hoteliers </li>
			</ul>
		</p>
		<p class="landingText">
			Register today to increase bookings and for a chance to win an iPad! Upon activation with room inventory, You will automatically
			<br />
			be entered to win an iPad! The winner will be announced via our website & contacted directly. 
		</p>
		<p class="landingText terms">
			*Bestnights Inc is not affiliated with Apple Inc. iPad and all other Apple product names are trademarks or registered trademarks of Apple Inc   
		</p>
	</section>
	<%= render :partial => "common/home_footer" %>	
</div>
