<div id="wrapper" class="subpage">
	<div id="eyebrow">
		<%= render :partial => "common/home_nav_tab" %>
	</div>
	<header>
		<h1>Search Results</h1>
	</header>
	
	<section class="no-display">
		<h3>Hotel Search</h3>
		<div id="searchdates">
			<form method="get" action="/hotels/search" accept-charset="UTF-8">
				<input type="hidden" id="checkindate" name="date[checkin]" value=<%= session[:checkin] %> >
				<input type="hidden" id="checkoutdate" name="date[checkout]" value=<%= session[:checkout] %> >
				<input type="hidden" id="roomtype" name="roomtype">
				<input type="submit" class="demo_button_submit" style="visibility: hidden;"/>
				<!--<div id="checkin"><span>Check in</span><span>Wednesday, 26th<br>February 2014</span></div>-->
				<input type="hidden" class="datepicker2"/>
				<!--<div id="checkout"><span>Check out</span><span>Friday, 28th<br>February 2014</span></div>-->
				<div id="jrange" class="dates">
				</div>
				<div id="groupopts">
					<label for="roomqty">Number of Rooms</label>
					<input name="group[roomqty]" id="roomqty" type="number" min="1" value="1">
					<ul>
						<li>
							<h5>Room 1</h5>
							<ul>
								<li>
									<label>Adults</label>
									<input name="group[beds][1][adultqty]" type="number" min="0" value="1">
								</li>
								<li>
									<label>Children</label>
									<input name="group[beds][1][childqty]" type="number" min="0" value="0">
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</form>
		</div>
	</section>
	<form id="searchfilters" class="sidesticky">
		<h3>Filters</h3>
		
		<fieldset class="checkboxes">
			<legend>Stars</legend>
			<input type="checkbox" id="star1"><label for="star1">1 Star</label>
			<input type="checkbox" id="star2"><label for="star2">2 Star</label>
			<input type="checkbox" id="star3"><label for="star3">3 Star</label>
			<input type="checkbox" id="star4"><label for="star4">4 Star</label>
			<input type="checkbox" id="star5"><label for="star5">5 Star</label>
		</fieldset>
		
		<fieldset>
			<legend>Price</legend>
			<input name="priceMin" value="" disabled>
			<input name="priceMax" value="" disabled>
			<div id="slider-price"></div>
		</fieldset>
		
		<fieldset>
			<legend>Rating Index</legend>
			<input name="ratingMin" value="" disabled>
			<input name="ratingMax" value="" disabled>
			<div id="slider-rating"></div>
		</fieldset>
		
		<fieldset class="features">
			<legend>Top Features</legend>
			<% HotelAttributeJoin.topfeatures6.each do |haj| %>
				<% hotel_attribute = HotelAttribute.find(haj.hotel_attribute_id) %>
				<input type="checkbox" id=<%= hotel_attribute.id %> name="" ><label for=<%= hotel_attribute.id %> ><%= hotel_attribute.attr %></label>
			<% end %>	
		</fieldset>
		
		<fieldset class="search_by_name">
			<legend>Search by Name</legend>
			<input type="text" name="name" placeholder="Search Hotel Name...">
		</fieldset>
		
	</form>
	<section class="resBlock">
		<h5>Top Results</h5>
		<div id="">
			<% @hotels.each do |hotel| %>
			<p><%= link_to hotel.name.capitalize, booking_detail_path(:hotel_id => hotel.id) %></p>
						<span class="starrating">
							<% hotel.star.to_i.times do %>
								&#10029;
							<% end %>
						</span>
						<span class="bt-info"><%= link_to hotel.city.capitalize, booking_detail_path(:hotel_id => hotel.id) %>, <%= link_to hotel.zip, booking_detail_path(:hotel_id => hotel.id) %>
						</span>
						<span><strong>Policy:</strong> 
							<%= hotel.policy.blank? ? "" : hotel.policy.titleize %>
						</span>		
			<% end %>
		</div>
	</section>
	<div class="height350">&nbsp;</div>
	<%= render :partial => "common/home_footer" %>

</div>

<script id="hotel_detail" type="text/html">  
	<h5>
		<a href="#" class="booknow">
			<span>BestNights.com Price</span>
			<span>${{lowest_price}}</span>
			<span>Book Now</span>
		</a>			
		
		<a href="#">
			<b>{{name}}</b><br>
			<span class="starrating">
				{{#stars}}
					&#10029;
				{{/stars}}
			</span>
			<br>{{city}}, {{state}}
		</a>
	</h5>
	<div>
		
		<h6>Room Features</h6>
		<p>
			{{#room_attributes}}
				{{attr}},&nbsp;
			{{/room_attributes}}
		</p>
		<h6>Hotel Features</h6>
		<p>
			{{#hotel_attributes}}
				{{attr}},&nbsp;
			{{/hotel_attributes}}
		</p>
		<h6>Description</h6>
		<p>{{description}}</p>
		<a class="button4" href="/booking_detail?hotel_id={{id}}" >Full Details</a>
		<inu>
</div>
</script>

<script>
	var kept_prv = (new Date("<%= session[:checkin] %>")).getTime(); // kept date
	var kept_cur = (new Date("<%= session[:checkout] %>")).getTime(); // kept date
	var kept_roomtype = "<%= session[:roomtype] %>";
	var kept_group = gon.group;	
</script>
