<script type="text/javascript">
function next1ClickValidate(){
	if ($("#client_firstname").val() == ""){
		alert("First Name cannot be blank");
	}
	else if($("#client_email").val() == "") {
		alert("Email cannot be blank");
	}
	else if($("#client_password").val() == "") {
		alert("Password cannot be blank");
	}
	else {
		var $tabs = $(".tabs").tabs({
				fx : {
					opacity : 'toggle'
				}
			});
		$tabs.tabs('option', 'active', $tabs.tabs( "option", "active" )+1); // switch to tab
		return false;
	}
}


function next2ClickValidate(){
	if ($("#hotel_name").val() == ""){
		alert("Hotel Name cannot be blank");
	}
	else if($("#client_address1").val() == "") {
		alert("Address cannot be blank");
	}
	else if($("#client_city").val() == "") {
		alert("City cannot be blank");
	}
	else if($("#client_zip").val() == "") {
		alert("Zip/Postal Code cannot be blank");
	}
	else if($("#reservation_email").val() == "") {
		alert("Reservation Email cannot be blank");
	}
	else if($("#client_fax").val() == "") {
		alert("Fax cannot be blank");
	}
	else {
		var $tabs = $(".tabs").tabs({
				fx : {
					opacity : 'toggle'
				}
			});
		$tabs.tabs('option', 'active', $tabs.tabs( "option", "active" )+1); // switch to tab
		return false;
	}
}
</script>

<div id="wrapper" class="register">
	<div id="eyebrow">
		<%= render :partial => "common/home_nav_tab" %>		
	</div>
	<header>
		<h1 class="prop-title">Make Your Property Work for You.</h1>
		<h4>BestNights.com can help</h4>
	</header>

	<div id="container-main">
		<form id="newRecordType" name="newRecordType" method="post" action="/add_property" accept-charset="UTF-8" >
<div class="tabs">
	<ul>
		<li><a href="#tabs-1" id="basic">Add Basic Info<br>Property Type &amp; Address</a></li>
		<li><a href="#tabs-2" id="property">Add Property Details<br>Activities, Facilities, &amp; Services</a></li>
		<li><a href="#tabs-3" id="details">Add Room Details<br>Set Up Your First Room</a></li>
	</ul><div id="progressbar"></div>
	<section id="tabs-1">
		<h3>Basic Information</h3>
		<fieldset>
			<ul>
				<li><label for="client_firstname">First Name*</label><input id="client_firstname" name="manager[firstname]" size="30" type="text"></li>
				<li><label for="client_lastname">Last Name</label><input id="client_lastname" name="manager[lastname]" size="30" type="text"></li>
				<li><label for="email">Email Address/Username*</label><input id="client_email" name="manager[email]" size="30" type="email"></li>
				<li><label for="password">Password*</label><input id="client_password" name="manager[password]" size="30" type="password" placeholder="Minimum 6 Characters"></li>
			</ul>
		</fieldset>
		<fieldset class="formactions">
			<a class="button firstnext" >Next</a>
		</fieldset>
	</section>
	<section id="tabs-2">
		<h3>Hotel/Property Information</h3>
		<fieldset>
	<ul>
		<li><label for="client_firstname">Hotel Name*</label><input id="hotel_name" name="hotel[name]" size="30" type="text"></li>
		<li><label for="client_address1">Address*</label><input id="client_address1" name="hotel[address1]" size="30" type="text"></li>
		<li><label for="client_city">City*</label><input id="client_city" name="hotel[city]" size="30" type="text"></li>
		<li class="country">
			<label for="traveler_country_id">Country</label>
			<%= country_select_tag :country_id, priority: %w(US CA), prompt: 'Please select a country' %>
		</li>
		<li><label for="client_zip">Zip/Postal Code*</label><input id="client_zip" name="hotel[zip]" size="30" type="text"></li>
		<li class="state">
			<label for="State/Province">State/Province</label>
			<input id="client_state" name="state_id" size="30" type="text">
		</li>
		<li>
			<label for="client_comm">Preferred Communication</label>
			<select id="client_comm" name="hotel[email_or_fax]">
				<optgroup label="Preferred Communication">
					<option value="fax">Fax</option>
					<option value="email">Email</option>
				</optgroup>
			</select>
		</li>
		<li>
			<label for="client_email">Reservation Email*</label><input id="reservation_email" name="hotel[email]" size="30" type="text">
		</li>
		<li>
			<label for="client_fax">Fax*</label><input id="client_fax" name="hotel[fax]" size="30" type="text">
		</li>		
	</ul>
</fieldset>
<fieldset>
	<ul>
		<li>
			<label for="client_star_rating">Star Rating</label>
			<select id="client_star_rating" name="hotel[star]">
				<optgroup label="Star Rating">
					<option value="1">&#10029;</option>
					<option value="2">&#10029;&#10029;</option>
					<option value="3">&#10029;&#10029;&#10029;</option>
					<option value="4">&#10029;&#10029;&#10029;&#10029;</option>
					<option value="5">&#10029;&#10029;&#10029;&#10029;&#10029;</option>
				</optgroup>
			</select>
		</li>
		<li><label for="client_website">Website</label><input id="client_website" name="hotel_website" size="30" type="text"></li>
		<li>
			<label for="client_description">Description</label>
			<textarea id="client_description" name="hotel[description]"></textarea>
		</li>
	</ul>
</fieldset>
<fieldset>
	<legend>Amenities and Facilities</legend>
		<ul class="col2">
			<% HotelAttribute.all.each do |ha| %>
				<li class="checkboxes"><label style="float:left"><%= ha.attr %></label><input type="checkbox" id="" name="hotel_attributes[<%= ha.id %>]" style="float:left; margin-top:4px;" ></li>
				<div style="clear:both;"></div>
			<% end %>
		</ul>
	</fieldset>
	<fieldset class="formactions">
		<a class="button secondnext">Next</a>
	</fieldset>
	</section>
	<section id="tabs-3">
		<h3>Room Details</h3>
		<fieldset>
			<ul>
				<li>
					<label for="roomtype">Add Room Type</label>
					<select id="client_comm" name="room[room_type_id]" class="room_type">
						<optgroup label="Room Type">
							<% RoomType.all.each do |rt| %>
								<option value=<%= rt.id %> ><%= rt.room_type %></option>
							<% end %>
						</optgroup>
					</select>
				<li><label for="roomname">Room Name</label><input name="room[name]" type="text"></li>
				<li><label for="roomqty">Number of Rooms</label><input name="room[starting_inventory]" type="number" min="1"></li>
				<li><label for="roomqty">Max. people</label><input name="room[max_people]" type="number" min="1" class="people" max="2"></li>
				<li>
					<label for="roomqty">Room Size</label><input name="room[room_size]" type="number" min="1">Square
					<select name="room[room_unit]" id="room_unit">
						<optgroup label="Room Unit">
								<option value="meters">Meters</option>
								<option value="feet">Feet</option>
						</optgroup>
					</select>
				</li>
				<li>
					<label for="smoking">Smoking</label>
					<select id="smoking" name="client[smoking]">
						<optgroup label="Smoking Preferences">
							<option value="smoking">Smoking</option>
							<option value="nonsmoking">Non-Smoking</option>
						</optgroup>
					</select>
				</li>
				<li>
					<label for="roomqty">Room Description</label>
					<textarea id="room_description" name="room[description]"></textarea>
				</li>
			</ul>
		</fieldset>
		
		<fieldset class="formactions">
			<!-- <a class="button">Next</a> -->
			<input type="submit" value="Add" />
		</fieldset>
	</section>
</div>
</form>
<section class="sections">
<h3>Why <a href="http://www.bestnights.com">BestNights.com?</a></h3>
<p>We offer hoteliers:<br>
	An easy to use interface, an efficient and organized booking service, and increased exposure for marketing. Our goal is to make online hotel booking as easy and convenient for both hotel guests and hoteliers alike.</p>
</section>
</div>
<footer>
<div id="footerend">
<p id="copyright"><small>&copy; Copyright BestNights.com 2014. All Rights Reserved.</small></p>
<nav></nav>
</div>
</footer>
</div>