<% content_for :title, "BestNights.com - Edit Room Type" %>

<header>
	<h1 class="prop-title">Edit Room Type</h1>
</header>

<div id="container-main">
	<%= form_for @room_type do |f| %>
		<fieldset>
		  <ul>
		  	<li>
		  		<%= f.label 'Room Type*' %>
		  		<%= f.text_field :room_type %>
		  	</li>
		  	<li>
		  		<%= f.label :status %>
					<select id="client_comm" name="room_type[status]">
						<% ["active", "non-active", "non-viewable", "inactive"].each do |status| %>
						  <option value=<%= status %> <%= "selected" if @room_type.status == status %> ><%= status %></option>
						<% end %>
					</select>
				</li>
		  </ul>	
		</fieldset>
		<fieldset class="formactions">
			<%= f.submit %>
		</fieldset>
	<% end %>
</div>