<div id="container-main">
<h1 class="prop-title">Booking History</h1> 
<div class="conwrap">
<div class="bookings blocks">
<div class="scroll">
  <table class="bookconf" width="100%" border="0">
    <thead>
      <tr>
        <td align="center" valign="middle">Status</td>
        <td align="center" valign="middle">Reservation No</td>
        <td align="center" valign="middle">Book Date</td>
        <td align="center" valign="middle">Arrival</td>
        <td align="center" valign="middle">Departure</td>
        <td align="center" valign="middle">Total</td>
        <td align="center" valign="middle"></td>
      </tr>
    </thead>
    <tbody>
      <% @hotel = Hotel.find_by_id(book.hotel_id) %>
      <% @country = Carmen::Country.coded(@hotel.country_id ) %>
      <% unless @country.blank? %>
        <% @subregion = @country.subregions.coded(@hotel.state_id) %>
        <% if !@country.blank? &&  @country.name == "Canada" %>
          <% @currency = "CAD" %> 
        <% else %>
          <%  @currency = "USD" %>
        <% end %>
      <% end %>

      <% if !@booking_histories.blank? %>
				<% @booking_histories.each do |book| %>
					<tr>
            <td>
              <%= link_to "Download", traveler_booking_status_path(:id => book.id, :traveler_id => book.traveler_id, :format => "pdf"), class: "links" %>
            </td>
						<td align="center" valign="middle"><%= book.id %></td>
						<td align="center" valign="middle"><%= book.created_at.strftime("%Y-%m-%d") %></td>
						<td align="center" valign="middle"><%= book.from_date  %></td>
						<td align="center" valign="middle"><%= book.to_date %></td>
						<td align="center" valign="middle"><%= @currency %><%= book.price %></td>
            <td align="center" valign="middle">
              <% if book.from_date >= Date.today && book.is_cancel == false %>
                <%= link_to "Cancel Booking", cancel_booking_path(:book_id => book.id) %>
              <% end %>
            </td>
					</tr>
				<% end %>
			<% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @booking_histories %>
</div>
</div>
<div class="row back-link bking"><%= link_to "Back", traveler_path(params[:id]) , class: "link" %></div>
</div>