<% content_for :title, "BestNights.com" %>

<header>
	<h1 class="prop-title">Change Password </h1>
</header>

<div id="container-main">
	<%= form_for @traveler do |f| %>
		<fieldset>
		  <ul>
		  	<li>
		  		<%= f.label :password %>
		  		<%= f.password_field :password %>
		  	</li>
		  	<li>
		  		<%= f.label :password_confirmation %>
		  		<%= f.password_field :password_confirmation %>
		  	</li>
		  </ul>	
		</fieldset>
		<fieldset class="formactions">
			<span id="chng_pwd"><%= f.submit %></span>
		</fieldset>
	<% end %>
	<div class="row back-link bking"><%= link_to "Back", traveler_path(params[:id]) , class: "link" %></div>
</div>

<script type="text/javascript">
	$("#chng_pwd").click(function(){
		var pwd = $("#traveler_password").val();
		var pwd_con = $("#traveler_password_confirmation").val();
		if (pwd && pwd_con){
			if (pwd == pwd_con) {
				return true;
			}
			else {
				alert("Password and password confirm must be same")
				return false;
			}
		}
		else {
			alert("Password and password confirm can't be blank")
			return false;
		}
	})
</script>


