<% content_for :title, "BestNights.com" %>

<header>
	<h1 class="prop-title">Change Password <%= @traveler.id %></h1>
</header>

<div id="container-main">
	<%= form_for @traveler do |f| %>
		<fieldset>
		  <ul>
		  	<li>
		  		<%= f.label :password %>
		  		<%= f.password_field :password %>
		  	</li>
		  	<li>
		  		<%= f.label :password_confirmation %>
		  		<%= f.password_field :password_confirmation %>
		  	</li>
		  </ul>	
		</fieldset>
		<fieldset class="formactions">
			<%= f.submit %>
		</fieldset>
	<% end %>
</div>