<div id="container-main">
<header>
	<h1 class="prop-title">Traveler</h1>
</header> 
<div class="conwrap">
<%= form_tag travelers_path, :id => "search_form", :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div id="container-main">
	<table class="admintablelist">
		<tr>
			<th>Name</th>
			<th>City</th>
			<th>Province</th>
			<th>Phone</th>
			<th>Action</th>
			<th></th>
		</tr>
		<% @travelers.each do |traveler| %>
		  <tr>
		  	<td><%= traveler.firstname.capitalize %>&nbsp;<%= traveler.lastname.capitalize %></td>
				<td><%= traveler.city.capitalize %></td>
				<td><%= traveler.state.state_province.capitalize unless traveler.state.nil? %></td>
				<% if can? :show, traveler %>
					<td><%= link_to "Show", traveler_path(:id => traveler.id) %></td>
				<% end %>
				<% if can? :edit, traveler %>
					<td><%= link_to "Edit", edit_traveler_path(traveler) %></td>
				<% end %>
				<% if can? :delete, traveler %>
					<td><%= link_to "Delete", traveler_path(traveler), :method => :delete %></td>
				<% end %>	
		  </tr>
		<% end %>
	</table>
</div>
	<div class="formactions">
		<% unless current_traveler %>
				<%= link_to "Add", new_traveler_path %>
		<% end %>
  </div>
  <div class="row back-link bking"><%= link_to "Back", hotels_path , class: "link" %></div>
</div>
</div>

<%= javascript_include_tag :jquery_ujs %>