<% content_for :title, "BestNights.com - Add Travler" %>

<header>
	<h1>Add Travler</h1>
</header>

<div id="container-main">
	<%= form_for @traveler do |f| %>
		
		<div class="input-box">
			<div class="input-align"><%= f.label :country %></div>
	  	<div class="input-align"><%= f.select :country_id, options_for_select(Country.all.map{|s|[s.name, s.id]}) %></div>
		</div>
		
		<div class="input-box">
			<div class="input-align"><%= f.label :state %></div>
	  	<div class="input-align"><%= f.select :state_id, options_for_select(State.all.map{|s|[s.name, s.id]}) %></div>
		</div>
		
		<div class="input-box">
		  <div class="input-align"><%= f.label :firstname %></div>
		  <div class="input-align"><%= f.text_field :firstname %></div>
		</div>
		
		<div class="input-box">
		  <div class="input-align"><%= f.label :lastname %></div>
		  <div class="input-align"><%= f.text_field :lastname %></div>
		</div>
		
		<div class="input-box">
		  <div class="input-align"><%= f.label :address1 %></div>
		  <div class="input-align"><%= f.text_field :address1 %></div>
		</div>
		
		<div class="input-box">
		  <div class="input-align"><%= f.label :address2 %></div>
		  <div class="input-align"><%= f.text_field :address2 %></div>
		</div>
		
		<div class="input-box">
		  <div class="input-align"><%= f.label :city %></div>
		  <div class="input-align"><%= f.text_field :city %></div>
		</div>
		
		<div class="input-box">
		  <div class="input-align"><%= f.label :zip %></div>
		  <div class="input-align"><%= f.text_field :zip %></div>
		</div>
		
		<div class="input-box">
		  <div class="input-align"><%= f.label :email %></div>
		  <div class="input-align"><%= f.text_field :email %></div>
		</div>
		
		<div class="input-box">
		  <div class="input-align"><%= f.label :phone_number %></div>
		  <div class="input-align"><%= f.text_field :phone_number %></div>
		</div>
		 
		<div class="input-box">
		  <%= f.submit %>
		</div>
	<% end %>
</div>