 <% content_for :title, "BestNights.com" %>

 <div id="wrapper" class="register">
 	<div id="container-main">
 		<h1 class="prop-title">Traveler Information</h1> 
 		<div class="link-sec"><%= link_to "Book History", traveler_booking_history_path(@traveler ) %> <%= link_to "Edit Profile", edit_traveler_traveler_path(@traveler) %> <%= link_to "Payment Information", book_hotel_path %>
 			<%= link_to "Change Password", change_password_traveler_path(@traveler) %>
 		</div>
 		<div class="info blockinfo">
 			<ul>
 				<li>
	 				<label>Name:</label>
	 				<%= @traveler.firstname.capitalize %>&nbsp;<%= @traveler.lastname.capitalize %>
 				</li>
 				<li>
	 				<label>Address:</label>
					<%= @traveler.address1 %>
				</li>
				<li>
					<label>City:</label>
					<%= @traveler.city %>
				</li>
				<li>
					<label>State/Province:</label>
					<%= @traveler.state_id %>
				</li>
				<li>
					<label>Phone Number:</label>
					<%= @traveler.phone_number %>
				</li>
			</ul>
		</div>
 	</div>
 		<%= render :partial => "common/home_footer" %>
 </div>

