 <% content_for :title, "BestNights.com - User" %>

 <div id="wrapper" class="register">
 	<div id="container-main">
 		<h5>Traveler Information</h5> <%= link_to "Book History", traveler_booking_history_path(@traveler ) %> | <%= link_to "Edit Profile", edit_traveler_traveler_path(@traveler) %> | <%= link_to "Payment Information", book_hotel_path %>
 		<div class="info">
 			<span>
 				<%= @traveler.name %>
 			</span>
 			<br/>
	 		<span>
				<%= @traveler.address1 %>
			</span>
			<br />	
			<span>
				<%= @traveler.city %>
			</span>
			<br />	
			<span>
				<%= @traveler.state_id %>
			</span>
			<br />	
			<span>
				<%= @traveler.phone_number %>
			</span>
		</div>
 	</div>
 </div>

<!-- <header>
	<h1 class="prop-title"><%#= @traveler.name %></h1>
</header>

<div id="container-main">
	<span>
		<%#= @traveler.address1 %>
	</span>
	<br />	
	<span>
		<%#= @traveler.city %>
	</span>
	<br />	
	<span>
		<%#= @traveler.state.state_province %>
	</span>
	<br />	
	<span>
		<%#= @traveler.phone_number %>
	</span>
</div> -->
