<div id="wrapper">
	<div id="eyebrow">
		<%= render :partial => "common/home_nav_tab" %>
	</div>
	
	<section>
		
	<div>
		<% flash.each do |name, msg| %>
    	<% if msg.is_a?(String) %>
    		<p class="errors succes-color" style="text-align:center; font-size:16px">
					  <%= msg %>
				</p>
    	<% end %>
  	<% end %>  
  </div>
		
		<h2 class="title-grnb">Sign in</h2>
		<div style="color:red;padding:10px 0 10px 0;text-align:center;"><strong><%= params[:success] %></strong></div>
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
			<fieldset>  
		  	<ul>
		  		<li>
				  	<%= f.label 'Email' %>
			  		<%= f.text_field :email, :autofocus => true %>
					</li>
					<li>
				  	<%= f.label 'Password' %>
			  		<%= f.password_field :password %>
					</li>
	  		</ul>
	  	</fieldset>
	  	<fieldset class="formactions">
		  	<%= f.submit 'Sign In' %>
		  </fieldset>
		  <!-- <%#= f.label :remember_me %> -->
		  <!-- <%#= f.check_box :remember_me, :as => :boolean if devise_mapping.rememberable? %> -->
		  
		<% end %>
		
		<%= render "devise/shared/links" %>
	
	</section>
	
	<%= render :partial => "common/home_footer" %>
	
</div>