<% content_for :title, "BestNights.com - Edit Room" %>

<% if current_user.new_signup? %>
	<%= link_to "Rooms", rooms_path(:hotel_id => @hotel.id) %>
<% end %>

<header>
	<h1>Edit Room</h1>
</header>

<div id="container-main">
	<%= form_for @room do |f| %>
		<fieldset>
		  <ul>
		  	<li>
		  		<%= f.label :name %>
		  		<%= f.text_field :name %>
		  	</li>		  	
		  	<li>
		  		<%= f.label :price %>
		  		<%= f.text_field :price %>
		  	</li>
		  	<li>
		  		<%= f.label :original_price %>
		  		<%= f.text_field :original_price %>
		  	</li>
		  	<li>
		  		<%= f.label "Addional adult fee" %>
		  		<%= f.text_field :additionaladultfee %>
		  	</li>
		  	<li>
		  		<%= f.label :starting_inventory %>
		  		<%= f.text_field :starting_inventory %>
		  	</li>
		  	<li>
		  		<%= f.label "Bed Numbers" %>
		  		<%= f.text_field :bed_numbers %>
		  	</li>
		  	<li>
		  		<%= f.label :lunch %>
		  		<%= f.check_box :lunch %>
		  	</li>
		  	<li>
		  		<%= f.label :dinner %>
		  		<%= f.check_box :dinner %>
		  	</li>
		  	<li>
		  		<%= f.label :all_inclusive %>
		  		<%= f.check_box :all_inclusive %>
		  	</li><br />
		  	<% if current_user.new_signup? %>
		  		<%= f.hidden_field :hotel_id, :value => @hotel.id %>
		  	<% else %>
			  	<li>
			  		<%= f.label :hotel %>
			  		<%= f.select :hotel_id, options_for_select(@hotels.map{|s|[s.name, s.id]}, @room.hotel.id) %>
			  	</li>
		  	<% end %>
		  	<li>
		  		<%= f.label "Room Type" %>
		  		<%= f.select :room_type_id, options_for_select(RoomType.all.map{|s|[s.room_type, s.id]}, @room.room_type.id) %>
		  	</li>	
		  	<li>
		  		<%= f.label :description %>
		  		<%= f.text_area :description %>
		  	</li>
		  	<li>							
					<label for="client_photos">Photos</label>
					<div class="dropzone" id="room-dropzone" />
				</li>
		  	<li>
					<span class="formLabel">Amenities</span>
					<div class="checklist">
						<ul>
							<% @room_attributes.each do |attr| %>
								<li>
									<input name="client[attributes][<%= attr.id %>]" type="checkbox" <%= "checked" if attr.rooms.include?(@room) %>>
									<label for="client[attributes]"><%= attr.attr %></label>
								</li>
							<% end %>
						</ul>
					</div>
				</li>
		  </ul>	
		</fieldset>
		<fieldset class="formactions">
			<%= f.submit %>
		</fieldset>
	<% end %>
</div>

<script>
	$(document).ready(function(){			
		Dropzone.options.roomDropzone = {
			url: "/room_photos/<%= @room.id %>",
			addRemoveLinks: true,
			dictRemoveFileConfirmation: "Are you sure you want to remove this file?",
			paramName: "picture",
			success: function(file, response){
				file.id = response.id
			},
			init: function () {
				<% @photos.each do |photo| %>
					var mockFile = {id: "<%= photo.id %>", name: "<%= photo.picture_file_name %>", size: "<%= photo.picture_file_size %>", type: "<%= photo.picture_content_type %>" };
					this.options.addedfile.call(this, mockFile);
					this.options.thumbnail.call(this, mockFile, "<%= photo.picture.url %>");
				<% end %>    
      },
      removedfile: function(file) {				
				$.ajax({
					type: 'DELETE',
					url: "/room_photos",
					data: { id: file.id, status: file.status},
					dataType: 'json'
					});
					var _ref;
					return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0; 
      
			}		 
		}
	});
	
</script>