<% content_for :title, "BestNights.com - Room" %>

<% if current_user.new_signup? %>
	<%= link_to "Hotels", hotels_path %>
<% end %>

<header>
	<h1 class="prop-title">Room</h1>
</header>

<%= form_tag rooms_path, :id => "search_form", :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div id="container-main">
	<div class="formactions">
		<% if current_user.new_signup? %>
			<%= link_to "Add", new_room_path(:hotel_id => @hotel.id) %>&nbsp;
			<%= link_to "Room Title", room_sub_types_path %>
		<% else %>
			<%= link_to "Add", new_room_path %>&nbsp;
			<%= link_to "Room Title", room_sub_types_path %>
		<% end %>
		
  </div>
	<table class="admintablelist">
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Hotel</th>
			<th>Room Type</th>
			<th>Action</th>
			<th></th>
			<th></th>
		</tr>
		<% @rooms.each do |room| %>
		  <tr>
		  	<td><%= room.room_sub_type.name unless room.room_sub_type.nil? %></td>
				<td><%= room.description %></td>
				<td><%= room.hotel.name unless room.hotel.nil? %></td>
				<td><%= room.room_type.room_type unless room.room_type.nil? %></td>
				<% if can? :show, room %>
					<td><%= link_to "Show", room_path(room) %></td>
				<% end %>
				<% if can? :edit, room %>
					<td><%= link_to "Edit", edit_room_path(room) %></td>
				<% end %>
				<% if can? :delete, room %>
					<td><%= link_to "Delete", room_path(room), :method => :delete %></td>
				<% end %>	
		  </tr>
		<% end %>
	</table>
	<% if !params[:page].blank? %>
		<div class="row back-link"><a href="/dashboard" class="link">Back</a></div>
	<% end %>
</div>

<%= javascript_include_tag :jquery_ujs %>