<% content_for :title, "BestNights.com - Add Room" %>

<% if current_user.new_signup? %>
	<%= link_to "Rooms", rooms_path(:hotel_id => @hotel.id) %>
<% end %>

<header>
	<h1 class="prop-title">Add Room</h1>
</header>

<div id="container-main">
	<%= form_for @room do |f| %>
		<fieldset>
		  <ul>
		  	<li>
		  		<%= f.label :name %>
		  		<%= f.text_field :name %>
		  	</li>
		  	<li>
		  		<%= f.label "Room Type" %>
		  		<%= f.select :room_type_id, options_for_select(@room_types.map{|s|[s.room_type, s.id]}) %>
		  	</li>
		  	<li>
		  		<%= f.label "Room Sub Type" %>
		  		<%= f.select :room_sub_type_id, options_for_select(@room_sub_types.map{|s|[s.name, s.id]}) %>
		  	</li>
		  	<li>
		  		<%= f.label "Additional Adult Fee" %>
		  		<%= f.text_field :additionaladultfee %>
		  	</li>
		  	<li>
		  		<%= f.label :starting_inventory %>
		  		<%= f.text_field :starting_inventory %>
		  	</li>
		  	<li>
		  		<%= f.label "Bed Numbers" %>
		  		<%= f.text_field :bed_numbers %>
		  	</li>
		  	<% if current_user.new_signup? %>
		  		<%= f.hidden_field :hotel_id, :value => @hotel.id %>
		  	<% else %>
			  	<li>
			  		<%= f.label :hotel %>
			  		<%= f.select :hotel_id, options_for_select(@hotels.map{|s|[s.name, s.id]}) %>
			  	</li>
		  	<% end %>	
		  	<li>
		  		<%= f.label :description %>
		  		<%= f.text_area :description %>
		  	</li>
		  	<li>
		  		<%= f.label :lunch %>
		  		<%= f.check_box :lunch %>
		  	</li>
		  	<li>
		  		<%= f.label :dinner %>
		  		<%= f.check_box :dinner %>
		  	</li>
		  	<li>
		  		<%= f.label :all_inclusive %>
		  		<%= f.check_box :all_inclusive %>
		  	</li>
		  </ul>	
		</fieldset>
		<fieldset class="formactions">
			<%= f.submit %>
		</fieldset>
	<% end %>
</div>

<%= javascript_include_tag :jquery_ujs %>

<script>
	$(document).ready(function(){
		$("#room_room_type_id").change(function(){
			// alert($(this).val())
			var data = {type_id: $(this).val()}
			$.ajax({
				type: "get",
	      dataType: "json",
	      url: "/get_sub_type",
	      data: data,
	      success: function(data){
	      	// console.log(data[0])
	      	$("#room_room_sub_type_id").html("");
	      	if(data[0] != "undefind"){
	      		$("#room_room_sub_type_id").append("<option value="+ data[0]["id"] +">"+ data[0]["name"] +"</option>")
	      	}
	      }
			})
		})
	})
</script>