<% content_for :title, "BestNights.com - Add Room" %>

<% if current_user.new_signup? %>
	<%= link_to "Rooms", rooms_path(:hotel_id => @hotel.id) %>
<% end %>

<header>
	<h1 class="prop-title">Add Room</h1>
</header>

<div id="container-main">
	<%= form_for @room do |f| %>
		<fieldset>
		  <ul>
		  	<% if current_user.new_signup? %>
		  		<%= f.hidden_field :hotel_id, :value => @hotel.id %>
		  	<% else %>
			  	<li>
			  		<%= f.label :hotel %>
			  		<%= f.select :hotel_id, options_for_select(@hotels.map{|s|[s.name, s.id]}) %>
			  	</li>
		  	<% end %>
		  	<li>
		  		<%= f.label "Room Type" %>
		  		<%= f.select :room_type_id, options_for_select(@room_types.map{|s|[s.room_type, s.id]}) %>
		  	</li>
		  	<li id="subtype">
		  		<%= f.label "Room Sub Type" %>
		  		<% unless @room_sub_types.blank? %>
		  			<%= f.select :room_sub_type_id, options_for_select(@room_sub_types.map{|s|[s.name, s.id]}) %>
		  		<% else %>
		  			<input id='room_room_sub_type_name' name='room[room_sub_type_name]' size='30' type='text'>
		  		<% end %>
		  	</li>
		  	<li>
		  		<%= f.label :starting_inventory %>
		  		<%= f.text_field :starting_inventory %>
		  	</li>
		  	<li>
		  		<%= f.label "Bed Numbers" %>
		  		<%= f.text_field :bed_numbers %>
		  	</li>
		  	<li>
		  		<%= f.label :description %>
		  		<%= f.text_area :description %>
		  	</li>
		  	<li>
		  		<%= f.label "Additional Adult Fee" %>
		  		<%= f.text_field :additionaladultfee %>
		  	</li>
		  	<li>
		  		<%= f.label "Max People" %>
		  		<%= f.text_field :max_people %>
		  	</li>
		  	<li>
		  		<%= f.label "Max Children" %>
		  		<%= f.text_field :max_children %>
		  	</li>
		  </ul>	
		</fieldset>
		<fieldset class="formactions">
			<%= f.submit %>
		</fieldset>
	<% end %>
</div>

<%= javascript_include_tag :jquery_ujs %>

<script>
	$(document).ready(function(){
		$("#room_room_sub_type_id").append("<option value='0'>Others</option>")
		$("#room_room_type_id").change(function(){
			var data = {type_id: $(this).val()}
			$.ajax({
				type: "get",
	      dataType: "json",
	      url: "/get_sub_type",
	      data: data,
	      success: function(data){
	      	$("#room_room_sub_type_id").html("");
	      	if(data != ""){
	      		$("input").remove("#room_room_sub_type_name");
	      		$("li#subtype").html("<label for='room_Room Sub Type'>Room sub type</label><select id='room_room_sub_type_id' name='room[room_sub_type_id]'></select>")
	      		$.each(data, function(i,v){
	      			$("#room_room_sub_type_id").append("<option value="+ data[i]["id"] +">"+ data[i]["name"] +"</option>")
	      		})
	      		$("#room_room_sub_type_id").append("<option value='0'>Others</option>")
	      	}
	      	else{
	      		$("select").remove("#room_room_sub_type_id");
	      		$("li#subtype").html("<label for='room_Room Sub Type'>Room sub type</label><input id='room_room_sub_type_name' name='room[room_sub_type_name]' size='30' type='text'>")
	      	}
	      }
			})
		})
		$("#room_room_sub_type_id").change(function(){
			if($(this).val() == 0 && $(this).parent().has("#room_room_sub_type_name").length == 0){
				$("li#subtype").append("<input id='room_room_sub_type_name' name='room[room_sub_type_name]' size='30' type='text'>")
			}
			else if($(this).val() != 0){
				$("input").remove("#room_room_sub_type_name")
			}
		})
	})
</script>