<% content_for :title, "BestNights.com - Add Room" %>

<% if current_user.new_signup? %>
	<%= link_to "Rooms", rooms_path(:hotel_id => @hotel.id) %>
<% end %>

<header>
	<h1 class="prop-title">Add Room</h1>
</header>

<div id="container-main">
	<%= form_for @room do |f| %>
		<fieldset>
		  <ul>
		  	<li>
		  		<%= f.label :name %>
		  		<%= f.text_field :name %>
		  	</li>
		  	<li>
		  		<label>Monday Price</label>
		  		<%= text_field_tag 'rate_monday' %>
		  	</li>
		  	<li>
		  		<label>Tuesday Price</label>
		  		<%= text_field_tag 'rate_tuesday' %>
		  	</li>
		  	<li>
		  		<label>Wednesday Price</label>
		  		<%= text_field_tag 'rate_wednesday' %>
		  	</li>
		  	<li>
		  		<label>Thursday Price</label>
		  		<%= text_field_tag 'rate_thursday' %>
		  	</li>
		  	<li>
		  		<label>Friday Price</label>
		  		<%= text_field_tag 'rate_friday' %>
		  	</li>
		  	<li>
		  		<label>Saturday Price</label>
		  		<%= text_field_tag 'rate_saturday' %>
		  	</li>
		  	<li>
		  		<label>Sunday Price</label>
		  		<%= text_field_tag 'rate_sunday' %>
		  	</li>
		  	<li>
		  		<%= f.label "Additional Adult Fee" %>
		  		<%= f.text_field :additionaladultfee %>
		  	</li>
		  	<li>
		  		<%= f.label :starting_inventory %>
		  		<%= f.text_field :starting_inventory %>
		  	</li>
		  	<li>
		  		<%= f.label "Bed Numbers" %>
		  		<%= f.text_field :bed_numbers %>
		  	</li>
		  	<% if current_user.new_signup? %>
		  		<%= f.hidden_field :hotel_id, :value => @hotel.id %>
		  	<% else %>
			  	<li>
			  		<%= f.label :hotel %>
			  		<%= f.select :hotel_id, options_for_select(@hotels.map{|s|[s.name, s.id]}) %>
			  	</li>
		  	<% end %>
		  		
		  	<li>
		  		<%= f.label "Room Type" %>
		  		<%= f.select :room_type_id, options_for_select(@room_types.map{|s|[s.room_type, s.id]}) %>
		  	</li>	
		  	<li>
		  		<%= f.label :description %>
		  		<%= f.text_area :description %>
		  	</li>
		  	<li>
		  		<%= f.label :lunch %>
		  		<%= f.check_box :lunch %>
		  	</li>
		  	<li>
		  		<%= f.label :dinner %>
		  		<%= f.check_box :dinner %>
		  	</li>
		  	<li>
		  		<%= f.label :all_inclusive %>
		  		<%= f.check_box :all_inclusive %>
		  	</li>
		  </ul>	
		</fieldset>
		<fieldset class="formactions">
			<%= f.submit %>
		</fieldset>
	<% end %>
</div>

<%= javascript_include_tag :jquery_ujs %>