<% content_for :title, "BestNights.com - Room Type" %>
<%#= link_to "Update Room/Rate details", rate_details_path(room_id: @room.id ) , class: "link_style" %>
<div id="container-main">
		<h1 class="prop-title">View</h2>
	<div class="view blocks store-view">
	<div class="scroll-hor">
	<table class="bookconf" width="100%" border="0">
	<thead>
		<tr>
			<td align="left" valign="middle">Room No.</td>
		 	<td align="left" valign="middle">Hotel</td>
		  <td align="center" valign="middle">Room Description</td>
		  <td align="center" valign="middle">Room Specification</td>
		  <td align="center" valign="middle">Amenities and Facilities</td>
		  <td align="center" valign="middle">Max People</td>
		  <td align="center" valign="middle">Max Children</td>
		  <td align="center" valign="middle">Room Size</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td align="center" valign="middle">
					<%= @room.id %>
		  </td align="center" valign="middle">	
		  <td align="center" valign="middle">
				<% if !@room.hotel.nil?  %>
					<%= @room.hotel.name %>
				<% end %>
		  </td align="center" valign="middle">		
		  <td align="center" valign="middle">
		  	<% if !@room.description.nil?  %>
					<%= @room.description %>
				<% end %>
			</td>
		  <td align="center" valign="middle">
		  	<% if !@room.room_type.nil?   %>
					<%= @room.room_type.room_type %>
				<% end %>
			</td>
		  <td align="center" valign="middle">
				<% @room.room_attributes.order("attr").each_with_index do |ra, index| %>
				  <% unless index == @room.room_attributes.length - 1 %>
				  	<%= ra.attr.titleize %>,
				  <% else %>
				  	<%= ra.attr.titleize %>
				  <% end %>
				<% end %>
			</td>		
		  <td align="center" valign="middle">
		  	<% if !@room.max_people.nil?  %>
					<%= @room.max_people %>
				<% end %>
			</td>
		  <td align="center" valign="middle">
				<% if !@room.max_children.nil?  %>
					<%= @room.max_children %>
				<% end %>
			</td>		
		  <td align="center" valign="middle">
		  	<% if !@room.room_size.nil?  %>
					<%= @room.room_size %>
				<% end %>
			</td>
		</tr>
	</tbody>
</table>
</div>
</div>
<div class="row back-link"><%= link_to "Edit", edit_room_path(@room.id) , class: "link fRight marRight-30" %></div>
<div class="clear"></div>
</div>
<div class="row back-link"><%= link_to "Back", rooms_path , class: "link" %></div>
