<% content_for :title, "BestNights.com - Room Type" %>

<header>
	<h1><%= @room.name %></h1> <%= link_to "Update Room/Rate details", rate_details_path(room_id: @room.id ) , class: "link_style" %>
</header>

<div id="container-main">
	<h4>Hotel</h4>
	<span><%= @room.hotel.name %></span>	
	<br />
	
	<h4>Room Description</h4>
	<span><%= @room.description %></span>	
	<br />
	
	<h4>Room Specification</h4>
	<span>Room Type: </span>
	<span><%= @room.room_type.room_type %></span>	
	<br />
	
	<h4>Room Amenities</h4>
	<span>
		<% @room.room_attributes.each do |ra| %>
		  <%= ra.attr %>
		<% end %>
	</span>	
	
</div>
