<% content_for :title, "BestNights.com - Edit Hotel Attribute" %>

<header>
	<h1>Edit Hotel Attribute</h1>
</header>

<div id="container-main">
	<%= form_for @hotel_attribute do |f| %>
		<fieldset>
		  <ul>
		  	<li>
		  		<%= f.label :attribute %>
		  		<%= f.text_field :attr %>
		  	</li>
		  </ul>	
		</fieldset>
		<fieldset class="formactions">
			<%= f.submit %>
		</fieldset>
	<% end %>
</div>

<%= javascript_include_tag :jquery_ujs %>