<% content_for :title, "BestNights.com - Edit Hotel" %>

<header>
	<h1 class="prop-title">Edit Hotel:  &nbsp;<%= @hotel.name %>(Id: <%= @hotel.id %> )</h1>
</header>

<div id="container-main" class="editrooms">
	<%= form_for @hotel, :html => {:multipart => true} do |f| %>
		<fieldset>
		  <ul>
		  	<li>
		  		<%= f.label 'Hotel Name*' %>
		  		<%= f.text_field(:name, class: "textfield") %>
		  	</li>		  	
		  	<li>
		  		<%= f.label "Address*" %>
		  		<%= f.text_field(:address1, class: "textfield") %>
		  	</li>
		  	<li>
		  		<%= f.label "City*" %>
		  		<%= f.text_field(:city, class: "textfield") %>
		  	</li>
		  	<li class="country">
			  	<%= f.label :country_id %>
					<%= f.country_select( :country_id, priority: %w(US CA), prompt: 'Please select a country', :class => "textfield" )  %>
			  </li>
			  <li class="state">
			  	<label for="State/Province" style="float:left">State/Province</label>
							<%= render partial: '/hotels/test', locals: {parent_region: f.object.country_id} %>
			  </li>
		  	<li>
		  		<%= f.label "Zip/Postal Code*" %>
		  		<%= f.text_field(:zip, class: "textfield") %>
		  	</li>		  	
		  	<li>
					<label for="client_comm">Preferred Communication</label>
					<select id="client_comm" name="hotel[email_or_fax]">
						<optgroup label="Preferred Communication">
							<option value="fax" <%= "selected" if @hotel.email_or_fax == "fax" %>>Fax</option>
							<option value="email" <%= "selected" if @hotel.email_or_fax == "email" %>>Email</option>
						</optgroup>
					</select>
				</li>
				<li>
		  		<%= f.label :email %>
		  		<%= f.text_field(:email, class: "textfield") %>
		  	</li>
		  	<li>
		  		<%= f.label :phone %>
		  		<%= f.text_field(:phone, class: "textfield") %>
		  	</li>
		  	<li>
		  		<%= f.label :fax %>
		  		<%= f.text_field(:fax, class: "textfield") %>
		  	</li>
				<% if current_user.admin? %>
		  		<li>
			  		<%= f.label "Manager*" %>
			  		<%= f.select :user_id, options_for_select(User.all.map{|s|[s.email, s.id]}, @hotel.user.id) %>
			  	</li>
			  	<li>  
		  		<%= f.label :commission %>
		  			<%= text_field_tag :commission,  @hotel.commission_rate.blank?  ? "" : number_with_precision(@hotel.commission_rate.amount, :precision => 2, :separator => '.') %>
		  	</li>
			  <% end %>			  
		  </ul>
		</fieldset>	
		<fieldset>
			<ul>
				<li>
					<label for="client_star_rating">Star Rating</label>
					<select id="client_star_rating" name="hotel[star]">
						<optgroup label="Star Rating">
							<option value="1" <%= "selected" if @hotel.star == "1" %> >&#10029;</option>
							<option value="2" <%= "selected" if @hotel.star == "2" %> >&#10029;&#10029;</option>
							<option value="3" <%= "selected" if @hotel.star == "3" %> >&#10029;&#10029;&#10029;</option>
							<option value="4" <%= "selected" if @hotel.star == "4" %> >&#10029;&#10029;&#10029;&#10029;</option>
							<option value="5" <%= "selected" if @hotel.star == "5" %> >&#10029;&#10029;&#10029;&#10029;&#10029;</option>
						</optgroup>
					</select>
				</li>
				<li>
		  		<%= f.label :status %>
					<select id="client_comm" name="hotel[status]">
						<% ["active", "non-active", "non-viewable", "inactive"].each do |status| %>
						  <option value=<%= status %> <%= "selected" if @hotel.status == status %> <%= "disabled" if current_user.manager? %> ><%= status %></option>
						<% end %>
					</select>
				</li> 
				
				<% if current_user.admin? %>
					<li>
						<label>Tax1</label>
						<%= f.text_field(:tax1, class: "textfield") %>
					</li>
				<% elsif current_user.manager? %>
					<li>
						<%= f.label :tax1 %>
						<%= f.text_field(:tax1, class: "textfield") %>
					</li>
				<% end %>
				
		  	<% if current_user.admin? %>
					<li>
						<label>Tax2</label>
						<%= f.text_field(:tax2, class: "textfield") %>
					</li>
				<% elsif current_user.manager? %>
					<li>
						<label>Tax3</label>
						<%= f.text_field(:tax2, class: "textfield") %>
					</li>
				<% end %>
				
		  	<% if current_user.admin? %>
					<li>
						<label>Tax3</label>
						<%= f.text_field(:tax3, class: "textfield") %>
					</li>
				<% elsif current_user.manager? %>
					<li>
						<label>Tax3</label>
						<%= f.text_field(:tax3, class: "textfield") %>
					</li>
				<% end %>
				
		  	<% if current_user.admin? %>
					<li>
						<label>Tax4</label>
						<%= f.text_field(:tax4, class: "textfield") %>
					</li>
				<% elsif current_user.manager? %>
					<li>
						<label>Tax4</label>
						<%= f.text_field(:tax4, class: "textfield") %>
					</li>
				<% end %>
				
				<li class="flwidth">
		  		<%= f.label :description %>
		  		<%= f.text_area(:description, class: "textarea") %>
		  	</li>
		  	<li class="flwidth">
		  		<%= f.label 'Cancellation Policy' %>
		  		<%= f.text_area :cancellation_policy, class: "textarea" %>
		  	</li>
		  	<li class="flwidth">
		  		<%= f.label 'Deposit Policy' %>
		  		<%= f.text_area :deposit_policy, class: "textarea" %>
		  	</li>
		  	<li class="flwidth">
		  		<%= f.label 'Children Policy' %>
		  		<%= f.text_area :children_policy, class: "textarea" %>
		  	</li>
		  	<li class="flwidth">
		  		<%= f.label 'Groups Policy' %>
		  		<%= f.text_area :groups_policy, class: "textarea" %>
		  	</li>
		  	<li class="flwidth">
		  		<%= f.label 'Internet Policy' %>
		  		<%= f.text_area :internet_policy, class: "textarea" %>
		  	</li>
		  	<li class="flwidth">
		  		<%= f.label 'Parking Policy' %>
		  		<%= f.text_area :parking_policy, class: "textarea" %>
		  	</li>
		  	<li class="flwidth">
		  		<%= f.label 'Pets Policy' %>
		  		<%= f.text_area :pets_policy, class: "textarea" %>
		  	</li>
		  	<li class="flwidth">
		  		<span class="formLabel">Cards</span>
					<div class="checklist">
						<ul>
							<% Card.all.each do |card| %>
								<li>
									<input name="card[<%= card.id %>]" type="checkbox" class="check" <%= "checked" if card.hotels.include?(@hotel) %>>
									<label for="client[attributes]"><%= card.card_type %></label>
								</li>
							<% end %>
						</ul>
					</div>
		  	</li>
				<li class="flwidth">							
					<label for="client_photos">Photos</label>
					<span class="drag-message">Click below or drag and drop to add pictures</span>
					<br />
					<div class="dropzone drag-drop-div" id="hotel-dropzone" />
				</li>
				<li class="flwidth">
					<span class="formLabel">Amenities and Facilities</span>
					<div class="checklist">
						<ul>
							<% @hotel_sorted_attributes = HotelAttribute.all(:order => :attr) %>
							<% @hotel_sorted_attributes.each do |attr| %>
								<li>
									<input name="client[attributes][<%= attr.id %>]" type="checkbox" class="check" <%= "checked" if attr.hotels.include?(@hotel) %>>
									<label for="client[attributes]"><%= attr.attr %></label>
								</li>
							<% end %>
						</ul>
					</div>
				</li>
		  </ul>	
		</fieldset>
		<fieldset class="formactions">
			<%= f.submit class: "pinkInput" %>
		</fieldset>
	<% end %>
</div>

<script>
	$(document).ready(function(){		
		console.log('step1');	
		Dropzone.options.hotelDropzone = {
			url: "/hotel_photos/<%= @hotel.id %>",
			addRemoveLinks: true,
			dictRemoveFileConfirmation: "Are you sure you want to remove this file?",
			paramName: "picture",
			success: function(file, response){
				file.id = response.id
			},
			init: function () {
				console.log('step2');
				<% if !@photos.blank? %>
				<% @photos.each do |photo| %>
					var mockFile = {id: "<%= photo.id %>", name: "<%= photo.picture_file_name %>", size: "<%= photo.picture_file_size %>", type: "<%= photo.picture_content_type %>" };
					this.options.addedfile.call(this, mockFile);
					this.options.thumbnail.call(this, mockFile, "<%= photo.picture.url %>");
				<% end %> 
				<% end %>   
      },
      removedfile: function(file) {
				$.ajax({
					type: 'DELETE',
					url: "/hotel_photos",
					data: { id: file.id, status: file.status},
					dataType: 'json'
					});
					var _ref;
					return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0; 
      
			}		 
		}
	});
	
</script>