<% content_for :title, "BestNights.com - Hotel" %>

<header>
	<h1 class="prop-title">Hotels</h1>
</header>

<%= form_tag hotels_path, :id => "search_form", :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div id="container-main">
	<% if can? :add, Hotel %>
	<div class="formactions">
		<%= link_to "Add", new_hotel_path %>
  </div>
  <% end %>
  <div class="scroll scroll-hor">
	<table class="admintablelist">
		<tr>
			<th>Name</th>
			<th>City</th>
			<th>State</th>
			<th>Address</th>
			<th>Status</th>
			<% if current_user.admin? %>
				<th>User</th>
			<% end %>
			<th colspan="2" align="center" class="center">Actions</th>
		</tr>
		<% @hotels.sort_by(&:name).each do |hotel| %>
		  <tr>
		  	<% if current_user.manager? and current_user.new_signup? %>
		  		<td><%= link_to hotel.name, new_room_path(:hotel_id => hotel.id) %></td>
		  	<% else %>
		  		<td><%= hotel.name %></td>
		  	<% end %>		  	
				<td><%= hotel.city %></td>
				<td><%= hotel.state.state_province unless hotel.state.nil? %></td>
				<td><%= hotel.address1 %></td>
				<% if current_user.admin? %>
					<% if hotel.status == "non-active" %>
						<td><%= link_to "Not Active", hotel_make_pending_path(hotel) %></td>
					<% elsif hotel.status == "pending" %>
						<td><%= link_to "Pending", hotel_confirm_path(hotel) %></td>
					<% else %>
						<td><%= hotel.status %></td>
					<% end %>
				<% end %>
				<% if current_user.admin? %>
				  <td><%= hotel.user.email %></td>
				<% end %>
				<% if can? :show, hotel %>
					<td><%= link_to "Show", hotel_path(hotel) %></td>
				<% end %>
				<% if can? :edit, hotel %>
					<td><%= link_to "Edit", edit_hotel_path(hotel) %></td>
				<% end %>	
				<% if can? :delete, hotel %>
					<td><%= link_to "Delete", hotel_path(hotel), :method => :delete %></td>
				<% end %>
		  </tr>
		<% end %>
	</table>
</div>
</div>

<%= javascript_include_tag :jquery_ujs %>