<% content_for :title, "BestNights.com - Add Hotel" %>

<header>
	<% if current_user.manager? %>
		<h1>Add another property</h1>
	<% else %>
		<h1>Add Hotel</h1>
	<% end %>
</header>

<% if current_user.new_signup? %>
	<%= link_to "Search Hotels", hotels_path %>
<% end %>
<div id="container-main">
	<%= form_for @hotel do |f| %>
		<fieldset>
		  <ul>
		  	<li>
		  		<%= f.label 'Hotel Name*' %>
		  		<%= f.text_field :name %>
		  	</li>		  	
		  	<li>
		  		<%= f.label "Address*" %>
		  		<%= f.text_field :address1 %>
		  	</li>
		  	<li>
		  		<%= f.label "City*" %>
		  		<%= f.text_field :city %>
		  	</li>
			  <li class="country">
			  	<%= f.label :country_id %>
					<%= f.country_select :country_id, priority: %w(US CA), prompt: 'Please select a country' %>
			  </li>
			  <li class="state">
			  	<label for="State/Province" style="float:left">State/Province</label>
							<%= render partial: '/hotels/test', locals: {parent_region: f.object.country_id} %>
			  </li>
		  	<li>
		  		<%= f.label "Zip/Postal Code*" %>
		  		<%= f.text_field :zip %>
		  	</li>
		  	<% if current_user.admin? %>
		  		<li>
			  		<%= f.label "Manager*" %>
			  		<%= f.select :user_id, options_for_select(User.all.map{|s|[s.email, s.id]}) %>
			  	</li>
			  <% end %>
			  <li class="taxCont">
				  <div>
						<%= f.label 'Tax1_label*' %>
						<%= f.text_field :tax1_label %>
					
						<%= f.label :tax1 %>
						<%= f.text_field :tax1 %>
					</div>
					<div>
						<%= f.label 'Tax2_label*' %>
						<%= f.text_field :tax2_label %>
					
						<%= f.label :tax2 %>
						<%= f.text_field :tax2 %>
					</div>
					<div>
						<%= f.label 'Tax3_label*' %>
						<%= f.text_field :tax3_label %>
					
						<%= f.label :tax3 %>
						<%= f.text_field :tax3 %>
					</div>
					<div>
						<%= f.label 'Tax4_label*' %>
						<%= f.text_field :tax4_label %>
					
						<%= f.label :tax4 %>
						<%= f.text_field :tax4 %>
					</div>
				</li>
				<li>
		  		<%= f.label 'Description*' %>
		  		<%= f.text_area :description %>
		  	</li>
		  </ul>	
		</fieldset>
		<fieldset class="formactions">
			<%= f.submit %>
		</fieldset>
	<% end %>
</div>
