<% content_for :title, "BestNights.com - Add Hotel" %>

<header>
	<h1>Add Hotel</h1>
</header>

<% if current_user.new_signup? %>
	<%= link_to "Search Hotels", hotels_path %>
<% end %>
<div id="container-main">
	<%= form_for @hotel do |f| %>
		<fieldset>
		  <ul>
		  	<li>
		  		<%= f.label 'Hotel Name*' %>
		  		<%= f.text_field :name %>
		  	</li>		  	
		  	<li>
		  		<%= f.label "Address*" %>
		  		<%= f.text_field :address1 %>
		  	</li>
		  	<li>
		  		<%= f.label "City*" %>
		  		<%= f.text_field :city %>
		  	</li>
		  	<li class="state">
			  	<%= f.label "State/Province*" %>
					<%= f.select :state_id, options_for_select(Country.first.states.map{|s|[s.state_province, s.id]}) %>
			  </li>
			  <li class="country">
			  	<%= f.label "Country" %>
					<%= f.select :country_id, options_for_select(Country.all.map{|s|[s.country, s.id]}) %>
			  </li>
		  	<li>
		  		<%= f.label "Zip/Postal Code*" %>
		  		<%= f.text_field :zip %>
		  	</li>
		  	<% if current_user.admin? %>
		  		<li>
			  		<%= f.label "Manager*" %>
			  		<%= f.select :user_id, options_for_select(User.all.map{|s|[s.email, s.id]}) %>
			  	</li>
			  <% end %>
			  <li>
					<%= f.label 'Tax1_label*' %>
					<%= f.text_field :tax1_label %>
				</li>
				<li>
					<%= f.label :tax1 %>
					<%= f.text_field :tax1 %>
				</li>
				<li>
					<%= f.label 'Tax2_label*' %>
					<%= f.text_field :tax2_label %>
				</li>
				<li>
					<%= f.label :tax2 %>
					<%= f.text_field :tax2 %>
				</li>
				<li>
					<%= f.label 'Tax3_label*' %>
					<%= f.text_field :tax3_label %>
				</li>
				<li>
					<%= f.label :tax3 %>
					<%= f.text_field :tax3 %>
				</li>
				<li>
					<%= f.label 'Tax4_label*' %>
					<%= f.text_field :tax4_label %>
				</li>
				<li>
					<%= f.label :tax4 %>
					<%= f.text_field :tax4 %>
				</li>
				<li>
		  		<%= f.label 'Description*' %>
		  		<%= f.text_area :description %>
		  	</li>
		  </ul>	
		</fieldset>
		<fieldset class="formactions">
			<%= f.submit %>
		</fieldset>
	<% end %>
</div>
