<% content_for :title, "BestNights.com - Add Hotel" %>

<header>
	<% if current_user.manager? %>
		<h1 class="prop-title">Add another property</h1>
	<% else %>
		<h1 class="prop-title">Add Hotel</h1>
	<% end %>
</header>

<% if current_user.new_signup? %>
	<%= link_to "Search Hotels", hotels_path %>
<% end %>
<div id="container-main" class="editrooms">
	<%= form_for @hotel do |f| %>
		<fieldset>
		  <ul>
		  	<li>
		  		<%= f.label 'Hotel Name*' %>
		  		<%= f.text_field(:name, class: "textfield") %>
		  	</li>		  	
		  	<li>
		  		<%= f.label "Address*" %>
		  		<%= f.text_field(:address1, class: "textfield") %>
		  	</li>
			  <li class="country">
			  	<%= f.label :country_id %>
				<%= f.country_select( :country_id, priority: %w(US CA), prompt: 'Please select a country', :class => "textfield" )  %>
			  </li>		  	
		  	<li>
		  		<%= f.label "City*" %>
		  		<%= f.text_field(:city, class: "textfield") %>
		  	</li>
			  <li class="state">
			  	<label for="State/Province" style="float:left">State/Province</label>
				<%= render partial: '/hotels/test', locals: {parent_region: f.object.country_id} %>
			  </li>
			  <li>
		  		<%= f.label "Phone" %>
		  		<%= f.text_field(:zip, class: "textfield") %>
		  	</li>
		  	<li>
		  		<%= f.label "Zip/Postal Code*" %>
		  		<%= f.text_field(:zip, class: "textfield") %>
		  	</li>
		  	<li>
		  		<%= f.label "Fax*" %>
		  		<%= f.text_field(:fax, class: "textfield") %>
		  	</li>
		  	<% if current_user.admin? %>
		  		<li>
			  		<%= f.label "Manager*" %>
			  		<%= f.select :user_id, options_for_select(User.where({:role => "manager", :status => "active"}).map{|s|[s.email, s.id]}) %>
			  	</li>
			  <% end %>
			  <li class="taxCont flwidth">
				  <div class="cleardv">			
						<%= f.label :tax1, class: "labl" %>
						<%= f.text_field(:tax1, class: "textfield") %>
					</div>
					<div class="cleardv">				
						<%= f.label :tax2, class: "labl" %>
						<%= f.text_field(:tax2, class: "textfield") %>
					</div>
					<div class="cleardv">					
						<%= f.label :tax3, class: "labl" %>
						<%= f.text_field(:tax3, class: "textfield") %>
					</div>
					<div class="cleardv">					
						<%= f.label :tax4, class: "labl" %>
						<%= f.text_field(:tax4, class: "textfield") %>
					</div>
				</li>
				<li class="flwidth">
		  		<%= f.label 'Description*' %>
		  		<%= f.text_area :description, class: "textarea" %>
		  	</li>
		  	<li class="flwidth">
		  		<%= f.label 'Cancellation Policy' %>
		  		<%= f.text_area :cancellation_policy, class: "textarea" %>
		  	</li>
		  	<li class="flwidth">
		  		<%= f.label 'Deposit Policy' %>
		  		<%= f.text_area :deposit_policy, class: "textarea" %>
		  	</li>
		  	<li class="flwidth">
		  		<%= f.label 'Children Policy' %>
		  		<%= f.text_area :children_policy, class: "textarea" %>
		  	</li>
		  	<li class="flwidth">
		  		<%= f.label 'Groups Policy' %>
		  		<%= f.text_area :groups_policy, class: "textarea" %>
		  	</li>
		  	<li class="flwidth">
		  		<%= f.label 'Internet Policy' %>
		  		<%= f.text_area :internet_policy, class: "textarea" %>
		  	</li>
		  	<li class="flwidth">
		  		<%= f.label 'Parking Policy' %>
		  		<%= f.text_area :parking_policy, class: "textarea" %>
		  	</li>
		  	<li class="flwidth">
		  		<%= f.label 'Pets Policy' %>
		  		<%= f.text_area :pets_policy, class: "textarea" %>
		  	</li>
		  </ul>	
		</fieldset>
		<fieldset class="formactions">
			<%= f.submit %>
			<% if current_user.admin? %>
				<%= link_to "Cancel", hotels_path %>
			<% else %>
				<%= link_to "Cancel", my_hotels_path %>
			<% end %>
		</fieldset>
	<% end %>
</div>
