<div id="container-main">
<h1 class="prop-title"><%= @hotel.name %>&nbsp;(Id: <%= @hotel.id %>)</h1>
<div class="conwrap">
<div id="container-main">
    <table width="100%"  border="0" cellpadding="0" cellspacing="0" class="chectoutTable">

    <tr>
        <td><strong>Address</strong></td>
        <td><%= @hotel.address1.titleize %>, <%= @hotel.city.titleize %></td>       
    </tr>
    <tr>
        <td><strong>Description</strong></td>
        <td><%= @hotel.description %></td>
    </tr>
    <tr><td><strong>Amenities and Facilities</strong></td>
        <td>
    <% @hotel_attributes.each do |ha| %>
        <span>
        <%= ha.attr.titleize %>
      </span>
    <% end %>
    </td>
    </tr>
    <tr>
        <td><strong>Photo</strong></td>
        <td>
    <% @hotel_photos.each do |photo| %>
      <span>
        <%= image_tag photo.picture.url %><br />
      </span>
    <% end %>
    </td>
    </tr>
    <tr>
        <td><strong>Cancellation Policy</strong></td>
        <td><%= @hotel.cancellation_policy %></td>
    </tr>
    <tr>
        <td><strong>Deposit Policy</strong></td>
        <td><%= @hotel.deposit_policy %></td>
    </tr>
    <tr>
        <td><strong>Children Policy</strong></td>
        <td><%= @hotel.children_policy %></td>
    </tr>
    <tr>
        <td><strong>Groups Policy</strong></td>
        <td><%= @hotel.groups_policy %></td>
    </tr>
    <tr>
        <td><strong>Internet Policy</strong></td>
        <td><%= @hotel.internet_policy %></td>
    </tr>
    <tr>
        <td><strong>Parking Policy</strong></td>
        <td><%= @hotel.parking_policy %></td>
    </tr>
    <tr>
        <td><strong>Pets Policy</strong></td>
        <td><%= @hotel.pets_policy %></td>
    </tr>
    <tr>
        <td><% if current_user.admin? %>
             <%= link_to "Add Contact", new_contact_person_path(hotel_id: @hotel.id ) %>
         <% end %></td>
         <td></td>
    </tr>
   
    <% if current_user.front_desk? and current_user.new_signup? %>
        <%= link_to "Register", register_hotel_path(@hotel), :method => :post %>
    <% end %>
</table>
</div>
</div>
<div class="row back-link bking">
  <% if current_user.admin? %>
    <%= link_to "Back", hotels_path , class: "link" %>
  <% else %>
    <%= link_to "Back", my_hotels_path , class: "link" %>
  <% end %>
</div>
</div>