<% content_for :title, "BestNights.com - Room Type" %>

<header>
	<h1 class="prop-title"><%= @promotion.coupon_code %></h1>
</header>

<div id="container-main">
	<span>
		<%= @promotion.transaction_item %>
	</span>	
	<br />
	<span>
		<%= @promotion.start_date %>
	</span>
	<br />	
	<span>
		<%= @promotion.expiry_date %>
	</span>
	<br />	
	<span>
		<%= @promotion.times_allowed %>
	</span>	
</div>
