<nav>
	<% if current_user.admin? %>
		<%= link_to image_tag("/assets/dashboard.png"), hotels_path, class: "dashboard-icon" %>	
	<% elsif current_user.manager? %>
		<%= link_to image_tag("/assets/dashboard.png"), my_hotels_path, class: "dashboard-icon" %>
	<% end %>

	<% if current_user.admin? %>
		<%= link_to "Dashboard" , my_hotels_path %>
		<%= link_to "Hotels", hotels_path %>
	<% end %>
	<% if current_user.admin? %>	
		<%= link_to "Hotel Amenities and Facilities", hotel_attributes_path %>
	<% end %>
	<% if current_user.admin? %>
		<%= link_to "Room Types", room_types_path %>
	<% end %>
	<% if current_user.manager? %>	
		<%= link_to "Dashboard" , my_hotels_path %>
		<%= link_to "My Hotels", my_hotels_path %>
	<% end %>
	<% if current_user.admin? %>
		<%= link_to "Rooms", rooms_path %>
	<% end %>
	<% if current_user.admin? %>	
		<%= link_to "Room Attributes", room_attributes_path %>
	<% end %>
	<% if can? :index, Promotion %>	
		<%= link_to "Promotions", promotions_path %>
	<% end %>
	<% if can? :index, Venue %>	
		<%= link_to "Venues", venues_path %>
	<% end %>
	<% if can? :index, Card %>	
		<%= link_to "Cards", cards_path %>
	<% end %>
	<% if can? :index, User %>	
		<%= link_to "Users", users_path %>
	<% end %>	
	<% if can? :index, Traveler %>	
		<%= link_to "Travelers", travelers_path %>
	<% end %>
	<% if current_user.admin? || current_user.manager? %>	
		<%= link_to "Rate Categories", rate_categories_path %>
	<% end %>
	<% if current_user.admin?  %>	
		<%= link_to "Contacts Designation", positions_path %>
	<% end %>
	<% if current_user.admin?  %>
		<% if PrivacyPolicy.first.blank? %>	
			<%= link_to "Manage Privacy Policy", new_privacy_policy_path %>
		<% else %>
			<%= link_to "Manage Privacy Policy", edit_privacy_policy_path(PrivacyPolicy.first.id) %>
		<% end %>
	<% end %>
	<% if current_user.admin?  %>
		<% if Term.first.blank? %>
			<%= link_to "Manage Terms and Conditions", new_term_path %>
		<% else %>
			<%= link_to "Manage Terms and Conditions", edit_term_path(Term.first.id) %>
		<% end %>
		<% if AboutU.first.blank? %>
			<%= link_to "Manage About Us", new_about_u_path %>
		<% else %>
			<%= link_to "Manage About Us", edit_about_u_path(AboutU.first.id) %>
		<% end %>
		<% if SiteContact.first.blank? %>
			<%= link_to "Manage Contact", new_site_contact_path %>
		<% else %>
			<%= link_to "Manage Contact", edit_site_contact_path(SiteContact.first) %>
		<% end %>
			<%= link_to "Manage FAQ Category", new_faq_category_path %>
			<%= link_to "Manage FAQ", new_faq_path %>
	<% end %>	
</nav>