<nav>	
	<% if current_user.admin? %>
		<%= link_to "Hotels", hotels_path %>
	<% end %>
	<% if current_user.admin? %>	
		<%= link_to "Hotel Attributes", hotel_attributes_path %>
	<% end %>
	<% if current_user.admin? %>
		<%= link_to "Room Types", room_types_path %>
	<% end %>
	<% if current_user.manager? %>	
		<%= link_to "My Hotels", my_hotels_path %>
	<% end %>
	<% if can? :index, Room %>
		<%= link_to "Rooms", rooms_path %>
	<% end %>
	<% if can? :index, Availability %>
		<%= link_to "Availabilities", availabilities_path %>
	<% end %>
	<% if current_user.admin? %>	
		<%= link_to "Room Attributes", room_attributes_path %>
	<% end %>
	<% if can? :index, Promotion %>	
		<%= link_to "Promotions", promotions_path %>
	<% end %>
	<% if can? :index, Venue %>	
		<%= link_to "Venues", venues_path %>
	<% end %>
	<% if can? :index, Card %>	
		<%= link_to "Cards", cards_path %>
	<% end %>
	<% if can? :index, DefaultMessage %>	
		<%= link_to "Default Messages", default_messages_path %>
	<% end %>
	<% if can? :index, User %>	
		<%= link_to "Users", users_path %>
	<% end %>	
	<% if can? :index, Traveler %>	
		<%= link_to "Travelers", travelers_path %>
	<% end %>
	<% if current_user.admin? || current_user.manager? %>	
		<%= link_to "Rate Categories", rate_categories_path %>
	<% end %>
	<% if current_user.admin?  %>	
		<%= link_to "Set Commission", new_commission_rate_path %>
	<% end %>
	<% if current_user.admin?  %>	
		<%= link_to "Contacts Designation", positions_path %>
	<% end %>	
</nav>