<nav>	
	<%= link_to "Add Hotel", new_hotel_path %>
	<%= link_to "Add Manager", new_manager_path %>
	<%= link_to "Add Room Type", new_room_type_path %>
	<%= link_to "Add Bed Type", new_bed_type_path %>
	<%= link_to "Add Hotel Attribute", new_hotel_attribute_path %>
	<%= link_to "Add Room Attribute", new_room_attribute_path %>
	<%= link_to "Add Promotion", '#' %>
	<%= link_to "Add Message", new_message_path %>
	<%= link_to "Add Traveler", new_traveler_path %>
</nav>