<head id="www-bestnights-ca">

	<meta charset="utf-8">
	
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title><%= yield(:title) %></title>
	

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<!-- <link rel="shortcut icon" href="/images/favicon.ico" /> -->
		 
	<!-- <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" /> -->
	
	<%= include_gon %>
	<%= stylesheet_link_tag :default,  media: :all %>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,500,200' rel='stylesheet' type='text/css'>
	
	<!-- Lea Verou's Prefix Free, lets you use only un-prefixed properties in yuor CSS files -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<%= javascript_include_tag :application %>
	
	<%= javascript_include_tag "jquery-ui-1.10.4.custom.min" %>
	<%= javascript_include_tag "modernizr-2.7.0.dev" %>
	<%= javascript_include_tag "prefixfree.min" %>
	<%= javascript_include_tag "jquery.uniform.min" %>
	<%= javascript_include_tag "dropzone" %>	
	<%= javascript_include_tag "jquery.gridster.min" %>
	<%= javascript_include_tag "jquery.stickyfloat" %>
	<%= javascript_include_tag "tinycolor-0.9.16.min" %>
	<%= javascript_include_tag "jgallery.min" %>
	<%= javascript_include_tag "ICanHaz.min" %>
	
	
	
	<script>window.jQuery || document.write("<script src='./js/jquery-1.10.2.min.js'>\x3C/script>")</script>
		
	<!-- This is an un-minified, complete version of Modernizr. 
		 Before you move to production, you should generate a custom build that only has the detects you need. -->
	
	<!-- Application-specific meta tags -->
	<!-- Windows 8 -->
	<meta name="application-name" content="" /> 
	<meta name="msapplication-TileColor" content="" /> 
	<meta name="msapplication-TileImage" content="" />
	<!-- Twitter -->
	<meta name="twitter:card" content="">
	<meta name="twitter:site" content="">
	<meta name="twitter:title" content="">
	<meta name="twitter:description" content="">
	<meta name="twitter:url" content="">
	<!-- Facebook -->
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="" />

</head>