<footer>
	<div id="footer1">
		<nav>
			<ul>
				<li>Customer Service</li>
				<li><%= link_to "Contact Us", new_contact_path %></li>
				<li><%= link_to "FAQs", faq_path %></li>
				<li><%= link_to "Privacy Policy", privacy_path %></li>
				<li><%= link_to "Terms & Conditions", terms_of_service_path %></li>
			</ul>
			
			<ul>
				<li>Bestnights.com</li>
				<li><a href="/about">About Us</a></li>
				<li><%= link_to "add your property", welcome_path %></li>
				<li><%= link_to "Feedback", new_contact_path %></li>				
			</ul>
		</nav>
		<ul>
			<li>We Guarantee</li>
			<li>Booking is safe. When you book with us your details are protected by a secure connection.</li>
			<li>Your privacy is protected. Your details will only be used to guarantee your booking.</li>
			<li>No booking fees. Best Nights services are always free, so you save money.</li>
			<li>Best Price Guarantee. Found your room online at a lower price? We'll match it.</li>
		</ul>
		<p><%= link_to "Add Your Property", welcome_path , class: "addProperty" %> <%= link_to "Hotelier Login", new_user_session_path,  class: "addHotelier"%></p>
	</div>
	<div id="footerend">
		<p id="copyright">&copy; Copyright BestNights.com 2014. All Rights Reserved.</p>
		<nav>
			<a href="#">home</a><span> &bull; </span>
			<%= link_to "terms of service", terms_of_service_path %><span> &bull; </span> 
			<%= link_to "Privacy Policy", privacy_path %><span> &bull; </span>
			<%= link_to "contact us", new_contact_path %><span> &bull; </span>
			<%= link_to "Help", new_contact_path %>
		</nav>
	</div>
</footer>