<div class="sidebarmenu">
  <ul id="sidebarmenu1">
    <% if current_user.admin? || current_user.manager?  %>
      <li><%= link_to "Arrivals", arrivals_path, class: "active" %>
        <div class="progressbar">&nbsp;</div>
      </li>
      <li><%= link_to "Bookings", bookings_path %></li>
      <li><%= link_to "Statistics",  statistics_path %></li>
      <li><%= link_to "Manage Rooms",  rooms_path %></li>
      <li><%= link_to "Rates & Availability", rates_path %>
        <ul>
          <li><%= link_to "Change Room Rate", new_rate_path %></li>
          <li><%= link_to "Adjust Rooms To Sell", new_room_available_path %></li>
          <li><%= link_to "Open/Close Rooms", edit_room_available_path(1) %></li>
          <li><%= link_to "Copy Yearly Rates", copy_yearly_rates_path %></li>
        </ul>
      </li>
      <li><%= link_to "Overview", overview_path %></li>
      <li><%= link_to "Finance", finance_path %>
        <ul>
          <li><%= link_to "Information", finance_info_path %></li>
          <li><%= link_to "Reservation Statements", reservation_statements_path %></li>
          <li><%= link_to "Invoices", invoice_path %></li>
          <li><%= link_to "Invoice Details", invoicing_details_path %></li>
        </ul>
      </li>
    <% end %>
  </ul>
</div>