<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 ie-lt10 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!-- the "no-js" class is for Modernizr. --> 

	<%= render :partial => "common/head" %>
	<body>
		<p class="success"><%= flash[:success] %></p>
		
		<div id="adminwrapper">
			<div id="eyebrow">
				<%= render :partial => "common/profile_info_nav" %>
				<%= image_tag("logo.png") %>
				<% unless current_user.new_signup? %>
					<%= render :partial => "common/admin_nav_tab" %>
			  <% end %>
			</div>
			<% if current_user and !current_user.activated? %>
			  <p>Your account is pending now</p>
			<% end %>

			<%= render :partial => "common/notifications" %>
								
		  <%= yield %>
		  
			<footer>
				<div>
					<p id="copyright"><small>&copy; Copyright BestNights.com 2014. All Rights Reserved.</small></p>
					<nav></nav>
				</div>
			</footer>
		</div>
	</body>
</html>